In [8]:
import sqlite3
conn = sqlite3.connect('demo_data.sqlite3')
cursor = conn.cursor()
print("Opened database successfully")

Opened database successfully

In [3]:
cursor.execute('''CREATE TABLE demo
         (S             TEXT NOT NULL,
          x           INT    NOT NULL,
          y            INT     NOT NULL);''')

In [5]:


cursor.execute("INSERT INTO demo (s,x,y) \
      VALUES ('g', 3, 9)");
cursor.execute("INSERT INTO demo (s,x,y) \
      VALUES ('v', 5, 7)");
cursor.execute("INSERT INTO demo (s,x,y) \
      VALUES ('f', 8, 7)");
conn.commit()

In [9]:
#number of rows
cursor.execute('''
SELECT COUNT(*) 
FROM demo;''')
print(cursor.fetchall())

[(3,)]

In [11]:
#number of rows with both x and y >= 5
cursor.execute('''
SELECT COUNT(*) 
FROM demo
WHERE x >= 5 AND y >=5;''')
print(cursor.fetchall())

[(2,)]

In [12]:
#number of unique y
cursor.execute('''SELECT COUNT(DISTINCT y) 
FROM demo;''')
print(cursor.fetchall())

[(2,)]