In [1]:
import sqlite3
conn = sqlite3.connect('northwind_small.sqlite3')
cursor = conn.cursor()
print("Opened database successfully")

Opened database successfully

In [8]:
#ten most expensive products and their prices
cursor.execute(''' SELECT ProductName, UnitPrice
FROM Product
ORDER BY UnitPrice DESC 
LIMIT 10;''')
print(cursor.fetchall())

[('Côte de Blaye', 263.5), ('Thüringer Rostbratwurst', 123.79), ('Mishi Kobe Niku', 97), ("Sir Rodney's Marmalade", 81), ('Carnarvon Tigers', 62.5), ('Raclette Courdavault', 55), ('Manjimup Dried Apples', 53), ('Tarte au sucre', 49.3), ('Ipoh Coffee', 46), ('Rössle Sauerkraut', 45.6)]

In [16]:
#avg hiring age
cursor.execute('''SELECT ROUND(AVG(HireDate - BirthDate))
FROM Employee;''')
print(cursor.fetchall())

[(37.0,)]

In [10]:
#avg hiring age by city
cursor.execute('''SELECT City, AVG(HireDate - BirthDate)
FROM Employee
GROUP BY City;''')
print(cursor.fetchall())

[('Kirkland', 29.0), ('London', 32.5), ('Redmond', 56.0), ('Seattle', 40.0), ('Tacoma', 40.0)]

In [18]:
#ten most expensive items and suppliers
cursor.execute('''
SELECT ProductName, UnitPrice, CompanyName
FROM Product
JOIN Supplier
ON product.supplierid = supplier.id
ORDER BY UnitPrice DESC
LIMIT 10;''')
print(cursor.fetchall())

[('Côte de Blaye', 263.5, 'Aux joyeux ecclésiastiques'), ('Thüringer Rostbratwurst', 123.79, 'Plutzer Lebensmittelgroßmärkte AG'), ('Mishi Kobe Niku', 97, 'Tokyo Traders'), ("Sir Rodney's Marmalade", 81, 'Specialty Biscuits, Ltd.'), ('Carnarvon Tigers', 62.5, 'Pavlova, Ltd.'), ('Raclette Courdavault', 55, 'Gai pâturage'), ('Manjimup Dried Apples', 53, "G'day, Mate"), ('Tarte au sucre', 49.3, "Forêts d'érables"), ('Ipoh Coffee', 46, 'Leka Trading'), ('Rössle Sauerkraut', 45.6, 'Plutzer Lebensmittelgroßmärkte AG')]

In [19]:
#largest number of unique products in category
cursor.execute('''SELECT CategoryName, COUNT(ProductName)
FROM Product
JOIN Category
ON Product.CategoryID=Category.ID 
GROUP BY CategoryID 
ORDER BY COUNT(CategoryID) DESC 
LIMIT 1;''')
print(cursor.fetchall())

[('Confections', 13)]

In [20]:
#man with most territories
cursor.execute('''SELECT FirstName, LastName, COUNT(TerritoryID)
FROM Employee 
JOIN EmployeeTerritory 
ON Employee.ID=EmployeeTerritory.EmployeeID 
GROUP BY Employee.ID ORDER BY COUNT(TerritoryID) DESC
LIMIT 1;''')
print(cursor.fetchall())

[('Robert', 'King', 10)]