<a href="https://colab.research.google.com/github/Nov05/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/2019_08_12_Unit_3_Sprint_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# created by nov05 on 2019-08-12
# https://github.com/Nov05/DS-Unit-3-Sprint-2-SQL-and-Databases
# DS-Unit-3-Sprint-2-SQL-and-Databases

In [0]:
!python --version
# Python 3.6.8

Python 3.6.8

In [0]:
# Runtime -> Change runtime type -> Hardware accelerator -> GPU
# https://colab.research.google.com/github/Con-Mi/Pattern-Recognition-and-Machine-Learning/blob/master/PyTorch_0_4_1_with_CUDA_9_2_backend.ipynb
# https://colab.research.google.com/drive/1EUvGhh8uVwf0lsuT-oSQ1a21GnisIYD1
# NVIDIA profiling tool for the available GPU
!nvidia-smi

Tue Aug 13 08:25:27 2019
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 418.67       Driver Version: 410.79       CUDA Version: 10.0     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|===============================+======================+======================|
|   0  Tesla K80           Off  | 00000000:00:04.0 Off |                    0 |
| N/A   36C    P8    27W / 149W |      0MiB / 11441MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                       GPU Memory |
|  GPU       PID   Type   Process name                             Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [0]:
# https://colab.research.google.com/drive/1_x67fw9y5aBW72a8aGePFLlkPvKLpnBl
# https://towardsdatascience.com/google-colab-59ad8510eb7e
!cat /proc/version
# !cat /proc/cpuinfo
# !cat /proc/meminfo

Linux version 4.14.79+ (chrome-bot@swarm-cros-634) (gcc version 4.9.x 20150123 (prerelease) (4.9.2_cos_gg_4.9.2-r193-ac6128e0a17a52f011797f33ac3e7d6273a9368d_4.9.2-r193)) #1 SMP Wed Dec 19 21:19:13 PST 2018

# Week 11 Day 1  

11.13. sqlite3 — DB-API 2.0 interface for SQLite databases  
https://docs.python.org/3.7/library/sqlite3.html#

In [0]:
# Note: the actual database file "example.db" is in your local hard disk.
#       so if you want to execute the same table creation SQL again without error message,
#       delete the file "example.db" in your local environment or Colab, or reset all runtimes in Colab...

# Note: table creation SQL is Data Definition Language (DDL)
#       data insertion and selection is Data Manipulation Language (DML)

import sqlite3

conn = sqlite3.connect('example.db') # or any name with .db extension

############################################################
# Create a cursor for table creation and data insertion
############################################################
c = conn.cursor()

# Create table
c.execute('''CREATE TABLE stocks
             (date text, trans text, symbol text, qty real, price real)''')

# Insert a row of data
c.execute("INSERT INTO stocks VALUES ('2006-01-05', 'BUY', 'RHAT', 100, 35.14)")

# Larger example that inserts many records at a time
purchases = [('2006-03-28', 'BUY', 'IBM', 1000, 45.00),
             ('2006-04-05', 'BUY', 'MSFT', 1000, 72.00),
             ('2006-04-06', 'SELL', 'IBM', 500, 53.00),
            ]
c.executemany('INSERT INTO stocks VALUES (?,?,?,?,?)', purchases)

# Note: table creation and data insertion would change the database,
#       so a commit is needed if you want the change to be written in the .db file.
#       however for the database in the memory, it doesn't need a commit... ¯\_(ツ)_/¯

conn.commit() # save (commit) the changes
c.close() # close the cursor

############################################################
# Create a cursor for data selection
############################################################
c = conn.cursor()

t = ('RHAT',)
c.execute('SELECT * FROM stocks WHERE symbol=?', t)
print(c.fetchone())

t = ('IBM',)
c.execute('SELECT * FROM stocks WHERE symbol=?', t)
print(c.fetchall())

# Note: data selection SQL doesn't change the database,
#       so it doesn't need a commit "conn.commit()". 
c.close()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
[('2006-03-28', 'BUY', 'IBM', 1000.0, 45.0), ('2006-04-06', 'SELL', 'IBM', 500.0, 53.0)]

In [0]:
import sqlite3
conn = sqlite3.connect('example.db') # or any name with .db extension
c = conn.cursor()
t = ('RHAT',)
c.execute('SELECT * FROM stocks WHERE symbol=?', t)
print(c.fetchone())

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)

In [0]:
# Note: in this case, sqlite3.connect(":memory:") actually creates database in the memory,
#       so if it is in Colab, just reset the runtime (Ctrl+M.) to reset everything...

############################################################
# A minimal SQLite shell for experiments
############################################################
import sqlite3

con = sqlite3.connect(":memory:")
con.isolation_level = None
cur = con.cursor()

buffer = ""

print("Enter your SQL commands to execute in sqlite3.")
print("Enter a blank line to exit.")

while True:
    line = input()
    if line == "":
        break
    buffer += line
    if sqlite3.complete_statement(buffer):
        try:
            buffer = buffer.strip()
            cur.execute(buffer)
            
            if buffer.lstrip().upper().startswith("SELECT"):
                print(cur.fetchall())
        except sqlite3.Error as e:
            print("An error occurred:", e.args[0])
        buffer = ""
        
con.close()

# how does it commit? - for in-memory database it doesn't need a commit...

# e.g. 
# CREATE TABLE stocks (date text, trans text, symbol text, qty real, price real);
# INSERT INTO stocks VALUES ('2006-01-05', 'BUY', 'RHAT', 100, 35.14);
# SELECT * FROM stocks WHERE symbol='RHAT';

Enter your SQL commands to execute in sqlite3.
Enter a blank line to exit.
CREATE TABLE stocks (date text, trans text, symbol text, qty real, price real);
INSERT INTO stocks VALUES ('2006-01-05', 'BUY', 'RHAT', 100, 35.14);
SELECT * FROM stocks WHERE symbol='RHAT';
[('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)]

In [0]:
s = "SELECT * FROM stocks WHERE symbol='RHAT'"
s.lstrip().upper().startswith("SELECT")

True

In [0]:
# !wget https://www.sqlite.org/src/tarball/27392118/SQLite-27392118.tar.gz
    
# --2019-08-13 08:13:01--  https://www.sqlite.org/src/tarball/27392118/SQLite-27392118.tar.gz
# Resolving www.sqlite.org (www.sqlite.org)... 45.33.6.223, 2600:3c00::f03c:91ff:fe96:b959
# Connecting to www.sqlite.org (www.sqlite.org)|45.33.6.223|:443... connected.
# HTTP request sent, awaiting response... 503 Server Overload
# 2019-08-13 08:13:01 ERROR 503: Server Overload.

<img src="https://github.com/Nov05/pictures/blob/master/pic001/2019-08-13%2003_10_22-SQLite_%20Server%20Overload.png?raw=true" width="400">  

Hahaha...

# Install SQLite3 Command Line

In [0]:
# install sqlite3 command line

# https://linuxhint.com/install_sqlite_browser_ubuntu_1804/
!sudo apt-get update
!sudo apt-get install sqlite3
# !sudo apt-get install libsqlite3-dev
!sqlite3 --version
# sqlite3 is already the newest version (3.22.0-1ubuntu0.1).
# 3.22.0 2018-01-22 18:45:57 0c55d179733b46d8d0ba4d88e01a25e10677046ee3da1d5b1581e86726f2alt1

Command Line Shell for SQLite  
https://sqlite.org/cli.html

In [0]:
# it is silly to run SQLite3 command line in Colab.
# But it works somehow...

!sqlite3
# sqlite> create table tbl1(one varchar(10), two smallint);
# sqlite> insert into tbl1 values('hello!',10);
# sqlite> insert into tbl1 values('goodbye', 20);
# sqlite> select * from tbl1;
# hello!|10
# goodbye|20
# sqlite> .mode quote    # or .mode list
# sqlite> .separator ", "
# sqlite> select * from tbl1;
# 'hello!',10
# 'goodbye',20
# sqlite> .output test.csv
# sqlite> select * from tbl1;
# sqlite> .exit

SQLite version 3.22.0 2018-01-22 18:45:57
Enter ".help" for usage hints.
Connected to a transient in-memory database.
Use ".open FILENAME" to reopen on a persistent database.
sqlite> create table tbl1(one varchar(10), two smallint);
sqlite> insert into tbl1 values('hello!',10);
sqlite> insert into tbl1 values('goodbye', 20);
sqlite> select * from tbl1;
hello!|10
goodbye|20
sqlite> .mode quote
sqlite> .separator ", "
sqlite> select * from tbl1;
'hello!',10
'goodbye',20
sqlite> .output test.csv
sqlite> select * from tbl1;
sqlite> .exit

In [0]:
# check the local file just created
!cat test.csv

'hello!',10
'goodbye',20

In [0]:
# get sqlite3 file
!wget https://github.com/Nov05/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module1-introduction-to-sql/rpg_db.sqlite3
    
!sqlite3
# SQLite version 3.22.0 2018-01-22 18:45:57
# Enter ".help" for usage hints.
# Connected to a transient in-memory database.
# Use ".open FILENAME" to reopen on a persistent database.
# sqlite> .open rpg_db.sqlite3
# sqlite> SELECT name FROM sqlite_master WHERE type='table';
# Error: file is not a database
# sqlite> .exit

# Install Latest Version of SQLite on Linux

Install SQLite on Linux (or Windows/Mac)  
https://www.tutorialspoint.com/sqlite/sqlite_installation.htm  

Download page  
https://www.sqlite.org/download.html#win32

In [0]:
!wget https://www.sqlite.org/2019/sqlite-autoconf-3290000.tar.gz
!tar xvfz sqlite-autoconf-3290000.tar.gz
%cd sqlite-autoconf-3290000
!./configure --prefix=/usr/local
!make
!make install

# make[1]: Entering directory '/content/sqlite-autoconf-3290000'
#  /bin/mkdir -p '/usr/local/lib'
#  /bin/bash ./libtool   --mode=install /usr/bin/install -c   libsqlite3.la '/usr/local/lib'
# libtool: install: /usr/bin/install -c .libs/libsqlite3.so.0.8.6 /usr/local/lib/libsqlite3.so.0.8.6
# libtool: install: (cd /usr/local/lib && { ln -s -f libsqlite3.so.0.8.6 libsqlite3.so.0 || { rm -f libsqlite3.so.0 && ln -s libsqlite3.so.0.8.6 libsqlite3.so.0; }; })
# libtool: install: (cd /usr/local/lib && { ln -s -f libsqlite3.so.0.8.6 libsqlite3.so || { rm -f libsqlite3.so && ln -s libsqlite3.so.0.8.6 libsqlite3.so; }; })
# libtool: install: /usr/bin/install -c .libs/libsqlite3.lai /usr/local/lib/libsqlite3.la
# libtool: install: /usr/bin/install -c .libs/libsqlite3.a /usr/local/lib/libsqlite3.a
# libtool: install: chmod 644 /usr/local/lib/libsqlite3.a
# libtool: install: ranlib /usr/local/lib/libsqlite3.a
# libtool: finish: PATH="/usr/local/nvidia/bin:/usr/local/cuda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/tools/node/bin:/tools/google-cloud-sdk/bin:/opt/bin:/sbin" ldconfig -n /usr/local/lib
# ----------------------------------------------------------------------
# Libraries have been installed in:
#    /usr/local/lib

# If you ever happen to want to link against installed libraries
# in a given directory, LIBDIR, you must either use libtool, and
# specify the full pathname of the library, or use the '-LLIBDIR'
# flag during linking and do at least one of the following:
#    - add LIBDIR to the 'LD_LIBRARY_PATH' environment variable
#      during execution
#    - add LIBDIR to the 'LD_RUN_PATH' environment variable
#      during linking
#    - use the '-Wl,-rpath -Wl,LIBDIR' linker flag
#    - have your system administrator add LIBDIR to '/etc/ld.so.conf'

# See any operating system documentation about shared libraries for
# more information, such as the ld(1) and ld.so(8) manual pages.
# ----------------------------------------------------------------------
#  /bin/mkdir -p '/usr/local/bin'
#   /bin/bash ./libtool   --mode=install /usr/bin/install -c sqlite3 '/usr/local/bin'
# libtool: install: /usr/bin/install -c sqlite3 /usr/local/bin/sqlite3
#  /bin/mkdir -p '/usr/local/include'
#  /usr/bin/install -c -m 644 sqlite3.h sqlite3ext.h '/usr/local/include'
#  /bin/mkdir -p '/usr/local/share/man/man1'
#  /usr/bin/install -c -m 644 sqlite3.1 '/usr/local/share/man/man1'
#  /bin/mkdir -p '/usr/local/lib/pkgconfig'
#  /usr/bin/install -c -m 644 sqlite3.pc '/usr/local/lib/pkgconfig'
# make[1]: Leaving directory '/content/sqlite-autoconf-3290000'

In [0]:
# check version==3.29.0
!sqlite3 --version
# 3.29.0 2019-07-10 17:32:03 fc82b73eaac8b36950e527f12c4b5dc1e147e6f4ad2217ae43ad82882a88bfa6

3.29.0 2019-07-10 17:32:03 fc82b73eaac8b36950e527f12c4b5dc1e147e6f4ad2217ae43ad82882a88bfa6

In [0]:
# # updata python package version - error
# !pip install --upgrade pysqlite

# Collecting pysqlite
#   Downloading https://files.pythonhosted.org/packages/42/02/981b6703e3c83c5b25a829c6e77aad059f9481b0bbacb47e6e8ca12bd731/pysqlite-2.8.3.tar.gz (80kB)
#      |████████████████████████████████| 81kB 3.1MB/s 
# ERROR: Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.

In [0]:
!printenv LD_LIBRARY_PATH
# Runtime type NONE: /usr/local/nvidia/lib:/usr/local/nvidia/lib64
# Runtime type GPU: /usr/lib64-nvidia

# it seems we can't change the path in this way in Colab...
!export LD_LIBRARY_PATH="/usr/local/lib"
!printenv LD_LIBRARY_PATH
!!python -c "import sqlite3; print(sqlite3.sqlite_version)"

/usr/local/lib
/usr/local/lib

['3.29.0']

In [0]:
# however this would work
import os
print(os.getcwd())
os.environ['LD_LIBRARY_PATH'] = "/usr/local/lib"
print(os.environ['LD_LIBRARY_PATH'])

/content
/usr/local/lib

In [0]:
import sqlite3
import pandas as pd

# The version number of this module, as a string. 
# This is not the version of the SQLite library.
print(sqlite3.version) # 2.6.0

# The version number of the run-time SQLite library, as a string.
print(sqlite3.sqlite_version) # 3.22.0

# https://unix.stackexchange.com/questions/434100/updating-the-sqlite-version-used-by-python-3-on-centos-7
#!export LD_LIBRARY_PATH=/usr/local/sqlite-3.22.0/lib
!python -c "import sqlite3; print(sqlite3.sqlite_version)" # 3.22.0 or 3.29.0

2.6.0
3.22.0
3.29.0

### Day 1 Assignment Database "rpg_db.sqlite3"

https://github.com/Nov05/DS-Unit-3-Sprint-2-SQL-and-Databases/tree/master/module1-introduction-to-sql  

<img src="https://github.com/Nov05/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module1-introduction-to-sql/schema.png?raw=true">

# Found what caused the error "file is not a database"... YEAH~!

In [0]:
# get sqlite3 file

import os
os.chdir('/content')
print(os.getcwd())

# somehow file "rpg_db.sqlite3" is only 65.39K (incomplete), file "rpg_db.sqlite3?raw=true" is 248K (complete)...
# !wget https://github.com/Nov05/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module1-introduction-to-sql/rpg_db.sqlite3
# !rm rpg_db.sqlite3 # delete the incomplete file
# !mv rpg_db.sqlite3?raw=true rpg_db.sqlite3 # rename the complete file

!wget -cO - https://github.com/Nov05/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module1-introduction-to-sql/rpg_db.sqlite3?raw=true > rpg_db.sqlite3

In [0]:
import pandas as pd
import sqlite3
conn = sqlite3.connect("rpg_db.sqlite3")
c = conn.cursor()
############################################################
# list all tables
############################################################
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(c.fetchall())
pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)

[('django_migrations',), ('sqlite_sequence',), ('auth_group',), ('auth_group_permissions',), ('auth_user_groups',), ('auth_user_user_permissions',), ('django_admin_log',), ('armory_item',), ('armory_weapon',), ('django_content_type',), ('auth_permission',), ('auth_user',), ('charactercreator_character_inventory',), ('charactercreator_necromancer',), ('django_session',), ('charactercreator_character',), ('charactercreator_cleric',), ('charactercreator_fighter',), ('charactercreator_mage',), ('charactercreator_thief',)]

                                    name
0                      django_migrations
1                        sqlite_sequence
2                             auth_group
3                 auth_group_permissions
4                       auth_user_groups
5             auth_user_user_permissions
6                       django_admin_log
7                            armory_item
8                          armory_weapon
9                    django_content_type
10                       auth_permission
11                             auth_user
12  charactercreator_character_inventory
13          charactercreator_necromancer
14                        django_session
15            charactercreator_character
16               charactercreator_cleric
17              charactercreator_fighter
18                 charactercreator_mage
19                charactercreator_thief

### Day 1 Assignment Database "users"

### SQLite operations

https://github.com/Nov05/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module1-introduction-to-sql/buddymove_holidayiq.csv

In [0]:
# set current work directory='/content'
import os
os.chdir('/content')
print(os.getcwd())
!wget https://raw.githubusercontent.com/Nov05/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module1-introduction-to-sql/buddymove_holidayiq.csv

In [0]:
import pandas as pd
import sqlite3

url = "https://raw.githubusercontent.com/Nov05/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module1-introduction-to-sql/buddymove_holidayiq.csv"
tname = 'reviews'
conn = sqlite3.connect(":memory:")

df = pd.read_csv(url)
df.to_sql(tname, conn, if_exists='append', index=False)

c = conn.cursor()

# list all tables
# DatabaseError: file is not a database
c.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(c.fetchall())
pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)

[('reviews',)]

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:2531: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype, method=method)

      name
0  reviews

### SQLite fetch column information

In [0]:
############################################################
# fetch column information
############################################################
sql = "PRAGMA table_info(reviews);"
c.execute(sql)
print(c.fetchall())
pd.read_sql(sql, conn)

[(0, 'User Id', 'TEXT', 0, None, 0), (1, 'Sports', 'INTEGER', 0, None, 0), (2, 'Religious', 'INTEGER', 0, None, 0), (3, 'Nature', 'INTEGER', 0, None, 0), (4, 'Theatre', 'INTEGER', 0, None, 0), (5, 'Shopping', 'INTEGER', 0, None, 0), (6, 'Picnic', 'INTEGER', 0, None, 0)]

   cid       name     type  notnull dflt_value  pk
0    0    User Id     TEXT        0       None   0
1    1     Sports  INTEGER        0       None   0
2    2  Religious  INTEGER        0       None   0
3    3     Nature  INTEGER        0       None   0
4    4    Theatre  INTEGER        0       None   0
5    5   Shopping  INTEGER        0       None   0
6    6     Picnic  INTEGER        0       None   0

In [0]:
sql = "select count('User Id') from reviews;"
c.execute(sql)
print(c.fetchall())
pd.read_sql(sql, conn)

[(249,)]

   count('User Id')
0               249

In [0]:
# SELECT UNIQUE is an Oracle-only SQL statement. 
# It is equivalent to SELECT DISTINCT.

sql = "select count(distinct Sports) from reviews;"
c.execute(sql)
print(c.fetchall())
pd.read_sql(sql, conn)

[(14,)]

   count(distinct Sports)
0                      14

In [0]:
# How many users who reviewed at least 100 Nature in the category 
# also reviewed at least 100 in the Shopping category?

sql = "select count(*) from reviews where Nature >= 100;"
c.execute(sql)
print(c.fetchall())
pd.read_sql(sql, conn)

[(160,)]

   count(*)
0       160

In [0]:
# (Stretch) What are the average number of reviews for each category?

sql = "select avg(Sports), avg(Religious) from reviews;"
c.execute(sql)
print(c.fetchall())
pd.read_sql(sql, conn)

[(11.987951807228916, 109.77911646586345)]

   avg(Sports)  avg(Religious)
0    11.987952      109.779116

### SQLite get column names

https://sqlite.org/pragma.html

In [0]:
sql = """select name from PRAGMA_TABLE_INFO('reviews');"""
c.execute(sql)
print(c.fetchall())
df = pd.read_sql(sql, conn)
df

[('User Id',), ('Sports',), ('Religious',), ('Nature',), ('Theatre',), ('Shopping',), ('Picnic',)]

        name
0    User Id
1     Sports
2  Religious
3     Nature
4    Theatre
5   Shopping
6     Picnic

# Week 11 Day 2   

1. ElephantSQL database operation   
2. migrate database from SQLite to ElephantSQL   
3. simply verify the migration   

Lecture Notebook     
https://colab.research.google.com/drive/1IdP7r8Q4MNtykXPvqrJv84C-jKuOx3zE#scrollTo=JuaEJN3sDpdD

In [0]:
!pip install psycopg2-binary
import psycopg2
print(psycopg2.__version__) # 2.8.3 (dt dec pq3 ext lo64)

path = "/content/drive/My Drive/config/elephantsql"
f = open(path, "r")
dbname = f.readline().strip()
user = f.readline().strip()
password = f.readline().strip()
host = f.readline().strip()
f.close()

pg_conn = psycopg2.connect(dbname=dbname, 
                           user=user,
                           password=password, 
                           host=host)
pg_curs = pg_conn.cursor()

In [0]:
import pandas as pd
sql = (
"""
SELECT *
  FROM pg_catalog.pg_tables
 WHERE schemaname != 'pg_catalog'
   AND schemaname != 'information_schema';
"""
)
pd.read_sql(sql, pg_conn)

   schemaname                             tablename  ... hastriggers rowsecurity
0      public            charactercreator_character  ...        True       False
1      public                charactercreator_thief  ...        True       False
2      public                 charactercreator_mage  ...        True       False
3      public              charactercreator_fighter  ...        True       False
4      public               charactercreator_cleric  ...        True       False
5      public                        django_session  ...       False       False
6      public          charactercreator_necromancer  ...        True       False
7      public  charactercreator_character_inventory  ...        True       False
8      public                           armory_item  ...        True       False
9      public                   django_content_type  ...        True       False
10     public                       auth_permission  ...        True       False
11     public                         armory_weapon  ...        True       False
12     public                      django_admin_log  ...        True       False
13     public                             auth_user  ...        True       False
14     public            auth_user_user_permissions  ...        True       False
15     public                            auth_group  ...        True       False
16     public                      auth_user_groups  ...        True       False
17     public                auth_group_permissions  ...        True       False
18     public                     django_migrations  ...       False       False

[19 rows x 8 columns]

### Migrating a SQLite database to PostgreSQL (ElephantSQL)

`rpg_db.sqlite3` to `ElephantSQL` database migration succeeded.  
1. in SQLite DB Browser -> file -> export -> database to SQL file    
this is the modified SQL file:     
https://github.com/Nov05/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module2-sql-for-analysis/rpg_db.sqlite3.sql  
2. modify the SQL file   
https://colab.research.google.com/drive/1PGWzAei1uoLFWyMPZgVNbtB8ao9VNy7J  
* fix some primary keys 
* adjust table creation SQL sequence
* cast `Boolean`  to  `integer` / `datetime`  to  `timestamptz`
* separate index creation from the table creation and data insertion transaction... )  
3. execute the SQL file in `ElephantSQL`  
https://pgloader.readthedocs.io/en/latest/ref/sqlite.html  

<img src="https://github.com/Nov05/pictures/blob/master/pic001/2019-08-13%2017_20_54-DB%20Browser%20for%20SQLite%20-%20D__SQLiteDatabaseBrowserPortable_Data_rpg_db.sqlite3.png?raw=True" width="400"><img src="https://github.com/Nov05/pictures/blob/master/pic001/2019-08-13%2018_50_43-ElephantSQL%20Console%20DS5.png?raw=True" width="600">

### Verify migration

In [0]:
# get sqlite3 file
import os
os.chdir('/content')
!wget -cO - https://github.com/Nov05/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module1-introduction-to-sql/rpg_db.sqlite3?raw=true > rpg_db.sqlite3

In [0]:
import sqlite3
sl_conn = sqlite3.connect("rpg_db.sqlite3")
sl_curs = sl_conn.cursor()
############################################################
# list all tables in SQLite
############################################################
tablenames = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", sl_conn)
tablenames

                                    name
0                      django_migrations
1                        sqlite_sequence
2                             auth_group
3                 auth_group_permissions
4                       auth_user_groups
5             auth_user_user_permissions
6                       django_admin_log
7                            armory_item
8                          armory_weapon
9                    django_content_type
10                       auth_permission
11                             auth_user
12  charactercreator_character_inventory
13          charactercreator_necromancer
14                        django_session
15            charactercreator_character
16               charactercreator_cleric
17              charactercreator_fighter
18                 charactercreator_mage
19                charactercreator_thief

In [0]:
# test SQL
for t in tablenames.name:
    print(t)
    sql = "select * from " + t
    sl_curs.execute(sql)
    print(sl_curs.fetchall())  
    pg_curs.execute(sql)
    print(pg_curs.fetchall())
    break

django_migrations
[(1, 'contenttypes', '0001_initial', '2018-03-08 18:37:26.825261'), (2, 'auth', '0001_initial', '2018-03-08 18:37:26.877483'), (3, 'admin', '0001_initial', '2018-03-08 18:37:26.927042'), (4, 'admin', '0002_logentry_remove_auto_add', '2018-03-08 18:37:26.979134'), (5, 'armory', '0001_initial', '2018-03-08 18:37:27.016837'), (6, 'contenttypes', '0002_remove_content_type_name', '2018-03-08 18:37:27.100113'), (7, 'auth', '0002_alter_permission_name_max_length', '2018-03-08 18:37:27.137293'), (8, 'auth', '0003_alter_user_email_max_length', '2018-03-08 18:37:27.182475'), (9, 'auth', '0004_alter_user_username_opts', '2018-03-08 18:37:27.218345'), (10, 'auth', '0005_alter_user_last_login_null', '2018-03-08 18:37:27.252596'), (11, 'auth', '0006_require_contenttypes_0002', '2018-03-08 18:37:27.268798'), (12, 'auth', '0007_alter_validators_add_error_messages', '2018-03-08 18:37:27.310658'), (13, 'auth', '0008_alter_user_username_max_length', '2018-03-08 18:37:27.351736'), (14, 'auth', '0009_alter_user_last_name_max_length', '2018-03-08 18:37:27.387834'), (15, 'charactercreator', '0001_initial', '2018-03-08 18:37:27.446623'), (16, 'sessions', '0001_initial', '2018-03-08 18:37:27.464752'), (17, 'charactercreator', '0002_auto_20180308_2015', '2018-03-08 20:15:55.854748')]
[(1, 'contenttypes', '0001_initial', datetime.datetime(2018, 3, 8, 18, 37, 26, 825261, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))), (2, 'auth', '0001_initial', datetime.datetime(2018, 3, 8, 18, 37, 26, 877483, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))), (3, 'admin', '0001_initial', datetime.datetime(2018, 3, 8, 18, 37, 26, 927042, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))), (4, 'admin', '0002_logentry_remove_auto_add', datetime.datetime(2018, 3, 8, 18, 37, 26, 979134, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))), (5, 'armory', '0001_initial', datetime.datetime(2018, 3, 8, 18, 37, 27, 16837, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))), (6, 'contenttypes', '0002_remove_content_type_name', datetime.datetime(2018, 3, 8, 18, 37, 27, 100113, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))), (7, 'auth', '0002_alter_permission_name_max_length', datetime.datetime(2018, 3, 8, 18, 37, 27, 137293, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))), (8, 'auth', '0003_alter_user_email_max_length', datetime.datetime(2018, 3, 8, 18, 37, 27, 182475, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))), (9, 'auth', '0004_alter_user_username_opts', datetime.datetime(2018, 3, 8, 18, 37, 27, 218345, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))), (10, 'auth', '0005_alter_user_last_login_null', datetime.datetime(2018, 3, 8, 18, 37, 27, 252596, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))), (11, 'auth', '0006_require_contenttypes_0002', datetime.datetime(2018, 3, 8, 18, 37, 27, 268798, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))), (12, 'auth', '0007_alter_validators_add_error_messages', datetime.datetime(2018, 3, 8, 18, 37, 27, 310658, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))), (13, 'auth', '0008_alter_user_username_max_length', datetime.datetime(2018, 3, 8, 18, 37, 27, 351736, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))), (14, 'auth', '0009_alter_user_last_name_max_length', datetime.datetime(2018, 3, 8, 18, 37, 27, 387834, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))), (15, 'charactercreator', '0001_initial', datetime.datetime(2018, 3, 8, 18, 37, 27, 446623, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))), (16, 'sessions', '0001_initial', datetime.datetime(2018, 3, 8, 18, 37, 27, 464752, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))), (17, 'charactercreator', '0002_auto_20180308_2015', datetime.datetime(2018, 3, 8, 20, 15, 55, 854748, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None)))]

In [0]:
############################################################
# Migrated tables have same rows and cols
############################################################
tnames = tablenames.name.to_list()
tnames.remove("sqlite_sequence")
for t in tnames:
    print(t)
    sql = "select count(*) from {};".format(t)
    sl_curs.execute(sql)
    pg_curs.execute(sql)
    assert sl_curs.fetchall() == pg_curs.fetchall()
    
    sql = "select count(*) from PRAGMA_TABLE_INFO('{}');\
    ".format(t)
    sl_curs.execute(sql)
    sql = """
    SELECT count(*)
      FROM information_schema.COLUMNS 
     WHERE TABLE_NAME = '{}';
    """.format(t)
    pg_curs.execute(sql)
    assert sl_curs.fetchall() == pg_curs.fetchall()

django_migrations
auth_group
auth_group_permissions
auth_user_groups
auth_user_user_permissions
django_admin_log
armory_item
armory_weapon
django_content_type
auth_permission
auth_user
charactercreator_character_inventory
charactercreator_necromancer
django_session
charactercreator_character
charactercreator_cleric
charactercreator_fighter
charactercreator_mage
charactercreator_thief

In [0]:
############################################################
# example code block - get column names
############################################################
print('table:', t)
sql = "select name from PRAGMA_TABLE_INFO('{}');".format(t)
df_sl = pd.read_sql(sql, sl_conn)

sql = """
SELECT column_name 
  FROM information_schema.COLUMNS 
 WHERE TABLE_NAME = '{}';
""".format(t)
df_pg = pd.read_sql(sql, pg_conn)

pd.concat([df_sl, df_pg], axis=1)

table: charactercreator_thief

               name       column_name
0  character_ptr_id  character_ptr_id
1       is_sneaking       is_sneaking
2            energy            energy

# Week 11 Day 3

Lecture Notebook  
https://colab.research.google.com/drive/14sdoo-V74hEccOSCrwnSzBfO2ISmFx2k  

<br>

**Important Readings**

MongoDB Atlas Data Lake Debuts at MongoDB World  
https://www.mongodb.com/blog/post/mongodb-atlas-data-lake-debuts-at-mongodb-world  

MongoDB Map-Reduce   
https://docs.mongodb.com/manual/core/map-reduce/  

Wikepedia MapReduce  
https://en.wikipedia.org/wiki/MapReduce

### Write/read password file

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
############################################################
# write password into a config file on Google Drive
############################################################
# path = '/content/drive/My Drive/config/mongodb'
# password = "..."

# f = open(path, 'w')
# f.write(password)
# f.close()

# # check password file
# f = open(path, 'r')
# print(f.readline())
# f.close()

### Connect to MongoDB

In [0]:
!pip install pymongo
!python --version
!curl ipecho.net/plain

Requirement already satisfied: pymongo in /usr/local/lib/python3.6/dist-packages (3.8.0)
Python 3.6.8
35.185.75.133

In [36]:
############################################################
# connect to MongoDB
############################################################
import pymongo

# get password
path = '/content/drive/My Drive/config/mongodb'
f = open(path, 'r')
password = f.readline()
f.close()

# python 3.6 or above
str36 = "mongodb+srv://admin:{}@ds5-peqxz.mongodb.net\
/test?retryWrites=true&w=majority".format(password)

# python 3.4 or above
str34 = "mongodb://admin:{}@ds5-shard-00-00-peqxz.\
mongodb.net:27017,ds5-shard-00-01-peqxz.mongodb.net:27017,\
ds5-shard-00-02-peqxz.mongodb.net:27017/test?ssl=true&\
replicaSet=DS5-shard-0&authSource=admin\
&retryWrites=true&w=majority""".format(password)

client = pymongo.MongoClient(str34)
db = client.test; db

Database(MongoClient(host=['ds5-shard-00-00-peqxz.mongodb.net:27017', 'ds5-shard-00-01-peqxz.mongodb.net:27017', 'ds5-shard-00-02-peqxz.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, ssl=True, replicaset='DS5-shard-0', authsource='admin', retrywrites=True, w='majority'), 'test')

**Configure IP Whitelist in MongoDB**  

<img src="https://github.com/Nov05/pictures/blob/master/pic001/2019-08-15%2010_45_17-Network%20Access%20_%20Atlas_%20MongoDB%20Atlas.png?raw=true">

In [0]:
client.nodes

frozenset({('ds5-shard-00-00-peqxz.mongodb.net', 27017),
           ('ds5-shard-00-01-peqxz.mongodb.net', 27017),
           ('ds5-shard-00-02-peqxz.mongodb.net', 27017)})

In [0]:
# test.test is MongoDB default database and collention
# db(database)='test', collection(table)='test' 
for _ in range(5):
    db.test.insert_one({'x': 1})
db.test.count_documents({'x': 1})

10

https://realpython.com/introduction-to-mongodb-and-python/

In [38]:
# you can manually load sample databases 
# in MongoDB "Clusters -> Collections"

# db='sample_airbnb', collection='a'
db = client.sample_airbnb
db.a.find_one({'a':1})

{'_id': ObjectId('5cf5d44960fd541051737774'), 'a': 1.0}

In [39]:
import json
import pandas as pd
doc = db.listingsAndReviews.find_one({'listing_url':"https://www.airbnb.com/rooms/10021707"})

# display in JSON format
parsed = json.loads(json.dumps(doc['address']))
print(json.dumps(parsed, indent=4, sort_keys=True))

# display in Pandas data frame format
pd.DataFrame([doc])

{
    "country": "United States",
    "country_code": "US",
    "government_area": "Bushwick",
    "location": {
        "coordinates": [
            -73.93615,
            40.69791
        ],
        "is_location_exact": true,
        "type": "Point"
    },
    "market": "New York",
    "street": "Brooklyn, NY, United States",
    "suburb": "Brooklyn"
}

        _id access  ...                                            summary transit
0  10021707         ...  Here exists a very cozy room for rent in a sha...

[1 rows x 37 columns]

### Data Types in Python vs. MongoDB
use Python Datetime as example

https://docs.mongodb.com/manual/reference/mongodb-extended-json/  
https://www.quora.com/What-is-the-difference-between-operations-on-dict-and-a-JSON-object-in-Python    
https://stackoverflow.com/questions/11875770/how-to-overcome-datetime-datetime-not-json-serializable

In [0]:
############################################################
# data type: Python Datetime vs. Mongo Date
############################################################
# CAUTION:
# TypeError: Object of type 'datetime' is not JSON serializable
# json.dumps(doc['calendar_last_scraped'])

print(doc['calendar_last_scraped'])

# CAUTION:
# This is how MongoDB "date" fields are represented
from bson import json_util
import json
json.dumps(doc['calendar_last_scraped'], default=json_util.default)

2019-03-06 05:00:00

'{"$date": 1551848400000}'

In [0]:
db = client.prg_db
collection = db.django_migrations
doc = collection.find_one({'id':1})
field = doc['applied']

# great! Python library pymongo has taken care of 
# Python Datatime
print(type(field), field)
pd.DataFrame([doc])

<class 'datetime.datetime'> 2018-03-08 18:37:26.825000

                        _id           app  ... id          name
0  5d55064c071685151885d0e6  contenttypes  ...  1  0001_initial

[1 rows x 5 columns]

### MongoDB operations  
https://www.w3schools.com/python/python_mongodb_create_db.asp

In [0]:
# list all databases
print(client.list_database_names())
# list all collections
db = client.sample_airbnb
print(db.list_collection_names())
# select 2 docs
docs = db.listingsAndReviews.find().limit(2)
for doc in docs:
    print(doc)

['listingsAndReviews', 'a']

MongoDB Extended JSON (v2)  
https://docs.mongodb.com/manual/reference/mongodb-extended-json/

In [0]:
############################################################
# connect to ElephantSQL
############################################################
!pip install psycopg2-binary
import psycopg2
print(psycopg2.__version__) # 2.8.3 (dt dec pq3 ext lo64)

path = "/content/drive/My Drive/config/elephantsql"
f = open(path, "r")
dbname = f.readline().strip()
user = f.readline().strip()
password = f.readline().strip()
host = f.readline().strip()
f.close()

pg_conn = psycopg2.connect(dbname=dbname, 
                           user=user,
                           password=password, 
                           host=host)
pg_curs = pg_conn.cursor()

Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.6/dist-packages (2.8.3)
2.8.3 (dt dec pq3 ext lo64)

https://stackoverflow.com/questions/25639088/show-table-structure-and-list-of-tables-in-postgresql

In [0]:
# test SQL
sql1 = "SELECT name FROM sqlite_master WHERE type='table';"
sql2 = "select * from charactercreator_character limit 5"
sql3 = (
"""
SELECT *
  FROM pg_catalog.pg_tables
 WHERE schemaname != 'pg_catalog'
   AND schemaname != 'information_schema';
"""
)
sql4 = (
"""
SELECT table_schema || '.' || table_name as show_tables
  FROM information_schema.tables
 WHERE table_type = 'BASE TABLE'
   AND table_schema NOT IN ('pg_catalog', 'information_schema');
"""
)
sql5 = (
"""
select column_name, data_type, character_maximum_length
  from INFORMATION_SCHEMA.COLUMNS 
 where table_name ='charactercreator_character';
"""
)
sql6 = "select * from django_session"
pd.read_sql(sql6, pg_conn)

Empty DataFrame
Columns: [session_key, session_data, expire_date]
Index: []

### Migrate ElephantSQL database to MongoDB

https://www.w3schools.com/python/python_mongodb_insert.asp

In [0]:
############################################################
# migrate ElephantSQL database to MongoDB
# (only use simply data types)
############################################################
# get all table names in database
sql = (
"""
SELECT *
  FROM pg_catalog.pg_tables
 WHERE schemaname != 'pg_catalog'
   AND schemaname != 'information_schema';
"""
)
df_tables = pd.read_sql(sql, pg_conn)
tablenames = df_tables.tablename.to_list()
pg_curs = pg_conn.cursor()

# create a database
db = client.prg_db

for tablename in tablenames:
    # create a collection (table)  
    collection = db[tablename]
    print(tablename)
    
    # get column names
    sql = (
    """
    select column_name
      from INFORMATION_SCHEMA.COLUMNS 
     where table_name = '{}';
    """.format(tablename)
    )
    pg_curs.execute(sql)
    colnames = pg_curs.fetchall()
    colnames = [c[0] for c in colnames]
    print(colnames)
    
    # get data from table
    sql = "select * from {}".format(tablename)
    pg_curs.execute(sql)
    tabledata = pg_curs.fetchall()
    # if there is no data in the table, continue
    if len(tabledata) <= 0: 
        print()
        continue
    print(list(tabledata[0]))
    
    # convert rows to docs, insert to collection
    docs = []
    for row in tabledata:
        doc = dict([(k,v) for k,v in zip(colnames, list(row))])
        docs.append(doc)
    ids = collection.insert_many(docs)
    print(ids)
    print()
    
pg_curs.close()

charactercreator_character
['character_id', 'name', 'level', 'exp', 'hp', 'strength', 'intelligence', 'dexterity', 'wisdom']
[1, 'Aliquid iste optio reiciendi', 0, 0, 10, 1, 1, 1, 1]
<pymongo.results.InsertManyResult object at 0x7fc9a1b98248>

charactercreator_thief
['character_ptr_id', 'is_sneaking', 'energy']
[241, 0, 100]
<pymongo.results.InsertManyResult object at 0x7fc99b31ac48>

charactercreator_mage
['character_ptr_id', 'has_pet', 'mana']
[69, 1, 100]
<pymongo.results.InsertManyResult object at 0x7fc9a1b98048>

charactercreator_fighter
['character_ptr_id', 'using_shield', 'rage']
[1, 0, 100]
<pymongo.results.InsertManyResult object at 0x7fc9a1b8b888>

charactercreator_cleric
['character_ptr_id', 'using_shield', 'mana']
[166, 0, 100]
<pymongo.results.InsertManyResult object at 0x7fc9a1b7e808>

django_session
['session_key', 'session_data', 'expire_date']

charactercreator_necromancer
['mage_ptr_id', 'talisman_charged']
[292, 1]
<pymongo.results.InsertManyResult object at 0x7fc99b313488>

charactercreator_character_inventory
['id', 'character_id', 'item_id']
[1, 1, 58]
<pymongo.results.InsertManyResult object at 0x7fc9a1b7e808>

armory_item
['item_id', 'name', 'value', 'weight']
[1, 'Libero facere dolore, as', 0, 0]
<pymongo.results.InsertManyResult object at 0x7fc99b313488>

django_content_type
['id', 'app_label', 'model']
[1, 'admin', 'logentry']
<pymongo.results.InsertManyResult object at 0x7fc99b316448>

auth_permission
['id', 'content_type_id', 'codename', 'name']
[1, 1, 'add_logentry', 'Can add log entry']
<pymongo.results.InsertManyResult object at 0x7fc99b316f88>

armory_weapon
['item_ptr_id', 'power']
[138, 0]
<pymongo.results.InsertManyResult object at 0x7fc9a1fae708>

django_admin_log
['id', 'object_id', 'object_repr', 'action_flag', 'change_message', 'content_type_id', 'user_id', 'action_time']

auth_user
['id', 'password', 'last_login', 'is_superuser', 'username', 'first_name', 'email', 'is_staff', 'is_active', 'date_joined', 'last_name']

auth_user_user_permissions
['id', 'user_id', 'permission_id']

auth_group
['id', 'name']

auth_user_groups
['id', 'user_id', 'group_id']

auth_group_permissions
['id', 'group_id', 'permission_id']

django_migrations
['id', 'app', 'name', 'applied']
[1, 'contenttypes', '0001_initial', datetime.datetime(2018, 3, 8, 18, 37, 26, 825261, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=0, name=None))]
<pymongo.results.InsertManyResult object at 0x7fc9a1b4f808>

**Database successfully migrated**  

<img src="https://github.com/Nov05/pictures/blob/master/pic001/2019-08-15%2002_17_12-Microsoft%20Store.png?raw=true" width="700">