In [33]:
import sqlite3

In [34]:
connect = sqlite3.connect('demo_data.sqlite3')

In [35]:
cursor = connect.cursor()

In [15]:
create_table ="""
CREATE TABLE demo (
    s string,
    x int,
    y int);"""

In [16]:
connect.cursor().execute(create_table)

In [17]:
type(create_table)

str

In [18]:
insert_demo = """INSERT INTO demo VALUES
('g', 3, 9),
('v', 5, 7),
('f', 8, 7);"""

In [19]:
connect.cursor().execute(insert_demo)

In [20]:
connect.commit()

In [26]:
row_counter = "SELECT COUNT(s) FROM demo"

In [36]:
total_rows = cursor.execute(row_counter).fetchone()[0]

In [37]:
#Total Rows
print(total_rows)

3

In [38]:
greater_than_5 = """
SELECT COUNT(s) FROM demo WHERE x >= 5 AND y >= 5
;"""

In [44]:
row_counter_2 = cursor.execute(greater_than_5).fetchone()[0]

In [45]:
#Rows where both x and y are greater than or equal to 5
print(row_counter_2)

2

In [46]:
unique_y = 'SELECT COUNT (DISTINCT y) from demo'

In [47]:
unique_y = cursor.execute(unique_y).fetchone()[0]

In [49]:
#Number of unique values of y
print(unique_y)

2