<a href="https://colab.research.google.com/github/Jaavion/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/demo_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import sqlite3

In [0]:
connection = sqlite3.connect("demo_data.sqlite3")

In [0]:
crsr = connection.cursor()

In [0]:
sql_command = """CREATE TABLE demo(  
s varchar(1)PRIMARY KEY,  
x integer not null,  
y integer not null 
);"""

In [10]:
crsr.execute(sql_command)

In [12]:
sql_command = """INSERT INTO demo VALUES ('g', 3, 9);"""
crsr.execute(sql_command)

In [13]:
sql_command = """INSERT INTO demo VALUES ('v', 5, 7);"""
crsr.execute(sql_command)

In [14]:
sql_command = """INSERT INTO demo VALUES ('f', 8, 7);"""
crsr.execute(sql_command)

In [0]:
connection.commit()

In [0]:
connection.close()

In [0]:
connection = sqlite3.connect("demo_data.sqlite3")

In [0]:
crsr = connection.cursor()

In [20]:
crsr.execute("SELECT COUNT(*) FROM demo")

In [21]:
ans= crsr.fetchall()  
for i in ans: 
    print(i)

(3,)

In [25]:
crsr.execute("SELECT COUNT (DISTINCT y) FROM demo")

In [26]:
ans= crsr.fetchall()  
for i in ans: 
    print(i)

(2,)

In [0]:
connection = sqlite3.connect("northwind_small.sqlite3")

In [0]:
crsr = connection.cursor()

In [34]:
crsr.execute("SELECT UNITPRICE FROM Product LIMIT 10;")

In [35]:
ans= crsr.fetchall()  
for i in ans: 
    print(i)

(18,)
(19,)
(10,)
(22,)
(21.35,)
(25,)
(30,)
(40,)
(97,)
(31,)

In [40]:
crsr.execute("select 2019 - AVG(BirthDate) from Employee ")

In [41]:
ans= crsr.fetchall()  
for i in ans: 
    print(i)

(31.22222222222217,)