<a href="https://colab.research.google.com/github/serinamarie/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/Grill_Unit_3_Sprint_2_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
!wget https://github.com/serinamarie/DS-Unit-3-Sprint-2-SQL-and-Databases/raw/master/module1-introduction-to-sql/buddymove_holidayiq.csv

--2019-11-17 06:10:15--  https://github.com/serinamarie/DS-Unit-3-Sprint-2-SQL-and-Databases/raw/master/module1-introduction-to-sql/buddymove_holidayiq.csv
Resolving github.com (github.com)... 140.82.118.3
Connecting to github.com (github.com)|140.82.118.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/serinamarie/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module1-introduction-to-sql/buddymove_holidayiq.csv [following]
--2019-11-17 06:10:16--  https://raw.githubusercontent.com/serinamarie/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module1-introduction-to-sql/buddymove_holidayiq.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7566 (7.4K) [text/plain]
Saving to: ‘buddymove_holidayiq.csv.1’

buddymove_holidayiq 100%[===================>]   7.39K  --.-KB/s    in 0s

2019-11-17 06:10:16 (88.8 MB/s) - ‘buddymove_holidayiq.csv.1’ saved [7566/7566]

In [0]:
# connect to sqlite database

import sqlite3

conn_buddy = sqlite3.connect('buddymove_holidayiq.sqlite3')

In [0]:
# name the csv

import pandas as pd
df = pd.rdead_csv('buddymove_holidayiq.csv')

In [21]:
# Familiarize yourself with the dataframe 

df.tail()

      User Id  Sports  Religious  Nature  Theatre  Shopping  Picnic
244  User 245      18        139     148      129       129     168
245  User 246      22        114     228      104        84     168
246  User 247      20        124     178      104       158     174
247  User 248      20        133     149      139       144     213
248  User 249      20        143     149      139       159     143

In [11]:
# Convert csv to sql via the connection to the sqlite database

df.to_sql('review', conn_buddy, if_exists='replace')

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:2712: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [0]:
# Take a look at your new table

conn_buddy.execute("SELECT * FROM review").fetchall()

In [17]:
# How many rows do you have in this table?
query = '''
SELECT COUNT(*) FROM review
'''

conn_buddy.execute(query).fetchall()

[(249,)]

In [50]:
# How many users who reviewed at least 100 Nature in the category
# also reviewed at least 100 in the Shopping Category

high_nature_shopping_query = '''
SELECT COUNT(*) FROM review 
WHERE Nature >= 100 
AND Shopping >= 100
'''

n_s = conn_buddy.execute(high_nature_shopping_query).fetchall()

# Double-check our answers by looking at counts of each query

print('Answer:', n_s)

Answer: [(78,)]

In [0]:
avg_review_sports_query = '''
SELECT AVG(Sports)
FROM review
    '''

# SELECT avg(c)
# 	FROM
# 	(
# 	SELECT character_id, COUNT(item_id) as c
# 	FROM charactercreator_character_inventory
# 	GROUP BY character_id
# 	)

In [73]:
print('Average # of Sports Reviews', conn_buddy.execute(avg_review_sports_query).fetchall())

Average # of Sports Reviews [(11.987951807228916,)]

In [75]:
avg_review_religious_query = '''
SELECT AVG(Religious)
FROM review
'''

print('Average # of Religious Reviews', conn_buddy.execute(avg_review_religious_query).fetchall())

Average # of Religious Reviews [(109.77911646586345,)]

In [76]:
avg_review_nature_query = '''
SELECT AVG(Nature)
FROM review
'''

print('Average # of Nature Reviews', conn_buddy.execute(avg_review_nature_query).fetchall())

Average # of Nature Reviews [(124.51807228915662,)]

In [77]:
avg_review_shopping_query = '''
SELECT AVG(Shopping)
FROM review
'''

print('Average # of Shopping Reviews', conn_buddy.execute(avg_review_shopping_query).fetchall())

Average # of Shopping Reviews [(112.63855421686748,)]

In [78]:
avg_review_theatre_query = '''
SELECT AVG(Theatre)
FROM review
'''

print('Average # of Theatre Reviews', conn_buddy.execute(avg_review_theatre_query).fetchall())

Average # of Theatre Reviews [(116.37751004016064,)]

In [79]:
avg_review_picnic_query = '''
SELECT AVG(Picnic)
FROM review
'''

print('Average # of Picnic Reviews', conn_buddy.execute(avg_review_picnic_query).fetchall())

Average # of Picnic Reviews [(120.40160642570281,)]