<a href="https://colab.research.google.com/github/Jaavion/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/insert_titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.6/dist-packages (2.8.2)

In [0]:
import psycopg2 as pg2
import sqlite3

In [0]:
user = 'hcrpsikf' # put yours instead
password = 'jlb9wmtsgDkmiPOzp6TyT10GU8_1MfFi' # yours instead
url = 'postgres://hcrpsikf:jlb9wmtsgDkmiPOzp6TyT10GU8_1MfFi@raja.db.elephantsql.com:5432/hcrpsikf' # same thing
host = 'raja.db.elephantsql.com' # yep

In [4]:
db_conn = pg2.connect(dbname = user,user = user,  password = password,
                      host = host)
db_curs = db_conn.cursor()
db_curs

In [0]:
#!wget https://github.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module1-introduction-to-sql/rpg_db.sqlite3?raw=True

In [0]:
#!mv rpg_db.sqlite3?raw=True rpg_db.sqlite3

In [0]:
conn = sqlite3.connect('rpg_db.sqlite3')
curs = conn.cursor()

In [0]:
create_table = '''
CREATE TABLE Titanic(
pclass INTEGER NOT NULL  PRIMARY KEY,
SURVIVED INTEGER NOT NULL,
name varchar(40) NOT NULL,
Sex varchar(20) NOT NULL,
sibsp INT NOT NULL,
parch INT NOT NULL,
TICKET INT NOT NULL,
FARE INT NOT NULL,
CABIN VARCHAR(20) NOT NULL,
EMBARKED VARCHAR(1),
BOAT VARCHAR(4),
BODY VARCHAR(4),
HOME_DEST VARCHAR(50) NOT NULL
)'''

In [0]:
db_curs.execute(create_table)
db_conn.commit()