In [26]:
import pandas as pd

df = pd.read_csv('LendingClub.csv', skiprows=[0])
df.head()

/Users/sammylee/miniconda3/envs/datascience/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (0,49) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [27]:
print(list(df.columns))

['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'fico_range_low', 'fico_range_high', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d', 'last_fico_range_high', 'last_fico_range_low', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit']

In [28]:
df = df[['id', 'member_id', 'loan_amnt', 'funded_amnt', 'term', 'int_rate', 'grade', 'home_ownership', 'loan_status']]
df.head()

,id,member_id,loan_amnt,funded_amnt,term,int_rate,grade,home_ownership,loan_status
0,1077501,1296599.0,5000.0,5000.0,36 months,10.65%,B,RENT,Fully Paid
1,1077430,1314167.0,2500.0,2500.0,60 months,15.27%,C,RENT,Charged Off
2,1077175,1313524.0,2400.0,2400.0,36 months,15.96%,C,RENT,Fully Paid
3,1076863,1277178.0,10000.0,10000.0,36 months,13.49%,C,RENT,Fully Paid
4,1075358,1311748.0,3000.0,3000.0,60 months,12.69%,B,RENT,Current

In [29]:
df.isna().sum()

id                0
member_id         3
loan_amnt         3
funded_amnt       3
term              3
int_rate          3
grade             3
home_ownership    3
loan_status       3
dtype: int64

In [30]:
df = df.dropna()

In [31]:
df.isna().sum()

id                0
member_id         0
loan_amnt         0
funded_amnt       0
term              0
int_rate          0
grade             0
home_ownership    0
loan_status       0
dtype: int64

In [32]:
df = df.drop_duplicates()

In [33]:
df.head()

,id,member_id,loan_amnt,funded_amnt,term,int_rate,grade,home_ownership,loan_status
0,1077501,1296599.0,5000.0,5000.0,36 months,10.65%,B,RENT,Fully Paid
1,1077430,1314167.0,2500.0,2500.0,60 months,15.27%,C,RENT,Charged Off
2,1077175,1313524.0,2400.0,2400.0,36 months,15.96%,C,RENT,Fully Paid
3,1076863,1277178.0,10000.0,10000.0,36 months,13.49%,C,RENT,Fully Paid
4,1075358,1311748.0,3000.0,3000.0,60 months,12.69%,B,RENT,Current

In [35]:
df.dtypes

id                 object
member_id         float64
loan_amnt         float64
funded_amnt       float64
term               object
int_rate           object
grade              object
home_ownership     object
loan_status        object
dtype: object

In [36]:
df.shape

(42535, 9)

In [37]:
df_1 = df.sample(frac=0.05, replace=True, random_state=42)
df_1.shape

(2127, 9)

In [38]:
df_1.head()

,id,member_id,loan_amnt,funded_amnt,term,int_rate,grade,home_ownership,loan_status
15795,743268,941494.0,15000.0,15000.0,36 months,13.49%,C,RENT,Fully Paid
860,1059186,1290787.0,7000.0,7000.0,36 months,14.27%,C,RENT,Fully Paid
38158,364362,374898.0,2500.0,2500.0,36 months,8.00%,A,OWN,Fully Paid
11284,817797,1025671.0,10000.0,10000.0,36 months,15.99%,D,RENT,Charged Off
6265,971762,1193311.0,12000.0,12000.0,36 months,11.71%,B,RENT,Fully Paid

In [39]:
# df_1.to_csv('LendingClub_trunc.csv', index=False)

In [45]:
df_1['loan_status'].value_counts()

Fully Paid                                             1693
Charged Off                                             269
Does not meet the credit policy. Status:Fully Paid      102
Does not meet the credit policy. Status:Charged Off      37
Current                                                  24
In Grace Period                                           1
Late (31-120 days)                                        1
Name: loan_status, dtype: int64

In [46]:
df_1['loan_status'] = df_1['loan_status'].str.replace('Late (31-120 days)', 'Late')

In [47]:
df_1['loan_status'].value_counts()

Fully Paid                                             1693
Charged Off                                             269
Does not meet the credit policy. Status:Fully Paid      102
Does not meet the credit policy. Status:Charged Off      37
Current                                                  24
In Grace Period                                           1
Late (31-120 days)                                        1
Name: loan_status, dtype: int64

In [48]:
df_1['loan_status'] = df_1['loan_status'].str.replace('Late (31-120 days)', 'Late', regex=False)

In [49]:
df_1['loan_status'].value_counts()

Fully Paid                                             1693
Charged Off                                             269
Does not meet the credit policy. Status:Fully Paid      102
Does not meet the credit policy. Status:Charged Off      37
Current                                                  24
In Grace Period                                           1
Late                                                      1
Name: loan_status, dtype: int64

In [50]:
df_1.to_csv('LendingClub_trunc.csv', index=False)