<a href="https://colab.research.google.com/github/danhorsley/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/pymongo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##"How was working with MongoDB different from working with PostgreSQL? What was easier, and what was harder?"

In MongoDB I found connecting and uploading very straight forward.  The whole Titanic database was in there in a clean structure within seconds, and there was none of the technical hitches that there were with SQLite (problems uploading apostrophes, spaces in the colum names etc.).  I also found the query system very intuitive, simpy creating a dictionary of conditions to be satisifed.  This may be because I am far more used to manipulating dictionaries in Python that SQL queries. 

I have spent a decent amount of time on hackernet in the last couple of days solving SQL query problems of a more and more contrived nature.  Though I always thought my solutions were not the fastest or cleanest way, lookign at other solutions I saw that meany other people were struggling to come up with signifigantlly better ones, so I feel that SQL queries may not be intuitive at all to most people.  I am sure there are many advantages to SQL that I don't really appreciate at the moment, but if you are used to dictionaries and programming in python, MongoDB is the clear winner.

Please see below for lecture follow along and Titanic upload etc.

## Lecture Follow Along

In [2]:
#first bit following along with lecture
!curl ipecho.net/plain

35.196.88.61

In [0]:
!pip install dnspython

In [0]:
!pip install pymongo

In [0]:
import pymongo

In [0]:

client = pymongo.MongoClient("mongodb://danh:lambda79@cluster0-shard-00-00-rbdtd.mongodb.net:27017,cluster0-shard-00-01-rbdtd.mongodb.net:27017,cluster0-shard-00-02-rbdtd.mongodb.net:27017/test?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.test

In [9]:
db

Database(MongoClient(host=['cluster0-shard-00-02-rbdtd.mongodb.net:27017', 'cluster0-shard-00-01-rbdtd.mongodb.net:27017', 'cluster0-shard-00-00-rbdtd.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, ssl=True, replicaset='Cluster0-shard-0', authsource='admin', retrywrites=True, w='majority'), 'test')

In [11]:
client.nodes

frozenset({('cluster0-shard-00-00-rbdtd.mongodb.net', 27017),
           ('cluster0-shard-00-01-rbdtd.mongodb.net', 27017),
           ('cluster0-shard-00-02-rbdtd.mongodb.net', 27017)})

In [0]:
dir(db.test)

In [12]:
db.test.insert_one({'x':1})

In [13]:
db.test.count_documents({'x':1})

1

In [14]:
db.test.find()

In [0]:
my_doc = {'honey badger': 'so nasty'}

In [16]:
db.test.insert_one(my_doc)

In [0]:
my_doc2 = {'honey badger': 'eating a snake'}
my_doc3 = {'honey badger': 'eating bees'}

In [18]:
db.test.insert_many([my_doc2, my_doc3])

In [19]:
list(db.test.find())

[{'_id': ObjectId('5cf804c61a6c0793f3a31825'), 'x': 1},
 {'_id': ObjectId('5cf805171a6c0793f3a31826'), 'honey badger': 'so nasty'},
 {'_id': ObjectId('5cf805981a6c0793f3a31827'),
  'honey badger': 'eating a snake'},
 {'_id': ObjectId('5cf805981a6c0793f3a31828'), 'honey badger': 'eating bees'}]

In [20]:
docs = []
for i in range(10):
  doc = {'even': i % 2 == 0}
  doc['value'] = i
  docs.append(doc)

docs

[{'even': True, 'value': 0},
 {'even': False, 'value': 1},
 {'even': True, 'value': 2},
 {'even': False, 'value': 3},
 {'even': True, 'value': 4},
 {'even': False, 'value': 5},
 {'even': True, 'value': 6},
 {'even': False, 'value': 7},
 {'even': True, 'value': 8},
 {'even': False, 'value': 9}]

In [22]:
db.test.insert_many(docs)

In [24]:
#testing out db query
list(db.test.find({'honey badger': 'so nasty'}))

[{'_id': ObjectId('5cf805171a6c0793f3a31826'), 'honey badger': 'so nasty'}]

## Loading Titanic into MongoDB and trying some queries

In [0]:
#importing titanic AGAIN!
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module2-sql-for-analysis/titanic.csv')

In [0]:
#had to transpose it here to get my dictionaries the right way around
titanic_dict = df.T.to_dict()

In [44]:
#make a list o fdictinaries as in teh levture to export to mongodb
titanic_rows = []
for key in titanic_dict:
  titanic_rows.append(titanic_dict[key])
titanic_rows[0:1]

[{'Age': 22.0,
  'Fare': 7.25,
  'Name': 'Mr. Owen Harris Braund',
  'Parents/Children Aboard': 0,
  'Pclass': 3,
  'Sex': 'male',
  'Siblings/Spouses Aboard': 1,
  'Survived': 0,
  '_id': ObjectId('5cf80e8a1a6c0793f3a31833')}]

In [43]:
#block adding all the dictionaries
db.test.insert_many(titanic_rows)

In [53]:
#testing out random queries
import pprint
pprint.pprint(db.test.find_one({'Survived' : 0}))

{'Age': 22.0,
 'Fare': 7.25,
 'Name': 'Mr. Owen Harris Braund',
 'Parents/Children Aboard': 0,
 'Pclass': 3,
 'Sex': 'male',
 'Siblings/Spouses Aboard': 1,
 'Survived': 0,
 '_id': ObjectId('5cf80e8a1a6c0793f3a31833')}

In [62]:
#finding anyone ho survived and was 50 years old
for t in db.test.find({'Survived' : 1, 'Age':50, 'Sex':'male'}):
  pprint.pprint(t)

{'Age': 50.0,
 'Fare': 133.65,
 'Name': 'Dr. Henry William Frauenthal',
 'Parents/Children Aboard': 0,
 'Pclass': 1,
 'Sex': 'male',
 'Siblings/Spouses Aboard': 2,
 'Survived': 1,
 '_id': ObjectId('5cf80e8a1a6c0793f3a31ac4')}