<a href="https://colab.research.google.com/github/rubyclaguna/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/rpg_mongo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!pip install pymongo

In [0]:
import pymongo
import sqlite3 
import pandas as pd

In [0]:
client = pymongo.MongoClient("mongodb://rubyl:rubyl@cluster0-shard-00-00-mbsw0.mongodb.net:27017,cluster0-shard-00-01-mbsw0.mongodb.net:27017,cluster0-shard-00-02-mbsw0.mongodb.net:27017/test?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin&retryWrites=true&w=majority")
db = client.test

In [0]:
db

In [0]:
!wget https://github.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/raw/master/module1-introduction-to-sql/rpg_db.sqlite3?raw=true

In [0]:
!ls

In [0]:
!mv 'rpg_db.sqlite3?raw=true' rpg_db.sqlite3

In [0]:
sl_conn = sqlite3.connect('rpg_db.sqlite3')
sl_curs = sl_conn.cursor()

In [0]:
entries = ('SELECT * FROM charactercreator_character')
data = sl_curs.execute(entries).fetchall()

In [0]:
data

In [0]:
db = client.rpg
db

In [0]:
# make dict 
for entries in data:
  db.characters.insert_one({
      'id': entries[0],
      'name': entries[1],
      'level': entries[2],
      'exp': entries[3],
      'hp': entries[4],
      'strength': entries[5],
      'intelligence': entries[6],
      'dexterity': entries[7],
      'wisdom': entries[8],
  })

In [0]:
list(db.characters.find())