# Part 1 - Making and populating a Database

In [17]:
import sqlite3


def create_db():
    global cursor, conn
    conn = sqlite3.connect('demo_data.sqlite3')
    cursor = conn.cursor()
    print("Opened database successfully")


def create_table():
    cursor.execute("DROP TABLE IF EXISTS demo")
    cursor.execute("CREATE TABLE demo\
                 (ID INT PRIMARY KEY NOT NULL,\
                 s CHAR(1) NOT NULL,\
                 x INT NOT NULL,\
                 y INT NOT NULL);")
    print("Table `demo` created successfully")


def populate_table():
    cursor.execute("INSERT INTO demo (ID, s, x, y) VALUES (1, 'g', 3, 9);")
    cursor.execute("INSERT INTO demo (ID, s, x, y) VALUES (2, 'v', 5, 7);")
    cursor.execute("INSERT INTO demo (ID, s, x, y) VALUES (3, 'f', 8, 7);")
    print("Table `demo` populated with data successfully")

    conn.commit()


def queries():
    print("How many rows `demo` table have?")
    print(cursor.execute("SELECT count(*) FROM demo;").fetchall(),'\n')
    
    print("How many rows any rows are there where both x and y are at least 5?")
    print(cursor.execute("SELECT count(*) FROM demo WHERE x >= 5 AND y >= 5;").fetchall(),'\n')
    
    print('How many unique values of y are there?')
    print(cursor.execute("SELECT COUNT(DISTINCT y) FROM demo;").fetchall())


def main():
    create_db()
    create_table()
    populate_table()
    queries()
    conn.close()


if __name__ == "__main__":
    main()

Opened database successfully
Table `demo` created successfully
Table `demo` populated with data successfully
How many rows `demo` table have?
[(3,)]

How many rows any rows are there where both x and y are at least 5?
[(2,)]

How many unique values of y are there?
[(2,)]

# Part 2 - The Northwind Database

In [1]:
import sqlite3

conn = sqlite3.connect('northwind_small.sqlite3')
cursor = conn.cursor()
print("Opened database successfully")

Opened database successfully

In [24]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table'\
ORDER BY name;").fetchall()

[('Category',),
 ('Customer',),
 ('CustomerCustomerDemo',),
 ('CustomerDemographic',),
 ('Employee',),
 ('EmployeeTerritory',),
 ('Order',),
 ('OrderDetail',),
 ('Product',),
 ('Region',),
 ('Shipper',),
 ('Supplier',),
 ('Territory',)]

In [8]:
cursor.execute('SELECT sql FROM sqlite_master WHERE name="Product";').fetchall()

[('CREATE TABLE "Product" \n(\n  "Id" INTEGER PRIMARY KEY, \n  "ProductName" VARCHAR(8000) NULL, \n  "SupplierId" INTEGER NOT NULL, \n  "CategoryId" INTEGER NOT NULL, \n  "QuantityPerUnit" VARCHAR(8000) NULL, \n  "UnitPrice" DECIMAL NOT NULL, \n  "UnitsInStock" INTEGER NOT NULL, \n  "UnitsOnOrder" INTEGER NOT NULL, \n  "ReorderLevel" INTEGER NOT NULL, \n  "Discontinued" INTEGER NOT NULL \n)',)]

In [15]:
print('Ten most expensive items (per unit price) in the database:')
cursor.execute("SELECT ProductName, UnitPrice FROM Product ORDER BY UnitPrice DESC LIMIT 10;").fetchall()

[('Côte de Blaye', 263.5),
 ('Thüringer Rostbratwurst', 123.79),
 ('Mishi Kobe Niku', 97),
 ("Sir Rodney's Marmalade", 81),
 ('Carnarvon Tigers', 62.5),
 ('Raclette Courdavault', 55),
 ('Manjimup Dried Apples', 53),
 ('Tarte au sucre', 49.3),
 ('Ipoh Coffee', 46),
 ('Rössle Sauerkraut', 45.6)]

In [16]:
cursor.execute('SELECT sql FROM sqlite_master WHERE name="Employee";').fetchall()

[('CREATE TABLE "Employee" \n(\n  "Id" INTEGER PRIMARY KEY, \n  "LastName" VARCHAR(8000) NULL, \n  "FirstName" VARCHAR(8000) NULL, \n  "Title" VARCHAR(8000) NULL, \n  "TitleOfCourtesy" VARCHAR(8000) NULL, \n  "BirthDate" VARCHAR(8000) NULL, \n  "HireDate" VARCHAR(8000) NULL, \n  "Address" VARCHAR(8000) NULL, \n  "City" VARCHAR(8000) NULL, \n  "Region" VARCHAR(8000) NULL, \n  "PostalCode" VARCHAR(8000) NULL, \n  "Country" VARCHAR(8000) NULL, \n  "HomePhone" VARCHAR(8000) NULL, \n  "Extension" VARCHAR(8000) NULL, \n  "Photo" BLOB NULL, \n  "Notes" VARCHAR(8000) NULL, \n  "ReportsTo" INTEGER NULL, \n  "PhotoPath" VARCHAR(8000) NULL \n)',)]

In [ ]:
cursor.execute('SELECT sql FROM sqlite_master WHERE name="Employee";').fetchall()

In [18]:
cursor.execute('SELECT BirthDate, HireDate FROM Employee LIMIT 10;').fetchall()

[('1980-12-08', '2024-05-01'),
 ('1984-02-19', '2024-08-14'),
 ('1995-08-30', '2024-04-01'),
 ('1969-09-19', '2025-05-03'),
 ('1987-03-04', '2025-10-17'),
 ('1995-07-02', '2025-10-17'),
 ('1992-05-29', '2026-01-02'),
 ('1990-01-09', '2026-03-05'),
 ('1998-01-27', '2026-11-15')]

In [21]:
print('The average age of an employee at the time of their hiring')
cursor.execute('SELECT AVG(HireDate-BirthDate) FROM Employee;').fetchall()

The average age of an employee at the time of their hiring

[(37.22222222222222,)]

In [22]:
print('The average age of employee at hire vary by city')
cursor.execute('SELECT AVG(HireDate-BirthDate) FROM Employee GROUP BY City;').fetchall()

The average age of employee at hire vary by city

[(29.0,), (32.5,), (56.0,), (40.0,), (40.0,)]

In [27]:
import sqlite3

conn = sqlite3.connect('northwind_small.sqlite3')
cursor = conn.cursor()
print("Opened database successfully")


cursor.execute("SELECT name FROM sqlite_master \
WHERE type='table' ORDER BY name;").fetchall()


print('Ten most expensive items (per unit price) in the database:')
print(cursor.execute("SELECT ProductName, UnitPrice FROM Product \
ORDER BY UnitPrice DESC LIMIT 10;").fetchall(), '\n')


print('The average age of an employee at the time of their hiring')
print(cursor.execute('SELECT AVG(HireDate-BirthDate) \
FROM Employee;').fetchall(), '\n')


print('The average age of employee at hire vary by city')
print(cursor.execute('SELECT AVG(HireDate-BirthDate) \
FROM Employee GROUP BY City;').fetchall(), '\n')

Opened database successfully
Ten most expensive items (per unit price) in the database:
[('Côte de Blaye', 263.5), ('Thüringer Rostbratwurst', 123.79), ('Mishi Kobe Niku', 97), ("Sir Rodney's Marmalade", 81), ('Carnarvon Tigers', 62.5), ('Raclette Courdavault', 55), ('Manjimup Dried Apples', 53), ('Tarte au sucre', 49.3), ('Ipoh Coffee', 46), ('Rössle Sauerkraut', 45.6)]

The average age of an employee at the time of their hiring
[(37.22222222222222,)]

The average age of employee at hire vary by city
[(29.0,), (32.5,), (56.0,), (40.0,), (40.0,)]

# Part 3 - Sailing the Northwind Seas

In [29]:
cursor.execute('SELECT sql FROM sqlite_master WHERE name="Supplier";').fetchall()

[('CREATE TABLE "Supplier" \n(\n  "Id" INTEGER PRIMARY KEY, \n  "CompanyName" VARCHAR(8000) NULL, \n  "ContactName" VARCHAR(8000) NULL, \n  "ContactTitle" VARCHAR(8000) NULL, \n  "Address" VARCHAR(8000) NULL, \n  "City" VARCHAR(8000) NULL, \n  "Region" VARCHAR(8000) NULL, \n  "PostalCode" VARCHAR(8000) NULL, \n  "Country" VARCHAR(8000) NULL, \n  "Phone" VARCHAR(8000) NULL, \n  "Fax" VARCHAR(8000) NULL, \n  "HomePage" VARCHAR(8000) NULL \n)',)]

In [33]:
cursor.execute('SELECT sql FROM sqlite_master WHERE name="Category";').fetchall()

[('CREATE TABLE "Category" \n(\n  "Id" INTEGER PRIMARY KEY, \n  "CategoryName" VARCHAR(8000) NULL, \n  "Description" VARCHAR(8000) NULL \n)',)]

In [ ]:
print('Ten most expensive items (per unit price) in the database and their suppliers')
print(cursor.execute('''
SELECT Product.ProductName, Product.UnitPrice, Supplier.CompanyName
FROM Product 
INNER JOIN Supplier
ON Product.SupplierId = Supplier.Id
ORDER BY UnitPrice DESC LIMIT 10;''').fetchall(), '\n')


print('The largest category (by number of unique products in it):')
print(cursor.execute('SELECT AVG(HireDate-BirthDate) \
FROM Employee;').fetchall(), '\n')


print('The average age of employee at hire vary by city')
print(cursor.execute('SELECT AVG(HireDate-BirthDate) \
FROM Employee GROUP BY City;').fetchall(), '\n')

In [36]:
cursor.execute('''SELECT Category.CategoryName
FROM Product 
INNER JOIN Category
ON Product.CategoryId = Category.Id
WHERE 
( SELECT COUNT(Product.CategoryId)
GROUP BY Product.CategoryId);''').fetchall()

OperationalError: misuse of aggregate function COUNT()

In [32]:
cursor.execute('''SELECT Product.ProductName, Product.UnitPrice, Supplier.CompanyName
FROM Product 
INNER JOIN Supplier
ON Product.SupplierId = Supplier.Id
ORDER BY UnitPrice DESC LIMIT 10;''').fetchall()

[('Côte de Blaye', 263.5, 'Aux joyeux ecclésiastiques'),
 ('Thüringer Rostbratwurst', 123.79, 'Plutzer Lebensmittelgroßmärkte AG'),
 ('Mishi Kobe Niku', 97, 'Tokyo Traders'),
 ("Sir Rodney's Marmalade", 81, 'Specialty Biscuits, Ltd.'),
 ('Carnarvon Tigers', 62.5, 'Pavlova, Ltd.'),
 ('Raclette Courdavault', 55, 'Gai pâturage'),
 ('Manjimup Dried Apples', 53, "G'day, Mate"),
 ('Tarte au sucre', 49.3, "Forêts d'érables"),
 ('Ipoh Coffee', 46, 'Leka Trading'),
 ('Rössle Sauerkraut', 45.6, 'Plutzer Lebensmittelgroßmärkte AG')]