## Part 1

In [1]:
# import sqlite3 and create a file 'demo_data.sqlite3'
# open a connection

import sqlite3
conn = sqlite3.connect('demo_data.sqlite3')

#create a cursor
curs = conn.cursor()

In [2]:
#create a table
curs.execute('''CREATE TABLE demo
(s text, x INT, y INT)''')

In [4]:
# insert the data into the table
curs.execute("INSERT INTO demo VALUES ('g', 3, 9),('v', 5, 7), ('f', 8, 7)")

In [5]:
conn.commit()

In [6]:
conn.close()

In [7]:
import sqlite3
conn = sqlite3.connect('demo_data.sqlite3')
curs = conn.cursor()

In [17]:
# Question1: Count how many rows you have - it should be 3!
total_rows_query = """SELECT COUNT(*)
FROM demo;"""
curs.execute(total_rows_query)
print(curs.fetchall())

[(3,)]

In [18]:
# How many rows are there where both x and y are at least 5?
total_xy_query = """SELECT COUNT(*)
FROM demo WHERE x >= 5 AND y >=  5;"""
curs.execute(total_xy_query)
print(curs.fetchall())

[(2,)]

In [19]:
# How many unique values of y are there (hint - COUNT() can accept a keyword DISTINCT)?

distinct_y_query = """SELECT COUNT(DISTINCT y)
FROM demo;"""
curs.execute(distinct_y_query)
print(curs.fetchall())

[(2,)]

## Part 2

In [20]:
# connecting northwind_small.sqlite3 file
import sqlite3
conn = sqlite3.connect('/home/mishraka/repos/manjulamishra/northwind_small.sqlite3')

#create a cursor
curs = conn.cursor()

In [22]:
curs.execute("SELECT name FROM sqlite_master WHERE type='table' ORDER BY name;").fetchall()
[('Category',), ('Customer',), ('CustomerCustomerDemo',),
('CustomerDemographic',), ('Employee',), ('EmployeeTerritory',), ('Order',),
('OrderDetail',), ('Product',), ('Region',), ('Shipper',), ('Supplier',),
('Territory',)]

[('Category',),
 ('Customer',),
 ('CustomerCustomerDemo',),
 ('CustomerDemographic',),
 ('Employee',),
 ('EmployeeTerritory',),
 ('Order',),
 ('OrderDetail',),
 ('Product',),
 ('Region',),
 ('Shipper',),
 ('Supplier',),
 ('Territory',)]

In [27]:
curs.execute('SELECT sql FROM sqlite_master WHERE name="Customer";').fetchall()
[('CREATE TABLE "Customer" \n(\n  "Id" VARCHAR(8000) PRIMARY KEY, \n "CompanyName" VARCHAR(8000) NULL, \n  "ContactName" VARCHAR(8000) NULL, \n "ContactTitle" VARCHAR(8000) NULL, \n  "Address" VARCHAR(8000) NULL, \n  "City" VARCHAR(8000) NULL, \n  "Region" VARCHAR(8000) NULL, \n  "PostalCode" VARCHAR(8000) NULL, \n  "Country" VARCHAR(8000) NULL, \n  "Phone" VARCHAR(8000) NULL, \n  "Fax" VARCHAR(8000) NULL \n)')]

['CREATE TABLE "Customer" \n(\n  "Id" VARCHAR(8000) PRIMARY KEY, \n "CompanyName" VARCHAR(8000) NULL, \n  "ContactName" VARCHAR(8000) NULL, \n "ContactTitle" VARCHAR(8000) NULL, \n  "Address" VARCHAR(8000) NULL, \n  "City" VARCHAR(8000) NULL, \n  "Region" VARCHAR(8000) NULL, \n  "PostalCode" VARCHAR(8000) NULL, \n  "Country" VARCHAR(8000) NULL, \n  "Phone" VARCHAR(8000) NULL, \n  "Fax" VARCHAR(8000) NULL \n)']

In [42]:
# Question 1What are the ten most expensive items (per unit price) in the database?
most_expensive = """SELECT Id, ProductName, UnitPrice

FROM Product 
ORDER BY UnitPrice DESC LIMIT 10;"""
curs.execute(most_expensive)
print(curs.fetchall())

[(38, 'Côte de Blaye', 263.5), (29, 'Thüringer Rostbratwurst', 123.79), (9, 'Mishi Kobe Niku', 97), (20, "Sir Rodney's Marmalade", 81), (18, 'Carnarvon Tigers', 62.5), (59, 'Raclette Courdavault', 55), (51, 'Manjimup Dried Apples', 53), (62, 'Tarte au sucre', 49.3), (43, 'Ipoh Coffee', 46), (28, 'Rössle Sauerkraut', 45.6)]

In [50]:
# Q2 What is the average age of an employee at the time of their hiring? (Hint: a lot of arithmetic works with dates.)
avg_age = """SELECT AVG(strftime('%Y', date('now'))-strftime('%Y', Employee.BirthDate) )
FROM Employee;"""
curs.execute(avg_age)
print(curs.fetchall())

[(31.22222222222222,)]

In [52]:
# (Stretch) How does the average age of employee at hire vary by city?
avg_age = """SELECT City,
AVG(strftime('%Y', date('now'))-strftime('%Y', Employee.BirthDate) )
FROM Employee
GROUP BY Employee.City;
"""
curs.execute(avg_age)
print(curs.fetchall())

[('Kirkland', 24.0), ('London', 26.0), ('Redmond', 50.0), ('Seattle', 34.0), ('Tacoma', 35.0)]

## Part 3

In [47]:
# What are the ten most expensive items (per unit price) in the database and their suppliers?
most_expensive = """SELECT Product.Id, ProductName, UnitPrice, Supplier.CompanyName
FROM Product, Supplier WHERE Product.SupplierId = Supplier.Id
ORDER BY UnitPrice DESC LIMIT 10;"""
curs.execute(most_expensive)
print(curs.fetchall())

[(38, 'Côte de Blaye', 263.5, 'Aux joyeux ecclésiastiques'), (29, 'Thüringer Rostbratwurst', 123.79, 'Plutzer Lebensmittelgroßmärkte AG'), (9, 'Mishi Kobe Niku', 97, 'Tokyo Traders'), (20, "Sir Rodney's Marmalade", 81, 'Specialty Biscuits, Ltd.'), (18, 'Carnarvon Tigers', 62.5, 'Pavlova, Ltd.'), (59, 'Raclette Courdavault', 55, 'Gai pâturage'), (51, 'Manjimup Dried Apples', 53, "G'day, Mate"), (62, 'Tarte au sucre', 49.3, "Forêts d'érables"), (43, 'Ipoh Coffee', 46, 'Leka Trading'), (28, 'Rössle Sauerkraut', 45.6, 'Plutzer Lebensmittelgroßmärkte AG')]

In [49]:
#  What is the largest category (by number of products in it)?

largest_category = """SELECT Category.Id, 
COUNT(Product.CategoryId)
FROM  Category, Product
WHERE Category.Id = Product.CategoryId
GROUP BY Product.CategoryId;"""
curs.execute(largest_category)
print(curs.fetchall())

[(1, 12), (2, 12), (3, 13), (4, 10), (5, 7), (6, 6), (7, 5), (8, 12)]

In [ ]:
# (Stretch) What is the top territory (by number of employees), and how many employees does it have?