In [4]:
import sqlite3
conn = sqlite3.connect('demo_data1.sqlite')
cursor = conn.cursor()
#anytime we are querying we commit
cursor.execute(''' CREATE TABLE demo
    (s TEXT NOT NULL,
    x INT NOT NULL,
    y INT NOT NULL);''')

In [6]:
cursor = conn.cursor()
cursor.execute("INSERT INTO demo (s, x, y) \
    VALUES ('g', 3, 9)");
cursor.execute("INSERT INTO demo (s, x, y) \
    VALUES ('g', 5, 7)");
cursor.execute("INSERT INTO demo (s, x, y) \
    VALUES ('g', 8, 7)");
conn.commit()

In [8]:
countrows = 'SELECT COUNT(*) FROM demo'
cursor.execute(countrows).fetchall()

[(3,)]

In [11]:
atleastfive = 'SELECT COUNT(*) FROM demo WHERE x > 5 AND y > 5;'
cursor.execute(atleastfive).fetchall()

[(1,)]

In [15]:
countvaluesy = 'SELECT COUNT(DISTINCT y) FROM demo;'
cursor.execute(countvaluesy).fetchall()

[(2,)]

In [16]:
cursor.close()

In [17]:
conn = sqlite3.connect('northwind_small.sqlite3')
cursor = conn.cursor()

In [20]:
# What are the ten most expensive items (per unit price) in the database?
mostexpensive = 'SELECT ProductName FROM ProductDetails_V ORDER BY UnitPrice DESC LIMIT 10;'
cursor.execute(mostexpensive).fetchall()

[('Côte de Blaye',),
 ('Thüringer Rostbratwurst',),
 ('Mishi Kobe Niku',),
 ("Sir Rodney's Marmalade",),
 ('Carnarvon Tigers',),
 ('Raclette Courdavault',),
 ('Manjimup Dried Apples',),
 ('Tarte au sucre',),
 ('Ipoh Coffee',),
 ('Rössle Sauerkraut',)]

In [22]:
# What is the average age of an employee at the time of their hiring? (Hint: a lot of arithmetic works with dates.)
avgage = 'SELECT AVG(HireDate - BirthDate) FROM Employee;'
cursor.execute(avgage).fetchall()

[(37.22222222222222,)]

In [39]:
# (Stretch) How does the average age of employee at hire vary by city?
avgagebycity = 'SELECT City, AVG(HireDate - BirthDate) FROM Employee GROUP BY City;'
cursor.execute(avgagebycity).fetchall()

[('Kirkland', 29.0),
 ('London', 32.5),
 ('Redmond', 56.0),
 ('Seattle', 40.0),
 ('Tacoma', 40.0)]

In [46]:
avgagebycityvary = 'SELECT City, AVG(HireDate - BirthDate - 37.222) FROM Employee GROUP BY City;'
cursor.execute(avgagebycityvary).fetchall()

[('Kirkland', -8.222000000000001),
 ('London', -4.722000000000001),
 ('Redmond', 18.778),
 ('Seattle', 2.7779999999999987),
 ('Tacoma', 2.7779999999999987)]

In [23]:
# What are the ten most expensive items (per unit price) in the database and their suppliers?
mostexpensivesupplier = 'SELECT ProductName, SupplierName FROM ProductDetails_V ORDER BY UnitPrice DESC LIMIT 10;'
cursor.execute(mostexpensivesupplier).fetchall()

[('Côte de Blaye', 'Aux joyeux ecclésiastiques'),
 ('Thüringer Rostbratwurst', 'Plutzer Lebensmittelgroßmärkte AG'),
 ('Mishi Kobe Niku', 'Tokyo Traders'),
 ("Sir Rodney's Marmalade", 'Specialty Biscuits, Ltd.'),
 ('Carnarvon Tigers', 'Pavlova, Ltd.'),
 ('Raclette Courdavault', 'Gai pâturage'),
 ('Manjimup Dried Apples', "G'day, Mate"),
 ('Tarte au sucre', "Forêts d'érables"),
 ('Ipoh Coffee', 'Leka Trading'),
 ('Rössle Sauerkraut', 'Plutzer Lebensmittelgroßmärkte AG')]

In [36]:
# What is the largest category (by number of unique products in it)?
largestcategory = 'SELECT CategoryName, COUNT(DISTINCT ProductName) FROM ProductDetails_V GROUP BY CategoryName ORDER BY COUNT(DISTINCT ProductName) DESC LIMIT 1;'
cursor.execute(largestcategory).fetchall()

[('Confections', 13)]

In [55]:
# (Stretch) Who's the employee with the most territories? Use TerritoryId (not name, region, or other fields) as the unique identifier for territories.
mostterritories = 'SELECT Employee.Id, Employee.FirstName, Employee.LastName, EmployeeTerritory.EmployeeId, EmployeeTerritory.TerritoryId, Territory.Id, Territory.TerritoryDescription \
                    FROM Employee \
                    INNER JOIN EmployeeTerritory ON Employee.Id = EmployeeTerritory.EmployeeId \
                    INNER JOIN Territory ON EmployeeTerritory.TerritoryId = Territory.Id;'
cursor.execute(mostterritories).fetchall()

[(1, 'Nancy', 'Davolio', 1, '06897', '06897', 'Wilton'),
 (1, 'Nancy', 'Davolio', 1, '19713', '19713', 'Neward'),
 (2, 'Andrew', 'Fuller', 2, '01581', '01581', 'Westboro'),
 (2, 'Andrew', 'Fuller', 2, '01730', '01730', 'Bedford'),
 (2, 'Andrew', 'Fuller', 2, '01833', '01833', 'Georgetow'),
 (2, 'Andrew', 'Fuller', 2, '02116', '02116', 'Boston'),
 (2, 'Andrew', 'Fuller', 2, '02139', '02139', 'Cambridge'),
 (2, 'Andrew', 'Fuller', 2, '02184', '02184', 'Braintree'),
 (2, 'Andrew', 'Fuller', 2, '40222', '40222', 'Louisville'),
 (3, 'Janet', 'Leverling', 3, '30346', '30346', 'Atlanta'),
 (3, 'Janet', 'Leverling', 3, '31406', '31406', 'Savannah'),
 (3, 'Janet', 'Leverling', 3, '32859', '32859', 'Orlando'),
 (3, 'Janet', 'Leverling', 3, '33607', '33607', 'Tampa'),
 (4, 'Margaret', 'Peacock', 4, '20852', '20852', 'Rockville'),
 (4, 'Margaret', 'Peacock', 4, '27403', '27403', 'Greensboro'),
 (4, 'Margaret', 'Peacock', 4, '27511', '27511', 'Cary'),
 (5, 'Steven', 'Buchanan', 5, '02903', '02903', 'Providence'),
 (5, 'Steven', 'Buchanan', 5, '07960', '07960', 'Morristown'),
 (5, 'Steven', 'Buchanan', 5, '08837', '08837', 'Edison'),
 (5, 'Steven', 'Buchanan', 5, '10019', '10019', 'New York'),
 (5, 'Steven', 'Buchanan', 5, '10038', '10038', 'New York'),
 (5, 'Steven', 'Buchanan', 5, '11747', '11747', 'Mellvile'),
 (5, 'Steven', 'Buchanan', 5, '14450', '14450', 'Fairport'),
 (6, 'Michael', 'Suyama', 6, '85014', '85014', 'Phoenix'),
 (6, 'Michael', 'Suyama', 6, '85251', '85251', 'Scottsdale'),
 (6, 'Michael', 'Suyama', 6, '98004', '98004', 'Bellevue'),
 (6, 'Michael', 'Suyama', 6, '98052', '98052', 'Redmond'),
 (6, 'Michael', 'Suyama', 6, '98104', '98104', 'Seattle'),
 (7, 'Robert', 'King', 7, '60179', '60179', 'Hoffman Estates'),
 (7, 'Robert', 'King', 7, '60601', '60601', 'Chicago'),
 (7, 'Robert', 'King', 7, '80202', '80202', 'Denver'),
 (7, 'Robert', 'King', 7, '80909', '80909', 'Colorado Springs'),
 (7, 'Robert', 'King', 7, '90405', '90405', 'Santa Monica'),
 (7, 'Robert', 'King', 7, '94025', '94025', 'Menlo Park'),
 (7, 'Robert', 'King', 7, '94105', '94105', 'San Francisco'),
 (7, 'Robert', 'King', 7, '95008', '95008', 'Campbell'),
 (7, 'Robert', 'King', 7, '95054', '95054', 'Santa Clara'),
 (7, 'Robert', 'King', 7, '95060', '95060', 'Santa Cruz'),
 (8, 'Laura', 'Callahan', 8, '19428', '19428', 'Philadelphia'),
 (8, 'Laura', 'Callahan', 8, '44122', '44122', 'Beachwood'),
 (8, 'Laura', 'Callahan', 8, '45839', '45839', 'Findlay'),
 (8, 'Laura', 'Callahan', 8, '53404', '53404', 'Racine'),
 (9, 'Anne', 'Dodsworth', 9, '03049', '03049', 'Hollis'),
 (9, 'Anne', 'Dodsworth', 9, '03801', '03801', 'Portsmouth'),
 (9, 'Anne', 'Dodsworth', 9, '48075', '48075', 'Southfield'),
 (9, 'Anne', 'Dodsworth', 9, '48084', '48084', 'Troy'),
 (9, 'Anne', 'Dodsworth', 9, '48304', '48304', 'Bloomfield Hills'),
 (9, 'Anne', 'Dodsworth', 9, '55113', '55113', 'Roseville'),
 (9, 'Anne', 'Dodsworth', 9, '55439', '55439', 'Minneapolis')]

In [77]:
mostterritories = 'SELECT Employee.FirstName, Employee.LastName, COUNT(DISTINCT EmployeeTerritory.TerritoryId) \
                    FROM Employee \
                    INNER JOIN EmployeeTerritory ON Employee.Id = EmployeeTerritory.EmployeeId \
                    INNER JOIN Territory ON EmployeeTerritory.TerritoryId = Territory.Id \
                    GROUP BY Employee.FirstName \
                    ORDER BY COUNT(DISTINCT EmployeeTerritory.TerritoryId) DESC \
                    LIMIT 1;'
cursor.execute(mostterritories).fetchall()

[('Robert', 'King', 10)]

In [ ]:
# In the Northwind database, what is the type of relationship between the Employee and Territory tables?
# There is a one-to-one relationship between each employee, their primary id's, matched with the EmployeeId vs TerritoryId keys of the 
#EmployeeTerritory table, which then directly relates to the Territory table through the primary Id of the Territory table vs. the 
#TerritoryId of the EmployeeTerritory table.

In [ ]:
# What is a situation where a document store (like MongoDB) is appropriate, and what is a situation where it is not appropriate?
#MongoDB is great for securing data for web applications for use in BSON format for necessary retrieval.

In [ ]:
# What is "NewSQL", and what is it trying to achieve?
#NewSQL is a class of databases that satisfies the scalability and elasticity of new SQL systems while maintaining
#ACID guarrantees, atomicity, consistency, isolation and durability, meaning that there is integrity of the entire 
#database transaction pipeline, that the data that only follows specific rules will be written into the database, and that there
# are concurrent processes, and one process does not affect another, durability to make failures invisible to the end-user.