In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('rpg_db.sqlite3')
curs = conn.cursor()

In [12]:
query = 'SELECT COUNT(*) FROM charactercreator_character;'  # using COUNT(*)to count length of character list

In [13]:
result = curs.execute(query)

In [14]:
result.fetchall()

[(302,)]

In [ ]:
# so there are 302 characters in total

In [18]:
subclasses = ['mage','thief','cleric','fighter']
for subclass in subclasses:
    query_sub=f'SELECT COUNT(*) FROM charactercreator_{subclass};'
    result_sub=curs.execute(query_sub)
    print(f'there are {result_sub.fetchall()[0][0]} members of the {subclass} class')

there are 108 members of the mage class
there are 51 members of the thief class
there are 75 members of the cleric class
there are 68 members of the fighter class

In [19]:
#see answers above for second question and question 3 below

In [20]:
query_items = 'SELECT COUNT(*) FROM armory_item;'  # using COUNT(*)to count length of character list
result_items = curs.execute(query_items)
print(f'there are in total {result_items.fetchall()[0][0]} items')

there are in total 174 items

In [26]:
inv_types=['armory_weapon','armory_item']
for inv in inv_types:
    query_inv=f'SELECT COUNT(*) FROM {inv};'
    result_item=curs.execute(query_inv)
    print(f'there are {result_item.fetchall()[0][0]} items in the {inv}')

there are 37 items in the armory_weapon
there are 174 items in the armory_item

In [27]:
# 174-34 are not wepaons, i.e. 137

In [181]:
#number of item in first 20 inventories
for j in range(1,21):
    cs3 = f"""
SELECT cc.name AS character_name, COUNT(ai.name)
FROM 
charactercreator_character as cc,
armory_item as ai,
charactercreator_character_inventory as cci
WHERE
cc.character_id=cci.character_id AND
ai.item_id = cci.item_id AND
cci.character_id={j};"""
    result_cs3=curs.execute(cs3)
    _=result_cs3.fetchall()
    print(_)

[('Aliquid iste optio reiciendi', 3)]
[('Optio dolorem ex a', 3)]
[('Minus c', 2)]
[('Sit ut repr', 4)]
[('At id recusandae expl', 4)]
[('Non nobis et of', 1)]
[('Perferendis', 5)]
[('Accusantium amet quidem eve', 3)]
[('Sed nostrum inventore error m', 4)]
[('Harum repellendus omnis od', 4)]
[('Itaque ut commodi,', 3)]
[('Molestiae quis', 3)]
[('Ali', 4)]
[('Tempora quod optio possimus il', 4)]
[('Sed itaque beatae pari', 4)]
[('Quam dolor', 1)]
[('Molestias expedita', 5)]
[('Lauda', 5)]
[('Incidunt sint perferen', 3)]
[('Laboriosa', 1)]

In [ ]:
#or like this combingin sql and python

In [163]:
for j in range(1,21):
    cs = f"""
SELECT cc.name AS character_name, ai.name 
FROM 
charactercreator_character as cc,
armory_item as ai,
charactercreator_character_inventory as cci
WHERE
cc.character_id=cci.character_id AND
ai.item_id = cci.item_id AND
cci.character_id={j};"""
    result_cs=curs.execute(cs)
    _=result_cs.fetchall()
    print(_[0][0],'has',len(_),'items')

Aliquid iste optio reiciendi has 3 items
Optio dolorem ex a has 3 items
Minus c has 2 items
Sit ut repr has 4 items
At id recusandae expl has 4 items
Non nobis et of has 1 items
Perferendis has 5 items
Accusantium amet quidem eve has 3 items
Sed nostrum inventore error m has 4 items
Harum repellendus omnis od has 4 items
Itaque ut commodi, has 3 items
Molestiae quis has 3 items
Ali has 4 items
Tempora quod optio possimus il has 4 items
Sed itaque beatae pari has 4 items
Quam dolor has 1 items
Molestias expedita has 5 items
Lauda has 5 items
Incidunt sint perferen has 3 items
Laboriosa has 1 items

In [176]:
#number of weapons in each inventory
k=0
for j in range(1,40):
    cs2 = f"""
SELECT cc.name AS character_name, ai.item_id
FROM 
charactercreator_character as cc,
(armory_item INNER JOIN armory_weapon on armory_item.item_id = armory_weapon.item_ptr_id) as ai,
charactercreator_character_inventory as cci
WHERE
cc.character_id=cci.character_id AND
ai.item_id = cci.item_id AND
cci.character_id={j};"""
    result_cs2=curs.execute(cs2)
    _=result_cs2.fetchall()
    if _==[]:
        pass
    else:
        print(_[0][0],'has',len(_),'weapons')
        k=k+1
    if k>19:
        break

At id recusandae expl has 2 weapons
Perferendis has 1 weapons
Itaque ut commodi, has 1 weapons
Laboriosa has 1 weapons
Dolorum nam reic has 1 weapons
Repellat ad numquam volu has 1 weapons
Doloribus neque has 1 weapons
Ab voluptas se has 3 weapons
In pariatur corpori has 2 weapons
Possimus ad dignissimos vel, a has 1 weapons
Ad necess has 1 weapons
Voluptates sunt voluptas volu has 1 weapons
Autem mollitia fuga lauda has 2 weapons
Sint quibusdam ob has 3 weapons
Rerum et o has 2 weapons
Doloribus dolore r has 2 weapons
Eaque su has 2 weapons

In [212]:
#average number of items
query_length='''SELECT avg(count) FROM(
SELECT COUNT(armory_item.item_id) AS Count
FROM charactercreator_character INNER JOIN
(armory_item INNER JOIN charactercreator_character_inventory on armory_item.item_id = charactercreator_character_inventory.item_id)
on charactercreator_character.character_id = charactercreator_character_inventory.character_id
GROUP BY charactercreator_character.character_id);'''
result_length = curs.execute(query_length)
result_length.fetchall()

[(2.9735099337748343,)]

In [214]:
#average number of weapons
query_length='''SELECT avg(count) FROM(
SELECT COUNT(armory_item.item_id) AS Count
FROM charactercreator_character INNER JOIN
((armory_item INNER JOIN armory_weapon on armory_item.item_id = armory_weapon.item_ptr_id)
INNER JOIN charactercreator_character_inventory on armory_item.item_id = charactercreator_character_inventory.item_id)
on charactercreator_character.character_id = charactercreator_character_inventory.character_id
GROUP BY charactercreator_character.character_id);'''
result_length = curs.execute(query_length)
result_length.fetchall()

[(1.3096774193548386,)]