<a href="https://colab.research.google.com/github/aaptecode/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/SQL_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3
dir(sqlite3)

['Binary',
 'Cache',
 'Connection',
 'Cursor',
 'DataError',
 'DatabaseError',
 'Date',
 'DateFromTicks',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'OptimizedUnicode',
 'PARSE_COLNAMES',
 'PARSE_DECLTYPES',
 'PrepareProtocol',
 'ProgrammingError',
 'Row',
 'SQLITE_ALTER_TABLE',
 'SQLITE_ANALYZE',
 'SQLITE_ATTACH',
 'SQLITE_CREATE_INDEX',
 'SQLITE_CREATE_TABLE',
 'SQLITE_CREATE_TEMP_INDEX',
 'SQLITE_CREATE_TEMP_TABLE',
 'SQLITE_CREATE_TEMP_TRIGGER',
 'SQLITE_CREATE_TEMP_VIEW',
 'SQLITE_CREATE_TRIGGER',
 'SQLITE_CREATE_VIEW',
 'SQLITE_DELETE',
 'SQLITE_DENY',
 'SQLITE_DETACH',
 'SQLITE_DROP_INDEX',
 'SQLITE_DROP_TABLE',
 'SQLITE_DROP_TEMP_INDEX',
 'SQLITE_DROP_TEMP_TABLE',
 'SQLITE_DROP_TEMP_TRIGGER',
 'SQLITE_DROP_TEMP_VIEW',
 'SQLITE_DROP_TRIGGER',
 'SQLITE_DROP_VIEW',
 'SQLITE_IGNORE',
 'SQLITE_INSERT',
 'SQLITE_OK',
 'SQLITE_PRAGMA',
 'SQLITE_READ',
 'SQLITE_REINDEX',
 'SQLITE_SELECT',
 'SQLITE_TRANSACTION',
 'SQLITE_UPDATE',
 'Statement',
 'Time',
 'TimeFromTicks',
 'Timestamp',
 'TimestampFromTicks',
 'Warning',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'adapt',
 'adapters',
 'apilevel',
 'collections',
 'complete_statement',
 'connect',
 'converters',
 'datetime',
 'dbapi2',
 'enable_callback_tracebacks',
 'enable_shared_cache',
 'paramstyle',
 'register_adapter',
 'register_converter',
 'sqlite_version',
 'sqlite_version_info',
 'threadsafety',
 'time',
 'version',
 'version_info']

### Questions:

    1) How many total Characters are there?

    2) How many of each specific subclass?

    3) How many total Items?

    4) How many of the Items are weapons? How many are not?

    5) On average, how many Items does each Character have?

    6) On average, how many Weapons does each character have?

In [2]:
from google.colab import files
uploaded = files.upload()

Saving rpg_db.sqlite3 to rpg_db (1).sqlite3

In [3]:
conn = sqlite3.connect('rpg_db.sqlite3')

dir(conn)

['DataError',
 'DatabaseError',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'ProgrammingError',
 'Warning',
 '__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'close',
 'commit',
 'create_aggregate',
 'create_collation',
 'create_function',
 'cursor',
 'enable_load_extension',
 'execute',
 'executemany',
 'executescript',
 'in_transaction',
 'interrupt',
 'isolation_level',
 'iterdump',
 'load_extension',
 'rollback',
 'row_factory',
 'set_authorizer',
 'set_progress_handler',
 'set_trace_callback',
 'text_factory',
 'total_changes']

In [4]:
curs = conn.cursor()
dir(curs)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

In [5]:
help(curs.execute)

Help on built-in function execute:

execute(...) method of sqlite3.Cursor instance
    Executes a SQL statement.

In [6]:
help(curs.fetchone)

Help on built-in function fetchone:

fetchone(...) method of sqlite3.Cursor instance
    Fetches one row from the resultset.

**    1) How many total Characters are there?**

In [7]:
query1 = """
SELECT COUNT(*)
FROM charactercreator_character AS character
"""

curs.execute(query1)
curs.fetchone()[0]

302

**2) How many of each specific subclass?**

In [8]:
# 5 subclasses, implied Inner Join w/ WHERE

query2_cleric = """
SELECT COUNT(character.character_id)
FROM charactercreator_character AS character, charactercreator_cleric AS cleric
WHERE character.character_id = cleric.character_ptr_id

"""

query2_fighter = """
SELECT COUNT(character.character_id)
FROM charactercreator_character AS character, charactercreator_fighter AS fighter
WHERE character.character_id = fighter.character_ptr_id

"""

query2_mage = """
SELECT COUNT(character.character_id)
FROM charactercreator_character AS character, charactercreator_mage AS mage
WHERE character.character_id = mage.character_ptr_id

"""

query2_necromancer = """
SELECT COUNT(character.character_id)
FROM charactercreator_character AS character, charactercreator_necromancer AS nm
WHERE character.character_id = nm.mage_ptr_id

"""

query2_thief = """
SELECT COUNT(character.character_id)
FROM charactercreator_character AS character, charactercreator_thief AS thief
WHERE character.character_id = thief.character_ptr_id

"""

curs.execute(query2_cleric)
print('The number of clerics is {}.'.format(curs.fetchone()[0]))
curs.execute(query2_fighter)
print('The number of fighters is {}.'.format(curs.fetchone()[0]))
curs.execute(query2_mage)
print('The number of mages (magi?) is {}.'.format(curs.fetchone()[0]))
curs.execute(query2_necromancer)
print('The number of necromancers is {}.'.format(curs.fetchone()[0]))
curs.execute(query2_thief)
print('The number of thieves is {}.'.format(curs.fetchone()[0]))

The number of clerics is 75.
The number of fighters is 68.
The number of mages (magi?) is 108.
The number of necromancers is 11.
The number of thieves is 51.

In [9]:
75+68+108+11+51

313

**Notice that this total is 11 more than the result from the first query. This is because necromancer is a type of mage. I show it for completeness but in reality there are 4 subclasses with one subclass having a specialty. **

** 3) How many total Items?**

In [10]:
query3 = """
SELECT COUNT(armory.item_id)
FROM armory_item AS armory

"""

curs.execute(query3)
curs.fetchone()[0]

174

** 4) How many of the Items are weapons? How many are not?**

In [11]:
query4_weapon = """
SELECT COUNT(armory.item_id)
FROM armory_item AS armory, armory_weapon AS weapon
WHERE armory.item_id = weapon.item_ptr_id

"""

curs.execute(query4_weapon)
curs.fetchone()[0]

37

In [12]:
query4_not = """
SELECT COUNT(armory.item_id)
FROM armory_item AS armory, armory_weapon AS weapon
WHERE armory.item_id != weapon.item_ptr_id

"""

curs.execute(query4_not)
curs.fetchone()[0]

6401

**While the code is correct, the answer is not. This suggests an issue with the armory_weapon table.**

**Actual Answer**

In [13]:
curs.execute(query3)
total = curs.fetchone()[0]
curs.execute(query4_weapon)
weapon = curs.fetchone()[0]

print(total-weapon)

137

In [14]:
# Thanks Dakota

query4_2 = """SELECT COUNT(*)
FROM armory_item
WHERE item_id NOT IN
            (SELECT distinct item_ptr_id
                FROM armory_weapon)"""

curs.execute(query4_2)
curs.fetchone()[0]

137

**5) On average, how many Items does each Character have?**

In [15]:
query5 = """
SELECT COUNT(inventory.item_id) *1.0 / COUNT(DISTINCT inventory.character_id)
FROM charactercreator_character_inventory AS inventory

"""

curs.execute(query5)
curs.fetchone()[0]

2.9735099337748343

** 6) On average, how many Weapons does each character have?**

In [17]:
query6 = """
SELECT COUNT(inventory.item_id) *1.0 / COUNT(DISTINCT inventory.character_id)
FROM charactercreator_character_inventory AS inventory, armory_weapon AS weapon
WHERE inventory.item_id = weapon.item_ptr_id

"""

curs.execute(query6)
curs.fetchone()[0]

1.3096774193548386

### Extra Stuff

In [0]:
# Rudy

# curl https://raw.githubusercontent.com/Phantasm320/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module1-introduction-to-sql/load_data.py -o load_data.py

# class Load_Data():

#     def __init__(self, db_file):
#         self.db_file = db_file

#     def create_dataframe(self, columns, table):
#         '''
#         Convert a SQLite3 database into a pandas DataFrame
#         --------------------------------------------------
#         Parameters
#         columns: (string) Enter the column or columns desired
#                  example 1- "column_desired"
#                  example 2- "column_1, column_2"
#                  example 3- "*" to select all columns. If using this format
#                              the pandas dataframe will not have column names
#         table: (string) Enter the table desired
#                 example 1- "table_desired"

#         '''
#         import sqlite3
#         import pandas as pd
#         data = []
#         col_names = columns.split(",")
#         conn = sqlite3.connect(self.db_file)
#         c = conn.cursor()
#         for row in c.execute('SELECT {} FROM {}'.format(columns, table)):
#             pre_data = []
#             for i in row:
#                 pre_data.append(i)
#             data.append(pre_data)

#         if columns == '*':
#             return pd.DataFrame(data=data)
#         else:
#             return pd.DataFrame(data=data, columns=col_names)

#     def make_query(self, SELECT, FROM, STATEMENT=None, query=None):

#         '''
#         Make basic queries using sqlite3
#         ---------------------------------
#         Parameters
#         SELECT: (string) Enter the column or columns from the database
#                  example 1- "column_desired"
#                  example 2- "column_1, column_2"
#                  example 3- "*" to select all columns
#                  May also combined simple queries
#                  example 4- "COUNT(column_desired)" or "COUNT(*)"
#                  example 5- "ROUND(AVG(column_desired))"
#                  example 6- "MIN(column_desired)" or "MAX(column_1, column_2)"

#         FROM: (string) Enter the table desired
#                  example 1- "table_desired"

#         STATEMENT: (string) Enter the statement desired
#                  example 1- "LIMIT"
#                  example 2- "WHERE"
#                  example 3- "ORDER BY"

#         query: (string) Enter the an additional query after query1
#                  example 1- "column_desired <= 1 OR column_desired >=8"
#                  example 2- "column_desired ASC"
#         '''
#         import sqlite3
#         conn = sqlite3.connect(self.db_file)
#         c = conn.cursor()

#         if (STATEMENT and query) == None:
#             for row in c.execute('SELECT {} FROM {}'.format(SELECT, FROM)):
#                 print(row)

#         elif (STATEMENT and query) != None:
#             for row in c.execute('SELECT {} FROM {} {} {}'.format(SELECT, FROM,
#                                                                   STATEMENT,
#                                                                   query)):
#                 print(row)

In [0]:
import sys
sys.path

In [0]:
from google.colab import files
uploaded = files.upload()

In [0]:
# %load acme.py
import acme
dir(acme)