In [1]:
import sqlite3

path = 'C:/Users/Cactuar/Projects/DS-Unit-3-Sprint-2-SQL-and-Databases/module1-introduction-to-sql/rpg_db.sqlite3'
conn = sqlite3.connect(path)
curs = conn.cursor()

query = '''SELECT COUNT(character_id) FROM charactercreator_character;'''

query

'SELECT COUNT(character_id) FROM charactercreator_character;'

In [2]:
curs.execute(query)

In [3]:
curs.fetchall()

[(302,)]

In [4]:
import pandas as pd

path = 'C:/Users/Cactuar/Projects/DS-Unit-3-Sprint-2-SQL-and-Databases/module1-introduction-to-sql/buddymove_holidayiq.csv'
df = pd.read_csv(path)

In [5]:
df = df.rename(columns={'User Id': 'User_id'})

In [6]:
df.head()

  User_id  Sports  Religious  Nature  Theatre  Shopping  Picnic
0  User 1       2         77      79       69        68      95
1  User 2       2         62      76       76        69      68
2  User 3       2         50      97       87        50      75
3  User 4       2         68      77       95        76      61
4  User 5       2         98      54       59        95      86

In [7]:
conn = sqlite3.connect('buddymove_holidayiq.sqlite3')

In [8]:
df.to_sql('review', con=conn)

In [9]:
path = 'C:/Users/Cactuar/Projects/DS-Unit-3-Sprint-2-SQL-and-Databases/buddymove_holidayiq.sqlite3'
conn = sqlite3.connect(path)
curs = conn.cursor()
query = 'SELECT COUNT(Sports) FROM review'

In [10]:
curs.execute(query)

In [11]:
curs.fetchall()

[(249,)]