<a href="https://colab.research.google.com/github/tbradshaw91/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /usr/local/lib/python3.6/dist-packages (2.8.2)

In [0]:
import psycopg2
dbname = 'obosfrfq'
user = 'obosfrfq'
password = 'i41M_npP9pfriIhwSSZIzuthwRVXXxGB'
host = 'raja.db.elephantsql.com'

In [0]:
pg_conn = psycopg2.connect(dbname = dbname, user=user, password=password,host=host)

In [0]:
import pandas as pd
import numpy as np
import sqlite3
from sqlalchemy import create_engine

In [0]:
# Reading in titanic csv
df = pd.read_csv('https://raw.githubusercontent.com/tbradshaw91/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module2-sql-for-analysis/titanic.csv')

**Creating engine**

In [0]:
df['Name']=df['Name'].str.replace('\'','')

In [0]:
engine = create_engine('sqlite://', echo=False)

In [0]:
df.to_sql('titanic', con=engine)

In [0]:
titanic_engine = engine.execute("SELECT * FROM titanic").fetchall()

In [15]:
# YAY
df.head()

   Survived  Pclass  ... Parents/Children Aboard     Fare
0         0       3  ...                       0   7.2500
1         1       1  ...                       0  71.2833
2         1       3  ...                       0   7.9250
3         1       1  ...                       0  53.1000
4         0       3  ...                       0   8.0500

[5 rows x 8 columns]

In [0]:
create_titanic_table = """
CREATE TABLE titanic_table (
  id SERIAL PRIMARY KEY,
  survived INT,
  pclass INT,
  name VARCHAR(100),
  sex VARCHAR(7),
  age DECIMAL,
  sibs_spos INT,
  par_chi INT,
  fare DECIMAL
)"""

In [17]:
pg_conn = psycopg2.connect(dbname = dbname, user=user, password=password,host=host)

OperationalError: ignored

In [0]:
pg_curs = pg_conn.cursor()
pg_curs.execute(create_titanic_table)

In [0]:
for person in titanic_engine:
  insert_person="""
  INSERT INTO titanic_table
  VALUES""" +str(person)
  pg_curs.execute(insert_person)
  
pg_conn.commit()

In [0]:
# So much detail
pg_curs.execute('SELECT * FROM titanic_table;')
pg_curs.fetchall()