In [1]:
import sqlite3 as sql
""" import sqlite3 as sql"""

' import sqlite3 as sql'

In [2]:
conn = sql.connect('/home/mishraka/repos/manjulamishra/titanic.sqlite3')

In [3]:
curs = conn.cursor()

In [17]:
# How many passengers survived, and how many died?
survivals_query = """SELECT COUNT(titanic.Survived)
FROM titanic WHERE titanic.Survived =1;"""

In [18]:
curs.execute(survivals_query)

In [19]:
print(curs.fetchall())

[(342,)]

In [33]:
#How many passengers were in each class?
pclass1_query = """SELECT COUNT(titanic.Pclass)
FROM titanic WHERE titanic.Pclass=1;"""
curs.execute(pclass_query)
print(curs.fetchall())

[(216,)]

In [35]:
pclass2_query = """SELECT COUNT(titanic.Pclass)
FROM titanic WHERE titanic.Pclass=2;"""
curs.execute(pclass2_query)
print(curs.fetchall())

[(184,)]

In [36]:
pclass3_query = """SELECT COUNT(titanic.Pclass)
FROM titanic WHERE titanic.Pclass=3;"""
curs.execute(pclass3_query)
print(curs.fetchall())

[(487,)]

In [39]:
pclass4_query = """SELECT COUNT(titanic.Pclass)
FROM titanic WHERE titanic.Pclass=4;"""
curs.execute(pclass4_query)
print(curs.fetchall())

[(0,)]

In [51]:
# How many passengers survived/died within each class?
survivals_in_class1 = """SELECT COUNT(titanic.Survived)
FROM titanic WHERE titanic.Survived =1 AND titanic.Pclass=1;"""

In [52]:
curs.execute(survivals_in_class1)
print(curs.fetchall())

[(136,)]

In [53]:
survivals_in_class2 = """SELECT COUNT(titanic.Survived)
FROM titanic WHERE titanic.Survived =1 AND titanic.Pclass=2;"""
curs.execute(survivals_in_class2)
print(curs.fetchall())

[(87,)]

In [54]:
survivals_in_class3 = """SELECT COUNT(titanic.Survived)
FROM titanic WHERE titanic.Survived =1 AND titanic.Pclass=3;"""
curs.execute(survivals_in_class3)
print(curs.fetchall())

[(119,)]

In [57]:
# What was the average age of survivors vs nonsurvivors?
ave_age_survivor = """SELECT AVG(titanic.Age)
FROM titanic WHERE titanic.Survived=1"""

In [59]:
curs.execute(ave_age_survivor)
print(curs.fetchall())

[(28.408391812865496,)]

In [60]:
ave_age_non_survivors = """SELECT AVG(titanic.Age)
FROM titanic WHERE titanic.Survived =0"""

In [61]:
curs.execute(ave_age_non_survivors)
print(curs.fetchall())

[(30.13853211009174,)]

In [62]:
# What was the average age of each passenger class?
ave_age_pclass = """SELECT AVG(titanic.Age)
FROM titanic WHERE titanic.Pclass =1"""
curs.execute(ave_age_pclass)
print(curs.fetchall())

[(38.78898148148148,)]

In [63]:
ave_age_pclass2 = """SELECT AVG(titanic.Age)
FROM titanic WHERE titanic.Pclass =2"""
curs.execute(ave_age_pclass2)
print(curs.fetchall())

[(29.868641304347825,)]

In [64]:
ave_age_pclass3 = """SELECT AVG(titanic.Age)
FROM titanic WHERE titanic.Pclass =3"""
curs.execute(ave_age_pclass3)
print(curs.fetchall())

[(25.188747433264886,)]

In [65]:
# What was the average fare by passenger class? By survival?
ave_fare_pclass = """SELECT AVG(titanic.Fare)
FROM titanic WHERE titanic.Pclass =1"""
curs.execute(ave_fare_pclass)
print(curs.fetchall())

[(84.15468749999992,)]

In [66]:
ave_fare_pclass2 = """SELECT AVG(titanic.Fare)
FROM titanic WHERE titanic.Pclass =2"""
curs.execute(ave_fare_pclass2)
print(curs.fetchall())

[(20.66218315217391,)]

In [68]:
ave_fare_pclass3 = """SELECT AVG(titanic.Fare)
FROM titanic WHERE titanic.Pclass =3"""
curs.execute(ave_fare_pclass3)
print(curs.fetchall())

[(13.707707392197129,)]

In [71]:
ave_fare_survival1 = """SELECT AVG(titanic.Fare)
FROM titanic WHERE titanic.Survived =1"""
curs.execute(ave_fare_survival)
print(curs.fetchall())

[(48.39540760233917,)]

In [72]:
ave_fare_survival0 = """SELECT AVG(titanic.Fare)
FROM titanic WHERE titanic.Survived =0"""
curs.execute(ave_fare_survival0)
print(curs.fetchall())

[(22.208584036697225,)]

In [76]:
# How many siblings/spouses aboard on average, by passenger class? By survival?
no_siblings = """SELECT AVG(titanic.'Siblings/SpousesAboard')
FROM titanic WHERE titanic.Pclass =1"""
curs.execute(no_siblings)
print(curs.fetchall())

[(0.4166666666666667,)]

In [77]:
no_siblings2 = """SELECT AVG(titanic.'Siblings/SpousesAboard')
FROM titanic WHERE titanic.Pclass =2"""
curs.execute(no_siblings2)
print(curs.fetchall())

[(0.40217391304347827,)]

In [78]:
no_siblings3 = """SELECT AVG(titanic.'Siblings/SpousesAboard')
FROM titanic WHERE titanic.Pclass =3"""
curs.execute(no_siblings3)
print(curs.fetchall())

[(0.6201232032854209,)]

In [79]:
# By Survival
no_sib_by_survival = """SELECT AVG(titanic.'Siblings/SpousesAboard')
FROM titanic WHERE titanic.Survived =0"""
curs.execute(no_sib_by_survival)
print(curs.fetchall())

[(0.5577981651376147,)]

In [80]:
# By Survival
no_sib_by_survival1 = """SELECT AVG(titanic.'Siblings/SpousesAboard')
FROM titanic WHERE titanic.Survived =1"""
curs.execute(no_sib_by_survival1)
print(curs.fetchall())

[(0.47368421052631576,)]

In [83]:
# How many parents/children aboard on average, by passenger class? By survival?
no_of_children1 = """SELECT AVG(titanic.'Parents/ChildrenAboard')
FROM titanic WHERE titanic.Pclass =1"""
curs.execute(no_of_children1)
print(curs.fetchall())

[(0.35648148148148145,)]

In [85]:
no_of_children2 = """SELECT AVG(titanic.'Parents/ChildrenAboard')
FROM titanic WHERE titanic.Pclass =2"""
curs.execute(no_of_children2)
print(curs.fetchall())

[(0.3804347826086957,)]

In [86]:
no_of_children3 = """SELECT AVG(titanic.'Parents/ChildrenAboard')
FROM titanic WHERE titanic.Pclass =3"""
curs.execute(no_of_children3)
print(curs.fetchall())

[(0.39630390143737165,)]

In [88]:
no_of_children_survied0 = """SELECT AVG(titanic.'Parents/ChildrenAboard')
FROM titanic WHERE titanic.Survived =0"""
curs.execute(no_of_children_survied0)
print(curs.fetchall())

[(0.3321100917431193,)]

In [90]:
no_of_children_survied1 = """SELECT AVG(titanic.'Parents/ChildrenAboard')
FROM titanic WHERE titanic.Survived =1"""
curs.execute(no_of_children_survied1)
print(curs.fetchall())

[(0.4649122807017544,)]

In [105]:
# Do any passengers have the same name?
same_name = """SELECT Name, COUNT(*) c FROM titanic GROUP BY Name HAVING c > 1;"""
curs.execute(same_name)
print(curs.fetchall())

[]

In [102]:
same_name  = """SELECT Name, COUNT(*) 
FROM titanic
GROUP BY Name
HAVING COUNT(Name) > 1;"""
curs.execute(same_name)
print(curs.fetchall())

[]