In [34]:
import os
from dotenv import load_dotenv
import psycopg2
import pandas 

load_dotenv() #> loads contents of the .env file into the script's environment

DB_NAME = os.getenv("DB_NAME")
DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_HOST = os.getenv("DB_HOST")

print(DB_NAME, DB_USER, DB_PASSWORD, DB_HOST)

connection = psycopg2.connect(dbname=DB_NAME, user=DB_USER, password=DB_PASSWORD, host=DB_HOST)
print("CONNECTION:", connection)

cursor = connection.cursor()
print("CURSOR:", cursor)

lmvpuzqe lmvpuzqe mY4V-4wY0JxKkXem9ELRV0jMJjmGKKyI otto.db.elephantsql.com
CONNECTION: <connection object at 0x0000018C357436A8; dsn: 'user=lmvpuzqe password=xxx dbname=lmvpuzqe host=otto.db.elephantsql.com', closed: 0>
CURSOR: <cursor object at 0x0000018C35E3D748; closed: 0>

In [25]:
sql_whatever = """COPY titanic(survived,pclass,name,sex,age,siblings_spouses,parents_children,fare
) 
FROM 'titanic.csv' with (format csv, header true, DELIMITER ',');"""

In [35]:
new_table =""" CREATE TABLE titanic2
(
  survived INT,
  pclass INT,
  name VARCHAR(50),
  sex VARCHAR(10),
  age INT,
  siblings_spouses INT,
  parents_children INT,
  fare FLOAT
);
"""

In [36]:
new_query = "CREATE TABLE titanic4 (Survived INT, Class INT, Name VARCHAR, Sex CHAR, Age FLOAT, Sibling_Spouse INT, Parent_Child INT, Fare FLOAT);"

In [26]:
cursor.execute(sql_whatever)
connection.commit()

SyntaxError: syntax error at or near "\"
LINE 1: \COPY titanic(survived,pclass,name,sex,age,siblings_spouses,...
        ^

In [14]:
cursor.execute(new_query)
connection.commit()

In [33]:
connection.close()

In [15]:
cursor.execute('SELECT * from titanic3;')
result = cursor.fetchall()
print("RESULT:", type(result))
print(result)

RESULT: <class 'list'>
[]

In [37]:
import csv

cursor = connection.cursor()
print("CURSOR:", cursor)
with open('titanic.csv', 'r') as f:
    reader = csv.reader(f)
    next(reader) # Skip the header row.
    for row in reader:
        cursor.execute(new_query
    )
conn.commit()

CURSOR: <cursor object at 0x0000018C3530BAC8; closed: 0>

DuplicateTable: relation "titanic3" already exists

In [3]:
import sqlite3
conn = sqlite3.connect('rpg_db.sqlite3')
curs = conn.cursor()

query = 'SELECT COUNT(*) FROM armory_item;'
curs.execute(query)

curs.execute(query).fetchall()

[(174,)]

In [5]:
import sqlite3
conn = sqlite3.connect('study_part1.sqlite3')
curs = conn.cursor()
students = "CREATE TABLE study_part1 (student VARCHAR,studied VARCHAR,grade INT,age INT,sex VARCHAR);"
query = students
curs.execute(query)

OperationalError: table study_part1 already exists

In [12]:
fill = '''
INSERT INTO study_part1 (student, studied, grade, age, sex) 
VALUES ('Lion-O', 'True', 85, 24, 'Male'),
 ('Cheetara', 'True', 95, 22, 'Female'),
 ('Mumm-Ra', 'False', 65, 153, 'Male'),
 ('Snarf', 'False', 70, 15, 'Male'),
 ('Panthro', 'True', 80, 30, 'Male');
 '''

In [14]:
curs.execute(fill)

[]

In [1]:
gender ='''SELECT student 
FROM study_part1
WHERE sex= 'Female'
'''
curs.execute(gender).fetchall()

NameError: name 'curs' is not defined

In [6]:
import sqlite3
conn = sqlite3.connect('demo_data.sqlite3')
curs = conn.cursor()
create = "CREATE TABLE demp(s VARCHAR,x INT, y INT);"
query = create
curs.execute(query)

In [30]:
fill = '''
INSERT INTO demp (s, x, y) 
VALUES ('g', 3, 9),
 ('v', 5, 7),
 ('f', 8, 7)
 ;
 '''
curs.execute(fill)
conn.commit()

In [41]:
count_rows = '''SELECT COUNT(*) FROM demp'''
curs.execute(count_rows)
print(conn.commit())

None

In [47]:
x_and_y='''
SELECT COUNT(*)
FROM demp
WHERE x>4 AND y>4
'''
curs.execute(x_and_y)

None

In [48]:
distincty = '''
SELECT COUNT (DISTINCT y) as d
FROM demp
'''
curs.execute(distincty)