In [1]:
import pandas as pd
import numpy as np

In [7]:
import sqlite3

In [2]:
df = pd.read_csv('buddymove_holidayiq.csv')
df.head()

  User Id  Sports  Religious  Nature  Theatre  Shopping  Picnic
0  User 1       2         77      79       69        68      95
1  User 2       2         62      76       76        69      68
2  User 3       2         50      97       87        50      75
3  User 4       2         68      77       95        76      61
4  User 5       2         98      54       59        95      86

In [3]:
df.shape

(249, 7)

In [5]:
df.isnull().sum()

User Id      0
Sports       0
Religious    0
Nature       0
Theatre      0
Shopping     0
Picnic       0
dtype: int64

In [8]:
# OK, so the data looks good. 
# Let's open a connection stream to a new blank database file
conn = sqlite3.connect('buddymove_holidayiq.sqlite3')

In [9]:
# use df.to_sql to insert data into a new table 'review' in the SQLite3 database
df.to_sql(name='review', con=conn, if_exists='replace')

/Users/stephensinclair/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:2130: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

- Count how many rows you have - it should be 249!
- How many users who reviewed at least 100 `Nature` in the category also
  reviewed at least 100 in the `Shopping` category?
- (*Stretch*) What are the average number of reviews for each category?

In [10]:
# Then write the above queries
cursor = conn.cursor()
print("Opened as needed")

Opened as needed

In [11]:
for row in cursor.execute('''SELECT * FROM review LIMIT 20'''):
    print(row)

(0, 'User 1', 2, 77, 79, 69, 68, 95)
(1, 'User 2', 2, 62, 76, 76, 69, 68)
(2, 'User 3', 2, 50, 97, 87, 50, 75)
(3, 'User 4', 2, 68, 77, 95, 76, 61)
(4, 'User 5', 2, 98, 54, 59, 95, 86)
(5, 'User 6', 3, 52, 109, 93, 52, 76)
(6, 'User 7', 3, 64, 85, 82, 73, 69)
(7, 'User 8', 3, 54, 107, 92, 54, 76)
(8, 'User 9', 3, 64, 108, 64, 54, 93)
(9, 'User 10', 3, 86, 76, 74, 74, 103)
(10, 'User 11', 3, 107, 54, 64, 103, 94)
(11, 'User 12', 3, 103, 60, 63, 102, 93)
(12, 'User 13', 3, 64, 82, 82, 75, 69)
(13, 'User 14', 3, 93, 54, 74, 103, 69)
(14, 'User 15', 3, 63, 82, 81, 78, 69)
(15, 'User 16', 3, 82, 79, 75, 75, 82)
(16, 'User 17', 5, 59, 131, 103, 54, 86)
(17, 'User 18', 5, 56, 124, 108, 56, 85)
(18, 'User 19', 4, 85, 67, 111, 65, 72)
(19, 'User 20', 5, 114, 83, 65, 114, 102)

In [13]:
# Count the rows. I *do* have 249.
cursor.execute('''SELECT COUNT(*) FROM review''').fetchone()

(249,)

In [18]:
# 78 users who reviewed 100+ in the Nature category reviewed 100+ in the Shopping category 
cursor.execute('''SELECT COUNT(*) 
                    FROM review
                    WHERE Nature >= 100 AND Shopping >= 100
               '''
              ).fetchone()

(78,)

In [20]:
# Average number of reviews for each category
cursor.execute('''SELECT AVG(Sports), AVG(Religious), AVG(Nature), AVG(Theatre),AVG(Shopping), AVG(Picnic)
                    FROM review
               '''
              ).fetchall()

[(11.987951807228916,
  109.77911646586345,
  124.51807228915662,
  116.37751004016064,
  112.63855421686748,
  120.40160642570281)]