In [1]:
import os
import sqlite3
import pandas as pd

In [2]:
df = pd.read_csv('buddymove_holidayiq.csv')

In [3]:
# The DataFrame should have 249 rows and 7 columns.
df.describe()

           Sports   Religious      Nature     Theatre    Shopping      Picnic
count  249.000000  249.000000  249.000000  249.000000  249.000000  249.000000
mean    11.987952  109.779116  124.518072  116.377510  112.638554  120.401606
std      6.616501   32.454115   45.639372   32.132696   41.562888   32.633339
min      2.000000   50.000000   52.000000   59.000000   50.000000   61.000000
25%      6.000000   84.000000   89.000000   93.000000   79.000000   92.000000
50%     12.000000  104.000000  119.000000  113.000000  104.000000  119.000000
75%     18.000000  132.000000  153.000000  138.000000  138.000000  143.000000
max     25.000000  203.000000  318.000000  213.000000  233.000000  218.000000

In [4]:
list(df.columns.values.tolist())

['User', 'Sports', 'Religious', 'Nature', 'Theatre', 'Shopping', 'Picnic']

In [5]:
# The DataFrame should have no missing values. 
df.isnull().sum().sum()

0

In [6]:
delete_table = "DROP TABLE IF EXISTS buddy"

In [7]:
# Creating an empty database with a connection to sqlite3
CONN = sqlite3.connect('buddymove_holidayiq.db')

In [8]:
cursor = CONN.cursor()

In [9]:
cursor.execute(delete_table)

In [10]:
df.to_sql('buddy', con = CONN, index=True)

In [11]:
query = 'SELECT COUNT(Sports) FROM buddy;'

In [12]:
rows = cursor.execute(query).fetchall()

In [13]:
print ("There are" , rows, "rows.")

There are [(249,)] rows.

In [14]:
query2 ='SELECT COUNT(User) FROM buddy WHERE Nature > 100 AND Shopping > 100;'

In [15]:
user_count = cursor.execute(query2).fetchall()

In [16]:
print("There are", user_count, "users who have reviewed at least 100 in the nature and shopping categories")

There are [(78,)] users who have reviewed at least 100 in the nature and shopping categories

In [17]:
cat_list = ['Sports', 'Religious', 'Nature', 'Theatre', 'Shopping', 'Picnic']

def mean_review(cat_list):
    score_list = []
    for i in cat_list:
        query = 'SELECT AVG (' + (i) + ') FROM buddy'
        score = cursor.execute(query).fetchall()
        score = str(score).strip('()[],')
        print("The average for", i, "is" , score)
        score_list.append(score)
    return score_list
  
    
mean_review(cat_list)

The average for Sports is 11.987951807228916
The average for Religious is 109.77911646586345
The average for Nature is 124.51807228915662
The average for Theatre is 116.37751004016064
The average for Shopping is 112.63855421686748
The average for Picnic is 120.40160642570281

['11.987951807228916',
 '109.77911646586345',
 '124.51807228915662',
 '116.37751004016064',
 '112.63855421686748',
 '120.40160642570281']