In [2]:
import pandas as pd
import numpy as np
import sqlite3

In [3]:
df = pd.read_csv('buddymove_holidayiq.csv')
df.head()

  User Id  Sports  Religious  Nature  Theatre  Shopping  Picnic
0  User 1       2         77      79       69        68      95
1  User 2       2         62      76       76        69      68
2  User 3       2         50      97       87        50      75
3  User 4       2         68      77       95        76      61
4  User 5       2         98      54       59        95      86

In [4]:
df.shape

(249, 7)

In [6]:

# open a connection stream to a new blank database file
conn = sqlite3.connect('buddymove_holidayiq.sqlite3')

In [7]:
df.to_sql(name='review', con=conn, if_exists='replace')

/Users/lambda_school_loaner_122/anaconda3/envs/SQL/lib/python2.7/site-packages/pandas/core/generic.py:2531: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype, method=method)

In [8]:
cursor = conn.cursor()

In [9]:
cursor.execute('''SELECT COUNT(*) FROM review''').fetchone()

(249,)

In [10]:
cursor.execute('''SELECT COUNT(*) 
                    FROM review
                    WHERE Nature >= 100 AND Shopping >= 100
               '''
              ).fetchone()

(78,)

In [11]:
# Average number of reviews for each category
cursor.execute('''SELECT AVG(Sports), AVG(Religious), AVG(Nature), AVG(Theatre),AVG(Shopping), AVG(Picnic)
                    FROM review
               '''
              ).fetchall()

[(11.987951807228916,
  109.77911646586345,
  124.51807228915662,
  116.37751004016064,
  112.63855421686748,
  120.40160642570281)]