In [13]:
import os
import sqlite3

In [14]:
os.listdir()

['schema.png',
 'DSPT1_SQL_Demo.ipynb',
 'dakota_code.py',
 'toy_data.db-journal',
 'rpg_db.sqlite3',
 'README.md',
 '.ipynb_checkpoints',
 'buddymove_holidayiq.csv']

In [15]:
CONN = sqlite3.connect('toy_data.db')

In [16]:
CONN

In [17]:
os.listdir()

['schema.png',
 'DSPT1_SQL_Demo.ipynb',
 'dakota_code.py',
 'toy_data.db-journal',
 'rpg_db.sqlite3',
 'README.md',
 '.ipynb_checkpoints',
 'buddymove_holidayiq.csv',
 'toy_data.db']

In [18]:
cursor = CONN.cursor()

In [19]:
dir(cursor)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__next__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'arraysize',
 'close',
 'connection',
 'description',
 'execute',
 'executemany',
 'executescript',
 'fetchall',
 'fetchmany',
 'fetchone',
 'lastrowid',
 'row_factory',
 'rowcount',
 'setinputsizes',
 'setoutputsize']

In [20]:
cursor = CONN.cursor()

In [21]:
query = 'CREATE TABLE toy (name varchar(30), height_inches int);'

In [22]:
cursor.execute(query)

In [11]:
cursor.close()
CONN.commit()

In [23]:
insert_query = 'INSERT INTO toy (name, height_inches) VALUES ("Bruno", 72)'

In [24]:
cursor2 = CONN.cursor()
cursor2.execute(insert_query)
cursor2.execute('SELECT * FROM toy;').fetchall()

[('Bruno', 72)]

In [25]:
data = [
    ('Joe', 70),
    ('Lisa', 77),
    ('Lebron', 80)
]

In [26]:
for datum in data:
    cursor2.execute('INSERT INTO toy (name, height_inches) VALUES ' + str(datum))

In [27]:
cursor2.close()
CONN.commit()

In [28]:
cursor3 = CONN.cursor()
cursor3.execute(insert_query)
cursor3.execute('SELECT * FROM toy;').fetchall()

[('Bruno', 72), ('Joe', 70), ('Lisa', 77), ('Lebron', 80), ('Bruno', 72)]

In [33]:
cursor3.description # contains column names in cursor3

(('name', None, None, None, None, None, None),
 ('height_inches', None, None, None, None, None, None))

In [35]:
data = cursor3.execute('SELECT * FROM toy;').fetchall()
columns = list(map(lambda x: x[0], cursor3.description))

import pandas as pd

df = pd.DataFrame(data=data, columns=columns)
df

     name  height_inches
0   Bruno             72
1     Joe             70
2    Lisa             77
3  Lebron             80
4   Bruno             72