# Assignment - Part 1, Querying a Database

In [1]:
!wget https://github.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module1-introduction-to-sql/rpg_db.sqlite3?raw=true

--2019-08-13 17:55:32--  https://github.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module1-introduction-to-sql/rpg_db.sqlite3?raw=true
Resolving github.com (github.com)... 140.82.113.3
Connecting to github.com (github.com)|140.82.113.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/raw/master/module1-introduction-to-sql/rpg_db.sqlite3 [following]
--2019-08-13 17:55:32--  https://github.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/raw/master/module1-introduction-to-sql/rpg_db.sqlite3
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module1-introduction-to-sql/rpg_db.sqlite3 [following]
--2019-08-13 17:55:32--  https://raw.githubusercontent.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module1-introduction-to-sql/rpg_db.sqlite3
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 253952 (248K) [application/octet-stream]
Saving to: ‘rpg_db.sqlite3?raw=true’

rpg_db.sqlite3?raw= 100%[===================>] 248.00K  --.-KB/s    in 0.1s

2019-08-13 17:55:32 (2.42 MB/s) - ‘rpg_db.sqlite3?raw=true’ saved [253952/253952]

In [0]:
!mv 'rpg_db.sqlite3?raw=true' rpg_db.sqlite3

In [0]:
import sqlite3
conn = sqlite3.connect('rpg_db.sqlite3')
curs = conn.cursor()

In [4]:
query = """SELECT * FROM charactercreator_character 
INNER JOIN charactercreator_mage
ON character_id = character_ptr_id;"""
curs.execute(query)
curs.fetchone()

(69, 'Totam natus eius fugiat volu', 0, 0, 10, 1, 1, 1, 1, 69, 1, 100)

## How many total Characters are there?

- 302 characters

In [5]:
query = '''SELECT count(character_id) FROM charactercreator_character;'''
curs.execute(query)
curs.fetchall()

[(302,)]

## How many of each specific subclass?

In [6]:
# Cleric - 75
query = '''SELECT count(character_id)
FROM charactercreator_character, charactercreator_cleric
WHERE character_id = character_ptr_id;'''
curs.execute(query)
curs.fetchall()

[(75,)]

In [7]:
# Fighter - 68
query = '''SELECT count(character_ptr_id) FROM charactercreator_fighter;'''
curs.execute(query)
curs.fetchall()

[(68,)]

In [8]:
# Thief - 51
query = '''SELECT count(character_id)
FROM charactercreator_character, charactercreator_thief
WHERE character_id = character_ptr_id;'''
curs.execute(query)
curs.fetchall()

[(51,)]

In [9]:
# Mage -108
query = '''SELECT count(character_id)
FROM charactercreator_character, charactercreator_mage
WHERE character_id = character_ptr_id;'''
curs.execute(query)
curs.fetchall()

[(108,)]

In [10]:
# Necromancer - 11
query = '''SELECT count(mage_ptr_id) FROM charactercreator_necromancer;'''
curs.execute(query)
curs.fetchall()

[(11,)]

## How many total Items?
 
 - 898 items

In [13]:
query_total_items = '''SELECT count(id) FROM charactercreator_character_inventory;'''
curs.execute(query_total_items).fetchall()

[(898,)]

## How many of the Items are weapons? How many are not?

In [14]:
# Items are weapons - 203
query_total_weapons = '''SELECT count(item_ptr_id)
FROM armory_weapon, charactercreator_character_inventory
WHERE item_ptr_id = item_id;'''
curs.execute(query_total_weapons).fetchall()

[(203,)]

In [19]:
# 695 items are not weapons
curs.execute(query_total_items).fetchall()[0][0]-curs.execute(query_total_weapons).fetchall()[0][0]

695

## How many Items does each character have? (Return first 20 rows)

In [0]:
query = '''SELECT character_id, count(item_id)
FROM charactercreator_character_inventory
GROUP BY character_id
LIMIT 20'''
curs.execute(query)
curs.fetchall()

[(1, 3),
 (2, 3),
 (3, 2),
 (4, 4),
 (5, 4),
 (6, 1),
 (7, 5),
 (8, 3),
 (9, 4),
 (10, 4),
 (11, 3),
 (12, 3),
 (13, 4),
 (14, 4),
 (15, 4),
 (16, 1),
 (17, 5),
 (18, 5),
 (19, 3),
 (20, 1)]

## How many Weapons does each character have? (Return first 20 rows)

In [0]:
query = '''SELECT character_id, count(item_id)
FROM charactercreator_character_inventory, armory_weapon
WHERE item_id = item_ptr_id
GROUP BY character_id
LIMIT 20'''
curs.execute(query)
curs.fetchall()

[(5, 2),
 (7, 1),
 (11, 1),
 (20, 1),
 (22, 1),
 (23, 1),
 (26, 1),
 (27, 3),
 (29, 2),
 (30, 1),
 (32, 1),
 (34, 1),
 (35, 2),
 (36, 3),
 (37, 2),
 (38, 2),
 (39, 2),
 (40, 1),
 (41, 1),
 (47, 1)]

## On average, how many Items does each Character have?

- Each character have on average 2.97 items

In [0]:
query = '''SELECT avg(item_count)
FROM
(
SELECT count(item_id) as item_count
FROM charactercreator_character_inventory
GROUP BY character_id
)'''
curs.execute(query)
curs.fetchall()

[(2.9735099337748343,)]

## On average, how many Weapons does each character have?

- Each character have on average 1.31 weapons

In [0]:
query = '''SELECT avg(weapon_count)
FROM
(
SELECT count(item_id) as weapon_count
FROM charactercreator_character_inventory, armory_weapon
WHERE item_id = item_ptr_id
GROUP BY character_id
)'''
curs.execute(query)
curs.fetchall()

[(1.3096774193548386,)]