In [1]:
import pandas as pd

In [2]:
!pwd

/home/joe/Desktop/school/3-2/module1-introduction-to-sql

In [3]:
df=pd.read_csv('buddymove_holidayiq.csv')

In [5]:
df.head()

  User Id  Sports  Religious  Nature  Theatre  Shopping  Picnic
0  User 1       2         77      79       69        68      95
1  User 2       2         62      76       76        69      68
2  User 3       2         50      97       87        50      75
3  User 4       2         68      77       95        76      61
4  User 5       2         98      54       59        95      86

In [13]:
import sqlite3
connection=sqlite3.connect("./chinook.db")
curs=connection.cursor()

In [24]:
query="SELECT * FROM customers LIMIT 5;"
# this should be used only when you have the query locked in and have it returning what you are going 
# to want from the db
# can also be a multi line string to make a query
# query="""
#SELECT *
#FROM customers
#"""
result=curs.execute(query).fetchall()

In [18]:
result[0]

(1,
 'Luís',
 'Gonçalves',
 'Embraer - Empresa Brasileira de Aeronáutica S.A.',
 'Av. Brigadeiro Faria Lima, 2170',
 'São José dos Campos',
 'SP',
 'Brazil',
 '12227-000',
 '+55 (12) 3923-5555',
 '+55 (12) 3923-5566',
 'luisg@embraer.com.br',
 3)

In [19]:
connection=sqlite3.connect("./chinook.db")
connection.row_factory = sqlite3.Row # lest reat our objects like dict nor tuples
curs=connection.cursor()

In [25]:
result=curs.execute(query).fetchall()

In [26]:
for row in result:
    print("_________")
    print(f"{row['LastName']}")

_________
Gonçalves
_________
Köhler
_________
Tremblay
_________
Hansen
_________
Wichterlová

In [27]:
DB_FILENAME= os.path.join(os.path.dirname(__file__),"..","chinook.db")
print(DB_FILENAME)

NameError: name '__file__' is not defined