In [6]:
import sqlite3
import pandas as pd

In [7]:
df = pd.read_csv('buddymove_holidayiq.csv')

In [30]:
df.tail(15)

      User Id  Sports  Religious  Nature  Theatre  Shopping  Picnic
234  User 235      25        139     153      193       158     134
235  User 236      25         84     247      168       109     140
236  User 237      25        173      89      124       233     158
237  User 238       8         93     119       99        89     138
238  User 239      22        124     168      208       148     124
239  User 240      18        114     158      178       158     124
240  User 241      20        188      94       94       223     153
241  User 242      25        114     238      124       104     178
242  User 243      18         94     188      148        99     139
243  User 244      25        129     318       94        89     188
244  User 245      18        139     148      129       129     168
245  User 246      22        114     228      104        84     168
246  User 247      20        124     178      104       158     174
247  User 248      20        133     149      139       144     213
248  User 249      20        143     149      139       159     143

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 7 columns):
User Id      249 non-null object
Sports       249 non-null int64
Religious    249 non-null int64
Nature       249 non-null int64
Theatre      249 non-null int64
Shopping     249 non-null int64
Picnic       249 non-null int64
dtypes: int64(6), object(1)
memory usage: 13.7+ KB

In [11]:
# Query Function
def query(query):
    result = curs.execute(query)
    return result.fetchall()

In [8]:
# Convert to SQLite3
conn = sqlite3.connect('buddymove_holidayiq.sqlite3')
df.to_sql(name='review', con=conn, if_exists='replace')
curs = conn.cursor()

/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:2130: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

In [19]:
count_rows = 'SELECT COUNT(*) FROM review;'

In [20]:
count_rows = query(count_rows)[0][0]
print('This dataset contains', count_rows, 'rows')

This dataset contains 249 rows

In [32]:
reviewed = """
SELECT r.Nature, r.Shopping
FROM review as r
WHERE r.Nature >= 100
AND r.Shopping >= 100;
"""

In [34]:
reviewed = query(reviewed)[0][0]
print(str(reviewed))

103