In [1]:
cd Desktop/Repos/DS-Unit-3-Sprint-2-SQL-and-Databases/module1-introduction-to-sql

/Users/connorheraty/Desktop/Repos/DS-Unit-3-Sprint-2-SQL-and-Databases/module1-introduction-to-sql

In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect('rpg_db.sqlite3')
curs = conn.cursor()

In [5]:
# Query Function
def query(query):
    result = curs.execute(query)
    return result.fetchall()

### How many total Characters are there?

In [31]:
total_char = 'SELECT COUNT(character_id) FROM charactercreator_character;'

In [32]:
total_char = query(total_char)[0][0]
print('There are',total_char, 'total characters')

There are 302 total characters

### How many of each specific subclass?

In [26]:
mage = 'SELECT COUNT(cm.character_ptr_id) FROM charactercreator_mage as cm;'
thief = 'SELECT COUNT(ct.character_ptr_id) FROM charactercreator_thief as ct;'
cleric = 'SELECT COUNT(ccl.character_ptr_id) FROM charactercreator_cleric as ccl;'
fighter = 'SELECT COUNT(cf.character_ptr_id) FROM charactercreator_fighter as cf;'
necro = 'SELECT COUNT(cn.mage_ptr_id) FROM charactercreator_necromancer as cn;'

In [27]:
total_mage = query(mage)[0][0]
total_thief = query(thief)[0][0]
total_cleric = query(cleric)[0][0]
total_fighter = query(fighter)[0][0]

# Necromancer is a subclass of mage
total_necro = query(necro)[0][0]
# Subtract necromancers from mage class
total_mage = total_mage - total_necro

print('There are',str(total_mage), 'mages in total')
print('There are',str(total_thief), 'thieves in total')
print('There are',str(total_cleric), 'clerics in total')
print('There are',str(total_fighter), 'fighters in total')
print('There are',str(total_necro), 'necromancers in total')

There are 97 mages in total
There are 51 thieves in total
There are 75 clerics in total
There are 68 fighters in total
There are 11 necromancers in total

### How many total items?

In [34]:
items = 'SELECT COUNT(ai.item_id) FROM armory_item as ai;'
total_items = query(items)[0][0]
print("There are", total_items, "total items")

There are 174 total items

### How many of the Items are weapons? How many are not?

In [36]:
weapons = 'SELECT COUNT(aw.item_ptr_id) FROM armory_weapon as aw;'
total_weapons = query(weapons)[0][0]
non_weapons = total_items - total_weapons
print(total_weapons, 'of the items in the armory are weapons,', non_weapons, 'are not')

37 of the items in the armory are weapons, 137 are not

### How many Items does each character have? (Return first 20 rows)

In [66]:
char_items = """
SELECT cc.name, COUNT(DISTINCT ai.item_id)
FROM charactercreator_character AS cc, charactercreator_character_inventory AS cci, armory_item AS ai
WHERE cc.character_id = cci.character_id
AND ai.item_id=cci.item_id
GROUP BY 1
LIMIT 20;
"""

In [86]:
num_items = query(char_items)
print("The first 20 characters have the following items: ", num_items)

The first 20 characters have the following items:  [('A rem ex', 1), ('A sed pariatur qua', 1), ('Ab illum invento', 3), ('Ab voluptas se', 5), ('Acc', 5), ('Accusa', 3), ('Accusantium amet quidem eve', 3), ('Accusantium qu', 3), ('Accusantium vitae n', 3), ('Ad necess', 2), ('Adip', 3), ('Adipisci molest', 2), ('Adipisci voluptas', 4), ('Ali', 4), ('Aliqu', 5), ('Aliquam n', 5), ('Aliquid iste optio reiciendi', 3), ('Amet quo fugit aliquam sequi', 5), ('Animi labo', 3), ('Aper', 1)]

### How many Weapons does each character have? (Return first 20 rows)

In [68]:
char_weapons = """
SELECT cc.name, COUNT(DISTINCT aw.item_ptr_id)
FROM charactercreator_character AS cc, charactercreator_character_inventory AS cci, armory_item AS ai, armory_weapon as aw
WHERE cc.character_id = cci.character_id
AND ai.item_id=cci.item_id
AND ai.item_id=aw.item_ptr_id
GROUP BY 1
LIMIT 20;
"""

In [87]:
num_weapons = query(char_weapons)
print('Of the first 20 characters carrying weapons, these are how many they have: ', num_weapons)

Of the first 20 characters carrying weapons, these are how many they have:  [('Ab illum invento', 1), ('Ab voluptas se', 3), ('Acc', 2), ('Accusa', 1), ('Accusantium qu', 1), ('Accusantium vitae n', 1), ('Ad necess', 1), ('Adipisci voluptas', 1), ('Aliqu', 2), ('Aliquam n', 1), ('Amet quo fugit aliquam sequi', 1), ('Aperiam sit', 1), ('Architecto i', 1), ('Architecto repudian', 2), ('Asperi', 2), ('At id recusandae expl', 2), ('At sint ducimus nostrum i', 1), ('Autem eos voluptates off', 1), ('Autem lib', 1), ('Autem mollitia fuga lauda', 2)]

### On average, how many Items does each Character have?

In [80]:
avg_items = """
SELECT AVG(num_items) FROM
(SELECT cc.name, COUNT(DISTINCT ai.item_id) as num_items
FROM charactercreator_character AS cc, charactercreator_character_inventory AS cci, armory_item AS ai
WHERE cc.character_id = cci.character_id
AND ai.item_id=cci.item_id
GROUP BY 1
LIMIT 20);
"""

In [88]:
avg_items = query(avg_items)[0][0]
print('The average character has', avg_items, 'items')

The average character has 3.2 items

### On average, how many Weapons does each character have?

In [84]:
avg_weapons = """
SELECT AVG(num_weapons) FROM
(SELECT cc.name, COUNT(DISTINCT aw.item_ptr_id) as num_weapons
FROM charactercreator_character AS cc, charactercreator_character_inventory AS cci, armory_item AS ai, armory_weapon as aw
WHERE cc.character_id = cci.character_id
AND ai.item_id=cci.item_id
AND ai.item_id=aw.item_ptr_id
GROUP BY 1
LIMIT 20);
"""

In [89]:
avg_weapons = query(avg_weapons)[0][0]
print('The average character has', avg_weapons, 'weapons')

The average character has 1.4 weapons