## Part 1

In [1]:
# Import SQLite3
import sqlite3

In [2]:
conn = sqlite3.connect('rpg_db.sqlite3')

In [3]:
c = conn.cursor()
print('Opened as needed')

Opened as needed

In [6]:
# This shows the total characters 
for row in c.execute("SELECT count(*) from charactercreator_character"):
   print(row, '\n')

(302,)

In [16]:
# I will use the above code for each subclass to determine counts for each
# This shows the total for Cleric
for row in c.execute("SELECT count(*) from charactercreator_cleric"):
   print('Cleric:', row[0])

# This shows the total for Fighter
for row in c.execute("SELECT count(*) from charactercreator_fighter"):
   print('Fighter:', row[0])

# This shows the total for Mage
for row in c.execute("SELECT count(*) from charactercreator_mage"):
   print('Mage:', row[0])

# This shows the total for Necromancer
for row in c.execute("SELECT count(*) from charactercreator_necromancer"):
   print('Necromancer:', row[0])

# This shows the total for Thief
for row in c.execute("SELECT count(*) from charactercreator_thief"):
   print('Thief:', row[0])

Cleric: 75
Fighter: 68
Mage: 108
Necromancer: 11
Thief: 51

In [18]:
# Show the total items for all characters
for row in c.execute("SELECT count(*) from charactercreator_character_inventory"):
    print('Items total:', row[0])

Items total: 898

In [22]:
# In this section we will count how many items are weapons and how many are not
# Weapons count
for row in c.execute("select count(*) from charactercreator_character_inventory as inven inner join armory_weapon as aw on inven.item_id = aw.item_ptr_id"):
    print('Weapon items:', row[0])
    
# Not weapons count
for row in c.execute("select count(*) from charactercreator_character_inventory as inven where inven.item_id < 138"):
    print('Not weapon items:', row[0])

Weapon items: 203
Not weapon items: 695

In [27]:
# This section will return the number of items each character has
for row in c.execute("select char.name, count(inven.item_id) from charactercreator_character_inventory as inven left join charactercreator_character as char on inven.character_id = char.character_id where inven.item_id < 138 group by char.name limit 20"):    
    print('Name:', row[0])
    print('Item Count:', row[1],'\n')

Name: A rem ex
Item Count: 1

Name: A sed pariatur qua
Item Count: 1

Name: Ab illum invento
Item Count: 2

Name: Ab voluptas se
Item Count: 2

Name: Acc
Item Count: 3

Name: Accusa
Item Count: 2

Name: Accusantium amet quidem eve
Item Count: 3

Name: Accusantium qu
Item Count: 2

Name: Accusantium vitae n
Item Count: 2

Name: Ad necess
Item Count: 1

Name: Adip
Item Count: 3

Name: Adipisci molest
Item Count: 2

Name: Adipisci voluptas
Item Count: 3

Name: Ali
Item Count: 4

Name: Aliqu
Item Count: 3

Name: Aliquam n
Item Count: 4

Name: Aliquid iste optio reiciendi
Item Count: 3

Name: Amet quo fugit aliquam sequi
Item Count: 4

Name: Animi labo
Item Count: 3

Name: Aper
Item Count: 1

In [26]:
# This section shows the first 20 characters and the weapon counts
for row in c.execute("select char.name, count(inven.item_id) from charactercreator_character_inventory as inven left join charactercreator_character as char on inven.character_id = char.character_id where inven.item_id > 137 group by char.name limit 20"):    
    print('Name:', row[0])
    print('Weapon Count:', row[1], '\n')

Name: Ab illum invento
Weapon Count: 1

Name: Ab voluptas se
Weapon Count: 3

Name: Acc
Weapon Count: 2

Name: Accusa
Weapon Count: 1

Name: Accusantium qu
Weapon Count: 1

Name: Accusantium vitae n
Weapon Count: 1

Name: Ad necess
Weapon Count: 1

Name: Adipisci voluptas
Weapon Count: 1

Name: Aliqu
Weapon Count: 2

Name: Aliquam n
Weapon Count: 1

Name: Amet quo fugit aliquam sequi
Weapon Count: 1

Name: Aperiam sit
Weapon Count: 1

Name: Architecto i
Weapon Count: 1

Name: Architecto repudian
Weapon Count: 2

Name: Asperi
Weapon Count: 2

Name: At id recusandae expl
Weapon Count: 2

Name: At sint ducimus nostrum i
Weapon Count: 1

Name: Autem eos voluptates off
Weapon Count: 1

Name: Autem lib
Weapon Count: 1

Name: Autem mollitia fuga lauda
Weapon Count: 2

In [29]:
# This section will show the average number of items per character
for row in c.execute("select avg(counts) from (select char.name, count(inven.item_id) as counts from charactercreator_character_inventory as inven left join charactercreator_character as char on inven.character_id = char.character_id where inven.item_id < 138 group by char.name)"):    
    print('Average items per character:', row[0])

Average items per character: 2.482142857142857

In [30]:
# This section will show the average number of weapons per character
for row in c.execute("select avg(counts) from (select char.name, count(inven.item_id) as counts from charactercreator_character_inventory as inven left join charactercreator_character as char on inven.character_id = char.character_id where inven.item_id > 137 group by char.name)"):
    print('Average weapons per character:', row[0])

Average weapons per character: 1.326797385620915

In [31]:
# Closing the connection
conn.close

## Part 2

In [32]:
# Import additional needed libraries
import pandas as pd

In [34]:
# Create SQLite3 connection to new db
conn = sqlite3.connect('buddymove_holidayiq.sqlite3')

# Create the cursor
c = conn.cursor()
print("Cursor Opened")

Cursor Opened

In [35]:
# Import data into pandas dataframe
df = pd.read_csv('https://raw.githubusercontent.com/ndoshi83/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module1-introduction-to-sql/buddymove_holidayiq.csv')
df.shape

(249, 7)

In [37]:
# Load dataframe into SQL table
df.to_sql('buddymove_holidayiq', con=conn)

In [38]:
# Count the number of rows in the table
for row in c.execute("select count(*) from buddymove_holidayiq"):
    print('Total rows:', row[0])

Total rows: 249

In [45]:
# Count the number of reviewers to have atleast 100 in both Nature and Shopping
for row in c.execute("select count(*) from buddymove_holidayiq where Nature > 99 AND Shopping > 99"):
    print('Total rows:', row[0])

Total rows: 78

In [47]:
# Calculate the average number of reviews for each category
for row in c.execute("select avg(Sports) as Sports_Avg, avg(Religious) as Religious_Avg, avg(Nature) as Nature_Avg, avg(Theatre) as Theatre_Avg, avg(Shopping) as Shopping_Avg, avg(Picnic) as Picnic_Avg from buddymove_holidayiq"):
    print('Average reviews:', row, '\n')

Average reviews: (11.987951807228916, 109.77911646586345, 124.51807228915662, 116.37751004016064, 112.63855421686748, 120.40160642570281)