In [18]:
import pandas as pd
import sqlite3
import sqlalchemy

In [19]:
df = pd.read_csv('buddymove_holidayiq.csv')
df.head()

  User Id  Sports  Religious  Nature  Theatre  Shopping  Picnic
0  User 1       2         77      79       69        68      95
1  User 2       2         62      76       76        69      68
2  User 3       2         50      97       87        50      75
3  User 4       2         68      77       95        76      61
4  User 5       2         98      54       59        95      86

In [20]:
conn = sqlite3.connect('buddymove_holidayiq.sqlite3')

In [28]:
df.to_sql(name='review', con=conn, if_exists : 'replace')

In [29]:
curs = conn.cursor()

In [32]:
query = """SELECT COUNT(*) FROM review"""
result = curs.execute(query)
print('Number of Rows:')
result.fetchall()[0][0]

Number of Rows:

249

In [33]:
query = """SELECT COUNT(*)
           FROM review
           WHERE Nature >= 100 AND Shopping >= 100"""
result = curs.execute(query)
print('Number of Users Who have reviewed at least 100 nature and at least 100 shopping items:')
result.fetchall()[0][0]

Number of Users Who have reviewed at least 100 nature and at least 100 shopping items

78

In [34]:
query = """SELECT AVG(sports),  AVG(Religious), AVG(Nature), AVG(Theatre), AVG(Shopping), AVG(Picnic)
            FROM review"""
result = pd.read_sql_query(query, conn)
result

,AVG(sports),AVG(Religious),AVG(Nature),AVG(Theatre),AVG(Shopping),AVG(Picnic)
0,11.987952,109.779116,124.518072,116.37751,112.638554,120.401606

In [35]:
print(result)

   AVG(sports)  AVG(Religious)  AVG(Nature)  AVG(Theatre)  AVG(Shopping)  \
0    11.987952      109.779116   124.518072     116.37751     112.638554

   AVG(Picnic)
0   120.401606