In [1]:
import sqlite3

In [3]:
conn = sqlite3.connect('rpg_db.sqlite3')

In [4]:
c = conn.cursor()
print('Opened as needed')

Opened as needed

Use sqlite3 to load and write queries to explore the data, and answer the following questions:

    How many total Characters are there?
    How many of each specific subclass?
    How many total Items?
    How many of the Items are weapons? How many are not?
    How many Items does each character have? (Return first 20 rows)
    How many Weapons does each character have? (Return first 20 rows)
    On average, how many Items does each Character have?
    On average, how many Weapons does each character have?

In [9]:
c.execute('''SELECT COUNT(character_id) FROM charactercreator_character''')
print(f"The total number of characters is {c.fetchall()}")

The total number of characters is [(302,)]

In [ ]:
How many of each subclass?

c.execute('''SELECT ''')

In [20]:
c.execute('''SELECT COUNT(item_id) FROM armory_item''')
arm_item = c.fetchall()
print(f"The total number of armory items is {arm_item[0][0]}")
#print(arm_item[0][0])

The total number of armory items is 174

In [21]:
c.execute('''SELECT COUNT(item_ptr_id) FROM armory_weapon''')
arm_wep = c.fetchall()
difference = arm_item[0][0] - arm_wep[0][0]
print(f"The total number of armory weapon items is {arm_wep[0][0]}")
print(f'There are {difference} items that are not weapons')

The total number of armory weapon items is 37
There are 137 items that are not weapons

In [34]:
c.execute('''SELECT name,  COUNT(item_id) FROM charactercreator_character_inventory INNER JOIN 
charactercreator_character USING (character_id)
GROUP BY name 
ORDER BY character_id LIMIT 20
''');

item_per_character = c.fetchall()
print(f"The total number of armory items per character is {item_per_character}")

The total number of armory items per character is [('Aliquid iste optio reiciendi', 3), ('Optio dolorem ex a', 3), ('Minus c', 2), ('Sit ut repr', 4), ('At id recusandae expl', 4), ('Non nobis et of', 1), ('Perferendis', 5), ('Accusantium amet quidem eve', 3), ('Sed nostrum inventore error m', 4), ('Harum repellendus omnis od', 4), ('Itaque ut commodi,', 3), ('Molestiae quis', 3), ('Ali', 4), ('Tempora quod optio possimus il', 4), ('Sed itaque beatae pari', 4), ('Quam dolor', 1), ('Molestias expedita', 5), ('Lauda', 5), ('Incidunt sint perferen', 3), ('Laboriosa', 1)]

In [ ]:
How many weapons does each have?

In [43]:
c.execute('''SELECT character_id, COUNT(item_id) FROM charactercreator_character_inventory
''');

item_per_character = c.fetchall()
print(f"The avg number of armory items per character is {item_per_character[0][1]/item_per_character[0][0]}")

The avg number of armory items per character is 2.9735099337748343

In [ ]:
Avg weapons each have?