In [2]:
import pandas as pd 
import sqlite3

# Import CSV file

buddy = pd.read_csv('https://raw.githubusercontent.com/TheJoys2019/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module1-introduction-to-sql/buddymove_holidayiq.csv')

# Convert to SQLITE3

conn = sqlite3.connect('buddymove_holidayiq.sqlite3')
buddy.to_sql(name='review', con=conn, if_exists='replace')
curs = conn.cursor()

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:2531: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype, method=method)

In [3]:
# Query 1 - How many rows you have? (249)

query1 = """SELECT COUNT(*) FROM review"""
result = curs.execute(query1)
print('# of Rows: ', result.fetchall()[0][0])

# of Rows:  249

In [4]:
# Query 2 - # of Users who reviewed at least 100 Nature

query2 = """ SELECT COUNT(*)
            FROM review
            WHERE Nature >= 100 AND Shopping >=100"""

results = curs.execute(query2)
print('# of Users who reviewed at least 100 Nature & 100 Shopping: ', result.fetchall()[0][0])

# of Users who reviewed at least 100 Nature & 100 Shopping:  78

In [6]:
# Query 3 - # AVG # Reviews for each cat
query3 = """SELECT AVG(sports),  
            AVG(Religious), 
            AVG(Nature), 
            AVG(Theatre), 
            AVG(Shopping), 
            AVG(Picnic)
            FROM review"""
result = pd.read_sql_query(query3, conn)

print('Average # of Reviews for Each Cat:', result)

Average # of Reviews for Each Cat:    AVG(sports)  AVG(Religious)  ...  AVG(Shopping)  AVG(Picnic)
0    11.987952      109.779116  ...     112.638554   120.401606

[1 rows x 6 columns]