In [4]:
import pandas as pd
import sqlite3
from pandas import DataFrame 

conn = sqlite3.connect('demo_data.sqlite3')
curs = conn.cursor()

create_demo_table = """
    CREATE TABLE demo (
        s VARCHAR(10),
        x INT,
        y INT
);

"""
curs.execute(create_demo_table)

OperationalError: table demo already exists

In [16]:
data = [['g', 3, 9],['v', 5, 7],['f', 8, 7]]
df = pd.DataFrame(data,columns=['s', 'x', 'y'],dtype=int)
print(df)

   s  x  y
0  g  3  9
1  v  5  7
2  f  8  7

In [21]:
df.to_sql('demo', conn, index=False, if_exists='replace') # Insert the values from the df into the table 'X'

DatabaseError: Execution failed on sql 'DROP TABLE "demo"': database table is locked

In [22]:
curs = conn.cursor()
query = 'SELECT * FROM demo LIMIT 20'
pd.read_sql(query, conn)

   s  x  y
0  g  3  9
1  v  5  7
2  f  8  7

In [26]:
# how many rows
query = """
SELECT COUNT(*)
FROM demo
"""
curs.execute(query)
print(curs.fetchall())

[(3,)]

In [28]:
# How many rows are there where both `x` and `y` are at least 5?
query = """
SELECT COUNT(*)
FROM demo
WHERE x >= 5
AND y >=5
"""
curs.execute(query)
print(curs.fetchall())

[(2,)]

In [35]:
# How many unique values of `y` are there 
# (hint - `COUNT()` can accept a keyword `DISTINCT`)?

query = """
SELECT COUNT(DISTINCT(y))
FROM demo
"""
curs.execute(query)
print(curs.fetchall())

[(2,)]

In [36]:
curs.close()

In [14]:
INSERT INTO demo[(s, x, y)]
VALUES('g', 3, 9);

SyntaxError: invalid syntax (<ipython-input-14-8c3bab622cb9>, line 1)

In [ ]:
    ('v', 5, 7),
    ('f', 8, 7))