In [1]:
ls

Untitled.ipynb           challenge.md             northwind_small.sqlite3

In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect('northwind_small.sqlite3')
curs = conn.cursor()

In [6]:
curs.execute("""
SELECT name FROM sqlite_master 
WHERE type='table' 
ORDER BY name;""").fetchall()

[('Category',),
 ('Customer',),
 ('CustomerCustomerDemo',),
 ('CustomerDemographic',),
 ('Employee',),
 ('EmployeeTerritory',),
 ('Order',),
 ('OrderDetail',),
 ('Product',),
 ('Region',),
 ('Shipper',),
 ('Supplier',),
 ('Territory',)]

In [7]:
curs.execute('SELECT sql FROM sqlite_master WHERE name="Customer";').fetchall()

[('CREATE TABLE "Customer" \n(\n  "Id" VARCHAR(8000) PRIMARY KEY, \n  "CompanyName" VARCHAR(8000) NULL, \n  "ContactName" VARCHAR(8000) NULL, \n  "ContactTitle" VARCHAR(8000) NULL, \n  "Address" VARCHAR(8000) NULL, \n  "City" VARCHAR(8000) NULL, \n  "Region" VARCHAR(8000) NULL, \n  "PostalCode" VARCHAR(8000) NULL, \n  "Country" VARCHAR(8000) NULL, \n  "Phone" VARCHAR(8000) NULL, \n  "Fax" VARCHAR(8000) NULL \n)',)]

## Questions

Answer the following questions (each is from a single table):

 -What are the ten most expensive items (per unit price) in the database? <br>
 -What is the average age of an employee at the time of their hiring? (Hint: a lot of arithmetic works with dates.) <br>
 -(Stretch) How does the average age of employee at hire vary by city?

In [11]:
# Question 1
curs.execute("""
SELECT ProductName, UnitPrice FROM Product
ORDER BY UnitPrice DESC
LIMIT 10;
""").fetchall()

[('Côte de Blaye', 263.5),
 ('Thüringer Rostbratwurst', 123.79),
 ('Mishi Kobe Niku', 97),
 ("Sir Rodney's Marmalade", 81),
 ('Carnarvon Tigers', 62.5),
 ('Raclette Courdavault', 55),
 ('Manjimup Dried Apples', 53),
 ('Tarte au sucre', 49.3),
 ('Ipoh Coffee', 46),
 ('Rössle Sauerkraut', 45.6)]

In [12]:
# Question 2
curs.execute("""
SELECT AVG(HireDate - BirthDate) from Employee
""").fetchall()

[(37.22222222222222,)]

In [ ]:
# Question 3 STRETCH
curs.execute("""

""")

## Part 3 - Sailing the Northwind Seas

Using sqlite3 in northwind.py, answer the following:

What are the ten most expensive items (per unit price) in the database and their suppliers? <br>
What is the largest category (by number of unique products in it)? <br>
(Stretch) Who's the employee with the most territories? Use TerritoryId (not name, region, or other fields) as the unique identifier for territories.

In [41]:
curs.execute("""
SELECT Supplier.CompanyName AS Supplier, Product.ProductName AS ProductName , Product.UnitPrice as UnitPrice
FROM Product JOIN Supplier
ON Product.SupplierID = Supplier.ID
ORDER BY UnitPrice DESC
LIMIT 10;
""").fetchall()

[('Aux joyeux ecclésiastiques', 'Côte de Blaye', 263.5),
 ('Plutzer Lebensmittelgroßmärkte AG', 'Thüringer Rostbratwurst', 123.79),
 ('Tokyo Traders', 'Mishi Kobe Niku', 97),
 ('Specialty Biscuits, Ltd.', "Sir Rodney's Marmalade", 81),
 ('Pavlova, Ltd.', 'Carnarvon Tigers', 62.5),
 ('Gai pâturage', 'Raclette Courdavault', 55),
 ("G'day, Mate", 'Manjimup Dried Apples', 53),
 ("Forêts d'érables", 'Tarte au sucre', 49.3),
 ('Leka Trading', 'Ipoh Coffee', 46),
 ('Plutzer Lebensmittelgroßmärkte AG', 'Rössle Sauerkraut', 45.6)]

In [51]:
curs.execute("""
SELECT Category.CategoryName, COUNT(DISTINCT Product.ProductName) as unique_prod
FROM Product JOIN Category
WHERE Product.CategoryID = Category.ID
ORDER BY unique_prod DESC
""").fetchall()

[('Beverages', 77)]

In [53]:
curs.execute("""
SELECT Category.CategoryName, COUNT(Product.ProductName) as unique_prod
FROM Product JOIN Category
WHERE Product.CategoryID = Category.ID
ORDER BY unique_prod DESC
""").fetchall()

[('Beverages', 77)]

In [56]:
curs.execute("""
SELECT COUNT(ProductName) FROM Product
""").fetchall()

[(77,)]

In [44]:
curs.execute("""
SELECT * FROM Category
""").fetchall()

[(1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (2,
  'Condiments',
  'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (3, 'Confections', 'Desserts, candies, and sweet breads'),
 (4, 'Dairy Products', 'Cheeses'),
 (5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal'),
 (6, 'Meat/Poultry', 'Prepared meats'),
 (7, 'Produce', 'Dried fruit and bean curd'),
 (8, 'Seafood', 'Seaweed and fish')]

In [34]:
curs.execute("""
SELECT * FROM Territory
""").fetchall()

[('01581', 'Westboro', 1),
 ('01730', 'Bedford', 1),
 ('01833', 'Georgetow', 1),
 ('02116', 'Boston', 1),
 ('02139', 'Cambridge', 1),
 ('02184', 'Braintree', 1),
 ('02903', 'Providence', 1),
 ('03049', 'Hollis', 3),
 ('03801', 'Portsmouth', 3),
 ('06897', 'Wilton', 1),
 ('07960', 'Morristown', 1),
 ('08837', 'Edison', 1),
 ('10019', 'New York', 1),
 ('10038', 'New York', 1),
 ('11747', 'Mellvile', 1),
 ('14450', 'Fairport', 1),
 ('19428', 'Philadelphia', 3),
 ('19713', 'Neward', 1),
 ('20852', 'Rockville', 1),
 ('27403', 'Greensboro', 1),
 ('27511', 'Cary', 1),
 ('29202', 'Columbia', 4),
 ('30346', 'Atlanta', 4),
 ('31406', 'Savannah', 4),
 ('32859', 'Orlando', 4),
 ('33607', 'Tampa', 4),
 ('40222', 'Louisville', 1),
 ('44122', 'Beachwood', 3),
 ('45839', 'Findlay', 3),
 ('48075', 'Southfield', 3),
 ('48084', 'Troy', 3),
 ('48304', 'Bloomfield Hills', 3),
 ('53404', 'Racine', 3),
 ('55113', 'Roseville', 3),
 ('55439', 'Minneapolis', 3),
 ('60179', 'Hoffman Estates', 2),
 ('60601', 'Chicago', 2),
 ('72716', 'Bentonville', 4),
 ('75234', 'Dallas', 4),
 ('78759', 'Austin', 4),
 ('80202', 'Denver', 2),
 ('80909', 'Colorado Springs', 2),
 ('85014', 'Phoenix', 2),
 ('85251', 'Scottsdale', 2),
 ('90405', 'Santa Monica', 2),
 ('94025', 'Menlo Park', 2),
 ('94105', 'San Francisco', 2),
 ('95008', 'Campbell', 2),
 ('95054', 'Santa Clara', 2),
 ('95060', 'Santa Cruz', 2),
 ('98004', 'Bellevue', 2),
 ('98052', 'Redmond', 2),
 ('98104', 'Seattle', 2)]

In [57]:
curs.execute(
"""
SELECT COUNT(FirstName) FROM EMPLOYEE
""").fetchall()

[(9,)]

In [58]:
curs.execute(
"""
SELECT COUNT(TerritoryDescription) FROM Territory
""").fetchall()

[(53,)]