In [1]:
import psycopg2
import pymongo
import pandas as pd

## Answer using queries of PostgreSQL Titanic database

- How many passengers survived, and how many died?
- How many passengers were in each class?
- How many passengers survived/died within each class?
- What was the average age of survivors vs nonsurvivors?
- What was the average age of each passenger class?
- What was the average fare by passenger class? By survival?
- How many siblings/spouses aboard on average, by passenger class? By survival?
- How many parents/children aboard on average, by passenger class? By survival?
- Do any passengers have the same name?
- (Bonus! Hard, may require pulling and processing with Python) How many married couples were aboard the Titanic? Assume that two people (one Mr. and one Mrs.) with the same last name and with at least 1 sibling/spouse aboard are a married couple.

In [2]:
# Create connection
dbname = 'xgbbacwp'
user = 'xgbbacwp'
password = ''
host = 'raja.db.elephantsql.com'

# Create a connection
pg_conn = psycopg2.connect(dbname=dbname, user=user,
                           password=password, host=host)

# Create a cursor and query table
pg_curs = pg_conn.cursor()

In [3]:
print('How many passengers survived, and how many died?')
pg_curs.execute('''SELECT (SELECT COUNT(*) FROM Titanic WHERE survived = 1),
                            (SELECT COUNT(*) FROM Titanic WHERE survived = 0);''')
survived_list = pg_curs.fetchall()
print('\nNumber of passengers who survived:', survived_list[0][0])
print('Number of passengers who died:', survived_list[0][1])

How many passengers survived, and how many died?

Number of passengers who survived: 342
Number of passengers who died: 545

In [4]:
print('How many passengers were in each class?')
pg_curs.execute('''SELECT (SELECT COUNT(*) FROM Titanic WHERE pclass = 1),
                            (SELECT COUNT(*) FROM Titanic WHERE pclass = 2),
                            (SELECT COUNT(*) FROM Titanic WHERE pclass = 3);''')
class_count = pg_curs.fetchall()
print('\nNumber of passengers in 1st class:', class_count[0][0])
print('Number of passengers in 2nd class:', class_count[0][1])
print('Number of passengers in 3rd class:', class_count[0][2])

How many passengers were in each class?

Number of passengers in 1st class: 216
Number of passengers in 2nd class: 184
Number of passengers in 3rd class: 487

In [5]:
print('How many passengers survived/died within each class?')
pg_curs.execute('''SELECT (SELECT COUNT(*) FROM Titanic WHERE pclass = 1 AND survived = 1),
                            (SELECT COUNT(*) FROM Titanic WHERE pclass = 1 AND survived = 0),
                            (SELECT COUNT(*) FROM Titanic WHERE pclass = 2 AND survived = 1),
                            (SELECT COUNT(*) FROM Titanic WHERE pclass = 2 AND survived = 0),
                            (SELECT COUNT(*) FROM Titanic WHERE pclass = 3 AND survived = 1),
                            (SELECT COUNT(*) FROM Titanic WHERE pclass = 3 AND survived = 0);''')
counts = pg_curs.fetchall()
print('\nNumber of passengers in 1st class who survived:', counts[0][0])
print('Number of passengers in 1st class who died:', counts[0][1])
print('\nNumber of passengers in 2nd class who survived:', counts[0][2])
print('Number of passengers in 2nd class who died:', counts[0][3])
print('\nNumber of passengers in 3rd class who survived:', counts[0][4])
print('Number of passengers in 3rd class who died:', counts[0][5])

How many passengers survived/died within each class?

Number of passengers in 1st class who survived: 136
Number of passengers in 1st class who died: 80

Number of passengers in 2nd class who survived: 87
Number of passengers in 2nd class who died: 97

Number of passengers in 3rd class who survived: 119
Number of passengers in 3rd class who died: 368

In [6]:
print('What was the average age of survivors vs nonsurvivors?')
pg_curs.execute('''SELECT (SELECT AVG(age) FROM Titanic WHERE survived = 1),
                            (SELECT AVG(age) FROM Titanic WHERE survived = 0);''')
avg_age = pg_curs.fetchall()
print('\nAverage age of survivors:', round(avg_age[0][0], 0))
print('Average age of nonsurvivors:', round(avg_age[0][1], 0))

What was the average age of survivors vs nonsurvivors?

Average age of survivors: 28
Average age of nonsurvivors: 30

In [7]:
print('What was the average age of each passenger class?')
pg_curs.execute('''SELECT (SELECT AVG(age) FROM Titanic WHERE pclass = 1),
                            (SELECT AVG(age) FROM Titanic WHERE pclass = 2),
                            (SELECT AVG(age) FROM Titanic WHERE pclass = 3);''')
avg_age = pg_curs.fetchall()
print('\nAverage age of 1st class passengers:', round(avg_age[0][0], 0))
print('Average age of 2nd class passengers:', round(avg_age[0][1], 0))
print('Average age of 3rd class passengers:', round(avg_age[0][2], 0))

What was the average age of each passenger class?

Average age of 1st class passengers: 39
Average age of 2nd class passengers: 30
Average age of 3rd class passengers: 25

In [8]:
print('What was the average fare by passenger class? By survival?')
pg_curs.execute('''SELECT (SELECT AVG(fare) FROM Titanic WHERE pclass = 1 AND survived = 1),
                            (SELECT AVG(fare) FROM Titanic WHERE pclass = 1 AND survived = 0),
                            (SELECT AVG(fare) FROM Titanic WHERE pclass = 2 AND survived = 1),
                            (SELECT AVG(fare) FROM Titanic WHERE pclass = 2 AND survived = 0),
                            (SELECT AVG(fare) FROM Titanic WHERE pclass = 3 AND survived = 1),
                            (SELECT AVG(fare) FROM Titanic WHERE pclass = 3 AND survived = 0);''')
avg_fare = pg_curs.fetchall()
print('\nAverage fare for 1st class passengers who survived: $', round(avg_fare[0][0], 2))
print('Average fare for 1st class passengers who died: $', round(avg_fare[0][1], 2))
print('\nAverage fare for 2nd class passengers who survived: $', round(avg_fare[0][2], 2))
print('Average fare for 2nd class passengers who died: $', round(avg_fare[0][3], 2))
print('\nAverage fare for 3rd class passengers who survived: $', round(avg_fare[0][4], 2))
print('Average fare for 3rd class passengers who died: $', round(avg_fare[0][5], 2))

What was the average fare by passenger class? By survival?

Average fare for 1st class passengers who survived: $ 95.61
Average fare for 1st class passengers who died: $ 64.68

Average fare for 2nd class passengers who survived: $ 22.06
Average fare for 2nd class passengers who died: $ 19.41

Average fare for 3rd class passengers who survived: $ 13.69
Average fare for 3rd class passengers who died: $ 13.71

In [9]:
print('How many siblings/spouses aboard on average, by passenger class? By survival?')
pg_curs.execute('SELECT AVG(siblings_spouses) FROM Titanic GROUP BY pclass, survived ORDER BY pclass, survived')
pg_curs.fetchall()

How many siblings/spouses aboard on average, by passenger class? By survival?

[(Decimal('0.28750000000000000000'),),
 (Decimal('0.49264705882352941176'),),
 (Decimal('0.31958762886597938144'),),
 (Decimal('0.49425287356321839080'),),
 (Decimal('0.67934782608695652174'),),
 (Decimal('0.43697478991596638655'),)]

In [10]:
# I prefer the output on this version
print('How many siblings/spouses aboard on average, by passenger class? By survival?')
pg_curs.execute('''SELECT (SELECT AVG(siblings_spouses) FROM Titanic WHERE pclass = 1 AND survived = 1),
                            (SELECT AVG(siblings_spouses) FROM Titanic WHERE pclass = 1 AND survived = 0),
                            (SELECT AVG(siblings_spouses) FROM Titanic WHERE pclass = 2 AND survived = 1),
                            (SELECT AVG(siblings_spouses) FROM Titanic WHERE pclass = 2 AND survived = 0),
                            (SELECT AVG(siblings_spouses) FROM Titanic WHERE pclass = 3 AND survived = 1),
                            (SELECT AVG(siblings_spouses) FROM Titanic WHERE pclass = 3 AND survived = 0);''')
sib_spouse = pg_curs.fetchall()
print('\n1st class survivors, average siblings/spouses:', round(sib_spouse[0][0], 2))
print('1st class nonsurvivors, average siblings/spouses:', round(sib_spouse[0][1], 2))
print('\n2nd class survivors, average siblings/spouses:', round(sib_spouse[0][2], 2))
print('2nd class nonsurvivors, average siblings/spouses:', round(sib_spouse[0][3], 2))
print('\n3rd class survivors, average siblings/spouses:', round(sib_spouse[0][4], 2))
print('3rd class nonsurvivors, average siblings/spouses:', round(sib_spouse[0][5], 2))

How many siblings/spouses aboard on average, by passenger class? By survival?

1st class survivors, average siblings/spouses: 0.49
1st class nonsurvivors, average siblings/spouses: 0.29

2nd class survivors, average siblings/spouses: 0.49
2nd class nonsurvivors, average siblings/spouses: 0.32

3rd class survivors, average siblings/spouses: 0.44
3rd class nonsurvivors, average siblings/spouses: 0.68

In [11]:
# Practicing grouping
print('How many parents/children aboard on average, by passenger class? By survival?')
pg_curs.execute('SELECT AVG(parents_children) FROM Titanic GROUP BY pclass, survived ORDER BY pclass, survived')
pg_curs.fetchall()

How many parents/children aboard on average, by passenger class? By survival?

[(Decimal('0.30000000000000000000'),),
 (Decimal('0.38970588235294117647'),),
 (Decimal('0.14432989690721649485'),),
 (Decimal('0.64367816091954022989'),),
 (Decimal('0.38858695652173913043'),),
 (Decimal('0.42016806722689075630'),)]

In [12]:
print('How many parents/children aboard on average, by passenger class? By survival?')
pg_curs.execute('''SELECT (SELECT AVG(parents_children) FROM Titanic WHERE pclass = 1 AND survived = 1),
                            (SELECT AVG(parents_children) FROM Titanic WHERE pclass = 1 AND survived = 0),
                            (SELECT AVG(parents_children) FROM Titanic WHERE pclass = 2 AND survived = 1),
                            (SELECT AVG(parents_children) FROM Titanic WHERE pclass = 2 AND survived = 0),
                            (SELECT AVG(parents_children) FROM Titanic WHERE pclass = 3 AND survived = 1),
                            (SELECT AVG(parents_children) FROM Titanic WHERE pclass = 3 AND survived = 0);''')
sib_spouse = pg_curs.fetchall()
print('\n1st class survivors, average parents/children:', round(sib_spouse[0][0], 2))
print('1st class nonsurvivors, average parents/children:', round(sib_spouse[0][1], 2))
print('\n2nd class survivors, average parents/children:', round(sib_spouse[0][2], 2))
print('2nd class nonsurvivors, average parents/children:', round(sib_spouse[0][3], 2))
print('\n3rd class survivors, average parents/children:', round(sib_spouse[0][4], 2))
print('3rd class nonsurvivors, average parents/children:', round(sib_spouse[0][5], 2))

How many parents/children aboard on average, by passenger class? By survival?

1st class survivors, average parents/children: 0.39
1st class nonsurvivors, average parents/children: 0.30

2nd class survivors, average parents/children: 0.64
2nd class nonsurvivors, average parents/children: 0.14

3rd class survivors, average parents/children: 0.42
3rd class nonsurvivors, average parents/children: 0.39

In [13]:
print('Do any passengers have the same name?')
pg_curs.execute('SELECT name FROM Titanic GROUP BY name HAVING COUNT(name) > 1')
pg_curs.fetchall()

Do any passengers have the same name?

[]