## Assignment
Practice! Go back to both your deployed PostgreSQL (Titanic data) and MongoDB (RPG data) instances - use MongoDB queries to answer the same questions as you did from the first module (when the RPG data was in SQLite). With PostgreSQL, answer the following:


How many passengers were in each class?

How many passengers survived/died within each class?

What was the average age of survivors vs nonsurvivors?

What was the average age of each passenger class?

What was the average fare by passenger class? By survival?

How many siblings/spouses aboard on average, by passenger class? By survival?

How many parents/children aboard on average, by passenger class? By survival?

Do any passengers have the same name?
(Bonus! Hard, may require pulling and processing with Python) How many married couples were aboard the Titanic? Assume that two people (one Mr. and one Mrs.) with the same last name and with at least 1 sibling/spouse aboard are a married couple.

In [4]:
import pandas as pd
import psycopg2
import sqlite3

In [5]:
# don't commit this 
dbname = 'fcwzndmv'
user = 'fcwzndmv'
password = 'YLGVHWKN0OPkARvdDS0YT4C2H8_alwt_' 
host = 'salt.db.elephantsql.com'


# connection object and cursor
pg_conn = psycopg2.connect(dbname=dbname, user=user,
                        password=password, host=host)

pg_curs = pg_conn.cursor()

In [6]:
# How many passengers survived, and how many died?

pg_curs.execute('SELECT COUNT(*) FROM titanic WHERE survived = 1')
survived = pg_curs.fetchall()
survived[0][0]

342

In [7]:
pg_curs.execute('SELECT COUNT(*) FROM titanic WHERE survived = 0')
died = pg_curs.fetchall()
died[0][0]

545

In [8]:
# How many passengers survived/died within each class?

pg_curs.execute('SELECT COUNT(*) FROM titanic WHERE survived = 1 GROUP BY pclass ORDER BY pclass ASC')
pclasses_survived = pg_curs.fetchall()
pclasses_survived

[(136,), (87,), (119,)]

In [9]:
pg_curs.execute('SELECT COUNT(*) FROM titanic WHERE survived = 0 GROUP BY pclass ORDER BY pclass ASC')
pclasses_died = pg_curs.fetchall()
pclasses_died

[(80,), (97,), (368,)]

In [10]:
# What was the average age of survivors vs nonsurvivors?

pg_curs.execute('SELECT AVG(age) FROM titanic WHERE survived = 1')
survived_age = pg_curs.fetchall()
survived_age

[(28.4083918128272,)]

In [11]:
pg_curs.execute('SELECT AVG(age) FROM titanic WHERE survived = 0')
dead_age = pg_curs.fetchall()
dead_age

[(30.1385321100917,)]

In [12]:
# What was the average age of each passenger class?

pg_curs.execute('SELECT AVG(age) FROM titanic GROUP BY pclass ORDER BY pclass ASC')
pclass_age = pg_curs.fetchall()
pclass_age

[(38.7889814815587,), (29.8686413042571,), (25.188747433238,)]

In [13]:
# What was the average fare by passenger class? By survival?

pg_curs.execute('SELECT AVG(fare) FROM titanic GROUP BY pclass ORDER BY pclass ASC')
pclass_fare = pg_curs.fetchall()
pclass_fare

[(84.154687528257,), (20.6621831810993,), (13.7077075010452,)]

In [14]:
pg_curs.execute('SELECT AVG(fare) FROM titanic GROUP BY survived ORDER BY survived DESC')
survival_fare = pg_curs.fetchall()
survival_fare

[(48.3954076976107,), (22.2085840951412,)]

In [15]:
# How many siblings/spouses aboard on average, by passenger class? By survival?

pg_curs.execute('SELECT pclass, AVG(siblings_spouses_aboard) FROM titanic GROUP BY pclass ORDER BY pclass ASC')
pclass_sibs = pg_curs.fetchall()
pclass_sibs

[(1, Decimal('0.41666666666666666667')),
 (2, Decimal('0.40217391304347826087')),
 (3, Decimal('0.62012320328542094456'))]

In [16]:
pg_curs.execute('SELECT AVG(siblings_spouses_aboard) FROM titanic GROUP BY survived ORDER BY survived DESC')
survival_sibs = pg_curs.fetchall()
survival_sibs

[(Decimal('0.47368421052631578947'),), (Decimal('0.55779816513761467890'),)]

In [17]:
# How many parents/children aboard on average, by passenger class? By survival?


pg_curs.execute('SELECT AVG(parents_children_aboard) FROM titanic GROUP BY pclass ORDER BY pclass ASC')
pclass_parents = pg_curs.fetchall()
pclass_parents

[(Decimal('0.35648148148148148148'),),
 (Decimal('0.38043478260869565217'),),
 (Decimal('0.39630390143737166324'),)]

In [18]:
pg_curs.execute('SELECT AVG(parents_children_aboard) FROM titanic GROUP BY survived ORDER BY survived DESC')
survival_parents = pg_curs.fetchall()
survival_parents

[(Decimal('0.46491228070175438596'),), (Decimal('0.33211009174311926606'),)]

In [19]:
# Do any passengers have the same name?

pg_curs.execute('SELECT name, COUNT(*) FROM titanic GROUP BY name HAVING COUNT(*) > 1')
same_name = pg_curs.fetchall()
same_name

[]