In [1]:
import northwind     # see northwind.py

In [2]:
dir(northwind)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'avg_employee_age',
 'avg_employee_per_city',
 'conn',
 'curs',
 'employee_with_most_territories',
 'largest_category_by_unique_products',
 'most_expensive_items',
 'most_expensive_items_and_city',
 'pd',
 'sqlite3']

In [3]:
northwind.most_expensive_items()

               ProductName  UnitPrice
0            Côte de Blaye     263.50
1  Thüringer Rostbratwurst     123.79
2          Mishi Kobe Niku      97.00
3   Sir Rodney's Marmalade      81.00
4         Carnarvon Tigers      62.50
5     Raclette Courdavault      55.00
6    Manjimup Dried Apples      53.00
7           Tarte au sucre      49.30
8              Ipoh Coffee      46.00
9        Rössle Sauerkraut      45.60

In [4]:
northwind.avg_employee_age()

   AVG(HireDate-BirthDate)
0                37.222222

In [5]:
northwind.avg_employee_per_city()

       City  AVG(HireDate-BirthDate)
0  Kirkland                     29.0
1    London                     32.5
2   Redmond                     56.0
3   Seattle                     40.0
4    Tacoma                     40.0

In [6]:
northwind.most_expensive_items_and_city()

   UnitPrice                        CompanyName
0     263.50         Aux joyeux ecclésiastiques
1     123.79  Plutzer Lebensmittelgroßmärkte AG
2      97.00                      Tokyo Traders
3      81.00           Specialty Biscuits, Ltd.
4      62.50                      Pavlova, Ltd.
5      55.00                       Gai pâturage
6      53.00                        G'day, Mate
7      49.30                   Forêts d'érables
8      46.00                       Leka Trading
9      45.60  Plutzer Lebensmittelgroßmärkte AG

In [7]:
northwind.largest_category_by_unique_products()

   CategoryId  COUNT(distinct O.ProductID)
0           3                           13
1           1                           12
2           2                           12
3           8                           12
4           4                           10
5           5                            7
6           6                            6
7           7                            5

In [8]:
northwind.employee_with_most_territories()

   Id FirstName   LastName  COUNT(ET.TerritoryID)
0   7    Robert       King                     10
1   2    Andrew     Fuller                      7
2   5    Steven   Buchanan                      7
3   9      Anne  Dodsworth                      7
4   6   Michael     Suyama                      5
5   3     Janet  Leverling                      4
6   8     Laura   Callahan                      4
7   4  Margaret    Peacock                      3
8   1     Nancy    Davolio                      2