In [1]:
import psycopg2
import pandas as pd
import sqlite3

In [3]:
df = pd.read_csv('titanic.csv')
engine = sqlite3.connect('Titanic.sqlite3')
df.to_sql('Titanic', con=engine, index=False)

C:\Users\Samue\Anaconda3\lib\site-packages\pandas\core\generic.py:2130: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

In [7]:
curs = engine.cursor()
tit = curs.execute('PRAGMA table_info(Titanic);').fetchall()
tit

[(0, 'Survived', 'INTEGER', 0, None, 0),
 (1, 'Pclass', 'INTEGER', 0, None, 0),
 (2, 'Name', 'TEXT', 0, None, 0),
 (3, 'Sex', 'TEXT', 0, None, 0),
 (4, 'Age', 'REAL', 0, None, 0),
 (5, 'Siblings/Spouses Aboard', 'INTEGER', 0, None, 0),
 (6, 'Parents/Children Aboard', 'INTEGER', 0, None, 0),
 (7, 'Fare', 'REAL', 0, None, 0)]

In [8]:
dbname = 'gtnvnumb'
user = 'gtnvnumb'
password = '2pmgM40HrLJtJGdm1RcBFdezc_j5rrqH'
host = 'salt.db.elephantsql.com'
pg_conn = psycopg2.connect(dbname=dbname, user=user,
                               password=password, host=host)
pg_curs = pg_conn.cursor()

In [15]:
create_titanic_table = '''
CREATE TABLE Titanic (
  index SERIAL PRIMARY KEY,
  Survived INT,
  Pclass INT,
  Name TEXT,
  Sex TEXT,
  Age REAL,
  Siblings/Spouses Aboard INT,
  Parents/Children Aboard INT,
  Fare REAL
  );
  '''

In [16]:
peoples = curs.execute('SELECT * FROM Titanic;').fetchall()

In [17]:
example_insert = '''
INSERT INTO Titanic
(index, Survived, Pclass, Name, Sex, Age, Siblings/Spouses Aboard, Parents/Children Aboard, Fare)
VALUES ''' + str(peoples[0][1:])

In [18]:
print(example_insert)

INSERT INTO Titanic
(index, Survived, Pclass, Name, Sex, Age, Siblings/Spouses Aboard, Parents/Children Aboard, Fare)
VALUES (3, 'Mr. Owen Harris Braund', 'male', 22.0, 1, 0, 7.25)

In [ ]:
for people in peoples:
    insert_person = '''
    INSERT INTO Titanic
    (index, Survived, Pclass, Name, Sex, Age, Siblings/Spouses Aboard, Parents/Children Aboard, Fare)
    VALUES ''' + str(peoples[0][1:])'
    #print(insert_character)
    pg_curs.execute(insert_character)