In [1]:
# ./usr/bin/env python

# Insert titanic data into the postgres database
import psycopg2 as pg
import pandas as pd
import sqlite3

In [2]:
pg.connect

In [3]:
# Username and password to be set by user.
dbname = 
user = 
password = 
host = 
conn = pg.connect(dbname=dbname, user=user, password=password, host=host)
pg_cur = conn.cursor()

In [4]:
titanic = pd.read_csv('titanic.csv')
titanic.Name = titanic.Name.replace("'", '', regex=True)
titanic_list = titanic.values.tolist()

In [5]:
# titanic.iloc[0].values

In [6]:
# titanic.to_sql

In [7]:
# Creating Titanic Table
create_titanic_table = """CREATE TABLE titanic (
    Survived int,
    Pclass int,
    Name text,
    Sex text,
    Age numeric(4, 2),
    Siblings_Spouses_Aboard int,
    Parents_Children_Aboard int,
    Fare numeric(7, 4)
);"""


pg_cur.execute(create_titanic_table)

for item in titanic_list:
#     string = str(result.values.tolist())[1:-1]
    insert_item = """INSERT INTO titanic
    (Survived, Pclass, Name, Sex, Age, Siblings_Spouses_Aboard, Parents_Children_Aboard, Fare)
    VALUES""" + str(tuple(item))
    pg_cur.execute(insert_item)

conn.commit()

In [ ]:
# pg_cur.execute('SELECT * FROM titanic LIMIT 5;')
# pg_cur.fetchall()
# pg_conn.commit()