In [1]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading https://files.pythonhosted.org/packages/e2/0b/ff99d01a6660bca8a7fa759e14358706597a0a788b60f5fe09a2a1633e39/psycopg2_binary-2.7.7-cp37-cp37m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (1.5MB)
    100% |████████████████████████████████| 1.5MB 6.7MB/s ta 0:00:011
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.7.7

In [2]:
import psycopg2

In [5]:

# be sure to remove these before committing notebook

In [6]:
conn = psycopg2.connect(dbname = dbname, user=user, password=password,
                        host=host)

In [7]:
curs = conn.cursor()

In [8]:
curs.execute('SELECT * FROM test_table;')
curs.fetchall()

[(1, 'A row name', None),
 (2, 'Another row, with JSON', {'a': 1, 'b': ['dog', 'cat', 42], 'c': True})]

In [9]:
!wget https://github.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module1-introduction-to-sql/rpg_db.sqlite3?raw=true
!mv 'rpg_db.sqlite3?raw=true' rpg_db.sqlite3

--2019-03-26 15:59:51--  https://github.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/module1-introduction-to-sql/rpg_db.sqlite3?raw=true
Resolving github.com (github.com)... 192.30.255.112, 192.30.255.113
Connecting to github.com (github.com)|192.30.255.112|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://github.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/raw/master/module1-introduction-to-sql/rpg_db.sqlite3 [following]
--2019-03-26 15:59:57--  https://github.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/raw/master/module1-introduction-to-sql/rpg_db.sqlite3
Reusing existing connection to github.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module1-introduction-to-sql/rpg_db.sqlite3 [following]
--2019-03-26 15:59:58--  https://raw.githubusercontent.com/LambdaSchool/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module1-introduction-to-sql/rpg_db.sqlite3
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.196.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.196.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 253952 (248K) [application/octet-stream]
Saving to: ‘rpg_db.sqlite3?raw=true’

rpg_db.sqlite3?raw= 100%[===================>] 248.00K   443KB/s    in 0.6s

2019-03-26 15:59:59 (443 KB/s) - ‘rpg_db.sqlite3?raw=true’ saved [253952/253952]

In [10]:
import sqlite3
sl_conn = sqlite3.connect('rpg_db.sqlite3')
sl_curs = sl_conn.cursor()

In [11]:
sl_curs.execute('SELECT COUNT(*) FROM charactercreator_character;').fetchall()

[(302,)]

In [12]:
characters = sl_curs.execute('SELECT * FROM charactercreator_character;').fetchall()

In [13]:
characters[0]

(1, 'Aliquid iste optio reiciendi', 0, 0, 10, 1, 1, 1, 1)

In [14]:
characters[-1]

(302, 'Aliquam n', 0, 0, 10, 1, 1, 1, 1)

In [15]:
create_character_table = """
CREATE TABLE charactercreator_character (
  character_id SERIAL PRIMARY KEY,
  name VARCHAR(30),
  level INT,
  exp INT,
  hp INT,
  strength INT,
  intelligence INT,
  dexterity INT,
  wisdom INT
)
"""

In [17]:
curs.execute(create_character_table)

In [18]:
characters[0][1:]

('Aliquid iste optio reiciendi', 0, 0, 10, 1, 1, 1, 1)

In [19]:
"""
  INSERT INTO charactercreator_character
  (name, level, exp, hp, strength, intelligence, dexterity, wisdom)
  VALUES""" + str(characters[0][1:])

"\n  INSERT INTO charactercreator_character\n  (name, level, exp, hp, strength, intelligence, dexterity, wisdom)\n  VALUES('Aliquid iste optio reiciendi', 0, 0, 10, 1, 1, 1, 1)"

In [21]:
for character in characters:
  insert_character = """
  INSERT INTO charactercreator_character
  (name, level, exp, hp, strength, intelligence, dexterity, wisdom)
  VALUES """ + str(character[1:])
  curs.execute(insert_character)

In [22]:
conn.commit()

In [25]:
curs = conn.cursor()
curs.execute('SELECT * FROM charactercreator_character;')
pg_characters = curs.fetchall()

In [26]:
characters[0]

(1, 'Aliquid iste optio reiciendi', 0, 0, 10, 1, 1, 1, 1)

In [27]:
pg_characters[0]

(1, 'Aliquid iste optio reiciendi', 0, 0, 10, 1, 1, 1, 1)

In [28]:
for character, pg_character in zip(characters, pg_characters):
    assert character == pg_character