In [349]:
conn.close()

In [120]:
import psycopg2
import pandas as pd
import sqlite3

In [121]:
### Connect to ElephantSQL-hosted PostgreSQL
conn = psycopg2.connect(dbname='waizzkeg', user='waizzkeg',
                        password='qn83fIuPrDvRhAS7Th4banRwREmnA3xm', host='otto.db.elephantsql.com')
### A "cursor", a structure to iterate over db records to perform queries
cur = conn.cursor()

In [122]:
### An example query
cur.execute('SELECT * from test_table;')
### Note - nothing happened yet! We need to actually *fetch* from the cursor
cur.fetchone()

(1, 'A row name', None)

In [123]:
df = pd.read_csv('titanic.csv')

df.info

<bound method DataFrame.info of      Survived  Pclass  \
0           0       3
1           1       1
2           1       3
3           1       1
4           0       3
5           0       3
6           0       1
7           0       3
8           1       3
9           1       2
10          1       3
11          1       1
12          0       3
13          0       3
14          0       3
15          1       2
16          0       3
17          1       2
18          0       3
19          1       3
20          0       2
21          1       2
22          1       3
23          1       1
24          0       3
25          1       3
26          0       3
27          0       1
28          1       3
29          0       3
..        ...     ...
857         0       2
858         1       1
859         0       3
860         0       2
861         1       2
862         1       2
863         0       1
864         0       3
865         1       3
866         0       3
867         1       1
868         0       1
869         0       3
870         1       2
871         1       3
872         0       3
873         0       3
874         0       3
875         1       1
876         1       2
877         0       3
878         0       3
879         0       2
880         0       3
881         0       3
882         0       2
883         1       1
884         0       3
885         1       1
886         0       3

                                                         Name     Sex   Age  \
0                                      Mr. Owen Harris Braund    male  22.0
1          Mrs. John Bradley (Florence Briggs Thayer) Cumings  female  38.0
2                                       Miss. Laina Heikkinen  female  26.0
3                 Mrs. Jacques Heath (Lily May Peel) Futrelle  female  35.0
4                                     Mr. William Henry Allen    male  35.0
5                                             Mr. James Moran    male  27.0
6                                      Mr. Timothy J McCarthy    male  54.0
7                               Master. Gosta Leonard Palsson    male   2.0
8            Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson  female  27.0
9                          Mrs. Nicholas (Adele Achem) Nasser  female  14.0
10                             Miss. Marguerite Rut Sandstrom  female   4.0
11                                    Miss. Elizabeth Bonnell  female  58.0
12                              Mr. William Henry Saundercock    male  20.0
13                                 Mr. Anders Johan Andersson    male  39.0
14                        Miss. Hulda Amanda Adolfina Vestrom  female  14.0
15                             Mrs. (Mary D Kingcome) Hewlett  female  55.0
16                                        Master. Eugene Rice    male   2.0
17                                Mr. Charles Eugene Williams    male  23.0
18     Mrs. Julius (Emelia Maria Vandemoortele) Vander Planke  female  31.0
19                                     Mrs. Fatima Masselmani  female  22.0
20                                        Mr. Joseph J Fynney    male  35.0
21                                       Mr. Lawrence Beesley    male  34.0
22                                         Miss. Anna McGowan  female  15.0
23                                Mr. William Thompson Sloper    male  28.0
24                               Miss. Torborg Danira Palsson  female   8.0
25   Mrs. Carl Oscar (Selma Augusta Emilia Johansson) Asplund  female  38.0
26                                     Mr. Farred Chehab Emir    male  26.0
27                              Mr. Charles Alexander Fortune    male  19.0
28                                        Miss. Ellen O'Dwyer  female  24.0
29                                         Mr. Lalio Todoroff    male  23.0
..                                                        ...     ...   ...
857                                Mr. Frederick Edward Giles    male  21.0
858        Mrs. Frederick Joel (Margaret Welles Barron) Swift  female  48.0
859                                  Miss. Dorothy Edith Sage  female  14.0
860                                     Mr. John William Gill    male  24.0
861                                   Mrs. (Karolina) Bystrom  female  42.0
862                               Miss. Asuncion Duran y More  female  27.0
863                       Mr. Washington Augustus II Roebling    male  31.0
864                                Mr. Philemon van Melkebeke    male  23.0
865                            Master. Harold Theodor Johnson    male   4.0
866                                          Mr. Cerin Balkic    male  26.0
867           Mrs. Richard Leonard (Sallie Monypeny) Beckwith  female  47.0
868                                   Mr. Frans Olof Carlsson    male  33.0
869                                Mr. Victor Vander Cruyssen    male  47.0
870                      Mrs. Samuel (Hannah Wizosky) Abelson  female  28.0
871                                  Miss. Adele Kiamie Najib  female  15.0
872                              Mr. Alfred Ossian Gustafsson    male  20.0
873                                       Mr. Nedelio Petroff    male  19.0
874                                         Mr. Kristo Laleff    male  23.0
875              Mrs. Thomas Jr (Lily Alexenia Wilson) Potter  female  56.0
876               Mrs. William (Imanita Parrish Hall) Shelley  female  25.0
877                                         Mr. Johann Markun    male  33.0
878                               Miss. Gerda Ulrika Dahlberg  female  22.0
879                              Mr. Frederick James Banfield    male  28.0
880                                     Mr. Henry Jr Sutehall    male  25.0
881                       Mrs. William (Margaret Norton) Rice  female  39.0
882                                      Rev. Juozas Montvila    male  27.0
883                               Miss. Margaret Edith Graham  female  19.0
884                            Miss. Catherine Helen Johnston  female   7.0
885                                      Mr. Karl Howell Behr    male  26.0
886                                        Mr. Patrick Dooley    male  32.0

     Siblings/Spouses Aboard  Parents/Children Aboard      Fare
0                          1                        0    7.2500
1                          1                        0   71.2833
2                          0                        0    7.9250
3                          1                        0   53.1000
4                          0                        0    8.0500
5                          0                        0    8.4583
6                          0                        0   51.8625
7                          3                        1   21.0750
8                          0                        2   11.1333
9                          1                        0   30.0708
10                         1                        1   16.7000
11                         0                        0   26.5500
12                         0                        0    8.0500
13                         1                        5   31.2750
14                         0                        0    7.8542
15                         0                        0   16.0000
16                         4                        1   29.1250
17                         0                        0   13.0000
18                         1                        0   18.0000
19                         0                        0    7.2250
20                         0                        0   26.0000
21                         0                        0   13.0000
22                         0                        0    8.0292
23                         0                        0   35.5000
24                         3                        1   21.0750
25                         1                        5   31.3875
26                         0                        0    7.2250
27                         3                        2  263.0000
28                         0                        0    7.8792
29                         0                        0    7.8958
..                       ...                      ...       ...
857                        1                        0   11.5000
858                        0                        0   25.9292
859                        8                        2   69.5500
860                        0                        0   13.0000
861                        0                        0   13.0000
862                        1                        0   13.8583
863                        0                        0   50.4958
864                        0                        0    9.5000
865                        1                        1   11.1333
866                        0                        0    7.8958
867                        1                        1   52.5542
868                        0                        0    5.0000
869                        0                        0    9.0000
870                        1                        0   24.0000
871                        0                        0    7.2250
872                        0                        0    9.8458
873                        0                        0    7.8958
874                        0                        0    7.8958
875                        0                        1   83.1583
876                        0                        1   26.0000
877                        0                        0    7.8958
878                        0                        0   10.5167
879                        0                        0   10.5000
880                        0                        0    7.0500
881                        0                        5   29.1250
882                        0                        0   13.0000
883                        0                        0   30.0000
884                        1                        2   23.4500
885                        0                        0   30.0000
886                        0                        0    7.7500

[887 rows x 8 columns]>

In [124]:
pd.options.display.max_colwidth = 100
df.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cumings,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [125]:
df['Sex'] = df['Sex'].replace({'female':0,'male':1})

In [126]:
str(tuple(i for i in list(df['Pclass'].value_counts().index)))

'(3, 1, 2)'

In [127]:
cur.execute('''CREATE TYPE pclass AS ENUM '''+str(tuple(str(i) for i in list(df['Pclass'].value_counts().index))))

In [128]:
print(cur.execute('''SELECT enum_range(NULL::pclass)''').fetchall())

AttributeError: 'NoneType' object has no attribute 'fetchall'

In [357]:
#conn = psycopg2.connect(dbname='waizzkeg', user='waizzkeg',
                       # password='qn83fIuPrDvRhAS7Th4banRwREmnA3xm', host='otto.db.elephantsql.com')
def create_db(csv, dbname, user, password, host):
    
    conn = psycopg2.connect(dbname=dbname, user=user,
                        password=password, host=host)
### A "cursor", a structure to iterate over db records to perform queries
    cur = conn.cursor()
    df = pd.read_csv(csv)
    def enum_pclass(file):
        with open(file, "r", encoding='utf-8') as f:
            reader = csv.reader(f)
            i = next(reader)
            lines = f.readlines()
            enums = []
            for line in lines:
                enum = line.split(',',2)[1]
                enums.append(enum)
            t_enums = tuple(set(enums))
        return t_enums
    cur.execute('''DROP TABLE titanic''')
    cur.execute('''DROP TYPE pclass''')
    cur.execute('''CREATE TYPE pclass AS ENUM '''+str(t_enums))
    
    create_table_query_type = '''CREATE TABLE titanic (id SERIAL PRIMARY KEY, survived BOOL NOT NULL,
    pclass pclass, name VARCHAR(255) NOT NULL, sex BOOL NOT NULL, age FLOAT, s_s INT, p_c INT, fare FLOAT);'''
    
    cur.execute(create_table_query_type)
    conn.commit()
    return conn


def create_table(file, conn):
    cur = conn.cursor()
    with open(file, "r", encoding='utf-8') as f:
            reader = csv.reader(f)
            i = next(reader)
            lines = f.readlines()
            for line in lines:
                    survived, pclass = line.split(',',2)[:2]
                    name = line.split(',',3)[2]
                    if line.split(',',4)[3] == 'male':
                        sex =  line.split(',',4)[3].replace('male', '0')
                    else:
                        sex = line.split(',',4)[3].replace('female', '1')
                    age, s_s, p_c = line.split(',')[4:-1] 
                    fare = line.split(',')[-1].replace('\n','')
                    cur.execute('''INSERT INTO titanic (survived, pclass, name, sex, age, s_s, p_c, fare)
                        VALUES(%s, %s, %s, %s, %s, %s,%s, %s);''', (survived, str(pclass), str(name), sex, age, s_s, p_c, fare)
                    )
    conn.commit()
    cur.execute('''SELECT * FROM titanic''')
    print(f'Return from query: {cur.fetchall()}\nSuccess!!!')

In [358]:
conn.close()
create_table('titanic.csv', create_db('titanic.csv', dbname='waizzkeg', user='waizzkeg',
                        password='qn83fIuPrDvRhAS7Th4banRwREmnA3xm', host='otto.db.elephantsql.com'))

Return from query: [(1, False, '3', 'Mr. Owen Harris Braund', False, 22.0, 1, 0, 7.25), (2, True, '1', 'Mrs. John Bradley (Florence Briggs Thayer) Cumings', True, 38.0, 1, 0, 71.2833), (3, True, '3', 'Miss. Laina Heikkinen', True, 26.0, 0, 0, 7.925), (4, True, '1', 'Mrs. Jacques Heath (Lily May Peel) Futrelle', True, 35.0, 1, 0, 53.1), (5, False, '3', 'Mr. William Henry Allen', False, 35.0, 0, 0, 8.05), (6, False, '3', 'Mr. James Moran', False, 27.0, 0, 0, 8.4583), (7, False, '1', 'Mr. Timothy J McCarthy', False, 54.0, 0, 0, 51.8625), (8, False, '3', 'Master. Gosta Leonard Palsson', False, 2.0, 3, 1, 21.075), (9, True, '3', 'Mrs. Oscar W (Elisabeth Vilhelmina Berg) Johnson', True, 27.0, 0, 2, 11.1333), (10, True, '2', 'Mrs. Nicholas (Adele Achem) Nasser', True, 14.0, 1, 0, 30.0708), (11, True, '3', 'Miss. Marguerite Rut Sandstrom', True, 4.0, 1, 1, 16.7), (12, True, '1', 'Miss. Elizabeth Bonnell', True, 58.0, 0, 0, 26.55), (13, False, '3', 'Mr. William Henry Saundercock', False, 20.0, 0, 0, 8.05), (14, False, '3', 'Mr. Anders Johan Andersson', False, 39.0, 1, 5, 31.275), (15, False, '3', 'Miss. Hulda Amanda Adolfina Vestrom', True, 14.0, 0, 0, 7.8542), (16, True, '2', 'Mrs. (Mary D Kingcome) Hewlett', True, 55.0, 0, 0, 16.0), (17, False, '3', 'Master. Eugene Rice', False, 2.0, 4, 1, 29.125), (18, True, '2', 'Mr. Charles Eugene Williams', False, 23.0, 0, 0, 13.0), (19, False, '3', 'Mrs. Julius (Emelia Maria Vandemoortele) Vander Planke', True, 31.0, 1, 0, 18.0), (20, True, '3', 'Mrs. Fatima Masselmani', True, 22.0, 0, 0, 7.225), (21, False, '2', 'Mr. Joseph J Fynney', False, 35.0, 0, 0, 26.0), (22, True, '2', 'Mr. Lawrence Beesley', False, 34.0, 0, 0, 13.0), (23, True, '3', 'Miss. Anna McGowan', True, 15.0, 0, 0, 8.0292), (24, True, '1', 'Mr. William Thompson Sloper', False, 28.0, 0, 0, 35.5), (25, False, '3', 'Miss. Torborg Danira Palsson', True, 8.0, 3, 1, 21.075), (26, True, '3', 'Mrs. Carl Oscar (Selma Augusta Emilia Johansson) Asplund', True, 38.0, 1, 5, 31.3875), (27, False, '3', 'Mr. Farred Chehab Emir', False, 26.0, 0, 0, 7.225), (28, False, '1', 'Mr. Charles Alexander Fortune', False, 19.0, 3, 2, 263.0), (29, True, '3', "Miss. Ellen O'Dwyer", True, 24.0, 0, 0, 7.8792), (30, False, '3', 'Mr. Lalio Todoroff', False, 23.0, 0, 0, 7.8958), (31, False, '1', 'Don. Manuel E Uruchurtu', False, 40.0, 0, 0, 27.7208), (32, True, '1', 'Mrs. William Augustus (Marie Eugenie) Spencer', True, 48.0, 1, 0, 146.5208), (33, True, '3', 'Miss. Mary Agatha Glynn', True, 18.0, 0, 0, 7.75), (34, False, '2', 'Mr. Edward H Wheadon', False, 66.0, 0, 0, 10.5), (35, False, '1', 'Mr. Edgar Joseph Meyer', False, 28.0, 1, 0, 82.1708), (36, False, '1', 'Mr. Alexander Oskar Holverson', False, 42.0, 1, 0, 52.0), (37, True, '3', 'Mr. Hanna Mamee', False, 18.0, 0, 0, 7.2292), (38, False, '3', 'Mr. Ernest Charles Cann', False, 21.0, 0, 0, 8.05), (39, False, '3', 'Miss. Augusta Maria Vander Planke', True, 18.0, 2, 0, 18.0), (40, True, '3', 'Miss. Jamila Nicola-Yarred', True, 14.0, 1, 0, 11.2417), (41, False, '3', 'Mrs. Johan (Johanna Persdotter Larsson) Ahlin', True, 40.0, 1, 0, 9.475), (42, False, '2', 'Mrs. William John Robert (Dorothy Ann Wonnacott) Turpin', True, 27.0, 1, 0, 21.0), (43, True, '2', 'Miss. Simonne Marie Anne Andree Laroche', True, 3.0, 1, 2, 41.5792), (44, True, '3', 'Miss. Margaret Delia Devaney', True, 19.0, 0, 0, 7.8792), (45, False, '3', 'Mr. William John Rogers', False, 30.0, 0, 0, 8.05), (46, False, '3', 'Mr. Denis Lennon', False, 20.0, 1, 0, 15.5), (47, True, '3', "Miss. Bridget O'Driscoll", True, 27.0, 0, 0, 7.75), (48, False, '3', 'Mr. Youssef Samaan', False, 16.0, 2, 0, 21.6792), (49, False, '3', 'Mrs. Josef (Josefine Franchi) Arnold-Franchi', True, 18.0, 1, 0, 17.8), (50, False, '3', 'Master. Juha Niilo Panula', False, 7.0, 4, 1, 39.6875), (51, False, '3', 'Mr. Richard Cater Nosworthy', False, 21.0, 0, 0, 7.8), (52, True, '1', 'Mrs. Henry Sleeper (Myna Haxtun) Harper', True, 49.0, 1, 0, 76.7292), (53, True, '2', 'Mrs. Lizzie (Elizabeth Anne Wilkinson) Faunthorpe', True, 29.0, 1, 0, 26.0), (54, False, '1', 'Mr. Engelhart Cornelius Ostby', False, 65.0, 0, 1, 61.9792), (55, True, '1', 'Mr. Hugh Woolner', False, 46.0, 0, 0, 35.5), (56, True, '2', 'Miss. Emily Rugg', True, 21.0, 0, 0, 10.5), (57, False, '3', 'Mr. Mansouer Novel', False, 28.5, 0, 0, 7.2292), (58, True, '2', 'Miss. Constance Mirium West', True, 5.0, 1, 2, 27.75), (59, False, '3', 'Master. William Frederick Goodwin', False, 11.0, 5, 2, 46.9), (60, False, '3', 'Mr. Orsen Sirayanian', False, 22.0, 0, 0, 7.2292), (61, True, '1', 'Miss. Amelie Icard', True, 38.0, 0, 0, 80.0), (62, False, '1', 'Mr. Henry Birkhardt Harris', False, 45.0, 1, 0, 83.475), (63, False, '3', 'Master. Harald Skoog', False, 4.0, 3, 2, 27.9), (64, False, '1', 'Mr. Albert A Stewart', False, 64.0, 0, 0, 27.7208), (65, True, '3', 'Master. Gerios Moubarek', False, 7.0, 1, 1, 15.2458), (66, True, '2', 'Mrs. (Elizabeth Ramell) Nye', True, 29.0, 0, 0, 10.5), (67, False, '3', 'Mr. Ernest James Crease', False, 19.0, 0, 0, 8.1583), (68, True, '3', 'Miss. Erna Alexandra Andersson', True, 17.0, 4, 2, 7.925), (69, False, '3', 'Mr. Vincenz Kink', False, 26.0, 2, 0, 8.6625), (70, False, '2', 'Mr. Stephen Curnow Jenkin', False, 32.0, 0, 0, 10.5), (71, False, '3', 'Miss. Lillian Amy Goodwin', True, 16.0, 5, 2, 46.9), (72, False, '2', 'Mr. Ambrose Jr Hood', False, 21.0, 0, 0, 73.5), (73, False, '3', 'Mr. Apostolos Chronopoulos', False, 26.0, 1, 0, 14.4542), (74, True, '3', 'Mr. Lee Bing', False, 32.0, 0, 0, 56.4958), (75, False, '3', 'Mr. Sigurd Hansen Moen', False, 25.0, 0, 0, 7.65), (76, False, '3', 'Mr. Ivan Staneff', False, 23.0, 0, 0, 7.8958), (77, False, '3', 'Mr. Rahamin Haim Moutal', False, 28.0, 0, 0, 8.05), (78, True, '2', 'Master. Alden Gates Caldwell', False, 0.83, 0, 2, 29.0), (79, True, '3', 'Miss. Elizabeth Dowdell', True, 30.0, 0, 0, 12.475), (80, False, '3', 'Mr. Achille Waelens', False, 22.0, 0, 0, 9.0), (81, True, '3', 'Mr. Jan Baptist Sheerlinck', False, 29.0, 0, 0, 9.5), (82, True, '3', 'Miss. Brigdet Delia McDermott', True, 31.0, 0, 0, 7.7875), (83, False, '1', 'Mr. Francisco M Carrau', False, 28.0, 0, 0, 47.1), (84, True, '2', 'Miss. Bertha Ilett', True, 17.0, 0, 0, 10.5), (85, True, '3', 'Mrs. Karl Alfred (Maria Mathilda Gustafsson) Backstrom', True, 33.0, 3, 0, 15.85), (86, False, '3', 'Mr. William Neal Ford', False, 16.0, 1, 3, 34.375), (87, False, '3', 'Mr. Selman Francis Slocovski', False, 20.0, 0, 0, 8.05), (88, True, '1', 'Miss. Mabel Helen Fortune', True, 23.0, 3, 2, 263.0), (89, False, '3', 'Mr. Francesco Celotti', False, 24.0, 0, 0, 8.05), (90, False, '3', 'Mr. Emil Christmann', False, 29.0, 0, 0, 8.05), (91, False, '3', 'Mr. Paul Edvin Andreasson', False, 20.0, 0, 0, 7.8542), (92, False, '1', 'Mr. Herbert Fuller Chaffee', False, 46.0, 1, 0, 61.175), (93, False, '3', 'Mr. Bertram Frank Dean', False, 26.0, 1, 2, 20.575), (94, False, '3', 'Mr. Daniel Coxon', False, 59.0, 0, 0, 7.25), (95, False, '3', 'Mr. Charles Joseph Shorney', False, 22.0, 0, 0, 8.05), (96, False, '1', 'Mr. George B Goldschmidt', False, 71.0, 0, 0, 34.6542), (97, True, '1', 'Mr. William Bertram Greenfield', False, 23.0, 0, 1, 63.3583), (98, True, '2', 'Mrs. John T (Ada Julia Bone) Doling', True, 34.0, 0, 1, 23.0), (99, False, '2', 'Mr. Sinai Kantor', False, 34.0, 1, 0, 26.0), (100, False, '3', 'Miss. Matilda Petranec', True, 28.0, 0, 0, 7.8958), (101, False, '3', 'Mr. Pastcho Petroff', False, 29.0, 0, 0, 7.8958), (102, False, '1', 'Mr. Richard Frasar White', False, 21.0, 0, 1, 77.2875), (103, False, '3', 'Mr. Gustaf Joel Johansson', False, 33.0, 0, 0, 8.6542), (104, False, '3', 'Mr. Anders Vilhelm Gustafsson', False, 37.0, 2, 0, 7.925), (105, False, '3', 'Mr. Stoytcho Mionoff', False, 28.0, 0, 0, 7.8958), (106, True, '3', 'Miss. Anna Kristine Salkjelsvik', True, 21.0, 0, 0, 7.65), (107, True, '3', 'Mr. Albert Johan Moss', False, 29.0, 0, 0, 7.775), (108, False, '3', 'Mr. Tido Rekic', False, 38.0, 0, 0, 7.8958), (109, True, '3', 'Miss. Bertha Moran', True, 28.0, 1, 0, 24.15), (110, False, '1', 'Mr. Walter Chamberlain Porter', False, 47.0, 0, 0, 52.0), (111, False, '3', 'Miss. Hileni Zabour', True, 14.5, 1, 0, 14.4542), (112, False, '3', 'Mr. David John Barton', False, 22.0, 0, 0, 8.05), (113, False, '3', 'Miss. Katriina Jussila', True, 20.0, 1, 0, 9.825), (114, False, '3', 'Miss. Malake Attalah', True, 17.0, 0, 0, 14.4583), (115, False, '3', 'Mr. Edvard Pekoniemi', False, 21.0, 0, 0, 7.925), (116, False, '3', 'Mr. Patrick Connors', False, 70.5, 0, 0, 7.75), (117, False, '2', 'Mr. William John Robert Turpin', False, 29.0, 1, 0, 21.0), (118, False, '1', 'Mr. Quigg Edmond Baxter', False, 24.0, 0, 1, 247.5208), (119, False, '3', 'Miss. Ellis Anna Maria Andersson', True, 2.0, 4, 2, 31.275), (120, False, '2', 'Mr. Stanley George Hickman', False, 21.0, 2, 0, 73.5), (121, False, '3', 'Mr. Leonard Charles Moore', False, 19.0, 0, 0, 8.05), (122, False, '2', 'Mr. Nicholas Nasser', False, 32.5, 1, 0, 30.0708), (123, True, '2', 'Miss. Susan Webber', True, 32.5, 0, 0, 13.0), (124, False, '1', 'Mr. Percival Wayland White', False, 54.0, 0, 1, 77.2875), (125, True, '3', 'Master. Elias Nicola-Yarred', False, 12.0, 1, 0, 11.2417), (126, False, '3', 'Mr. Martin McMahon', False, 19.0, 0, 0, 7.75), (127, True, '3', 'Mr. Fridtjof Arne Madsen', False, 24.0, 0, 0, 7.1417), (128, True, '3', 'Miss. Anna Peter', True, 2.0, 1, 1, 22.3583), (129, False, '3', 'Mr. Johan Ekstrom', False, 45.0, 0, 0, 6.975), (130, False, '3', 'Mr. Jozef Drazenoic', False, 33.0, 0, 0, 7.8958), (131, False, '3', 'Mr. Domingos Fernandeo Coelho', False, 20.0, 0, 0, 7.05), (132, False, '3', 'Mrs. Alexander A (Grace Charity Laury) Robins', True, 47.0, 1, 0, 14.5), (133, True, '2', 'Mrs. Leopold (Mathilde Francoise Pede) Weisz', True, 29.0, 1, 0, 26.0), (134, False, '2', 'Mr. Samuel James Hayden Sobey', False, 25.0, 0, 0, 13.0), (135, False, '2', 'Mr. Emile Richard', False, 23.0, 0, 0, 15.0458), (136, True, '1', 'Miss. Helen Monypeny Newsom', True, 19.0, 0, 2, 26.2833), (137, False, '1', 'Mr. Jacques Heath Futrelle', False, 37.0, 1, 0, 53.1), (138, False, '3', 'Mr. Olaf Elon Osen', False, 16.0, 0, 0, 9.2167), (139, False, '1', 'Mr. Victor Giglio', False, 24.0, 0, 0, 79.2), (140, False, '3', 'Mrs. Joseph (Sultana) Boulos', True, 40.0, 0, 2, 15.2458), (141, True, '3', 'Miss. Anna Sofia Nysten', True, 22.0, 0, 0, 7.75), (142, True, '3', 'Mrs. Pekka Pietari (Elin Matilda Dolck) Hakkarainen', True, 24.0, 1, 0, 15.85), (143, False, '3', 'Mr. Jeremiah Burke', False, 19.0, 0, 0, 6.75), (144, False, '2', 'Mr. Edgardo Samuel Andrew', False, 18.0, 0, 0, 11.5), (145, False, '2', 'Mr. Joseph Charles Nicholls', False, 19.0, 1, 1, 36.75), (146, True, '3', 'Mr. August Edvard Andersson', False, 27.0, 0, 0, 7.7958), (147, False, '3', 'Miss. Robina Maggie Ford', True, 9.0, 2, 2, 34.375), (148, False, '2', 'Mr. Michel Navratil', False, 36.5, 0, 2, 26.0), (149, False, '2', 'Rev. Thomas Roussel Davids Byles', False, 42.0, 0, 0, 13.0), (150, False, '2', 'Rev. Robert James Bateman', False, 51.0, 0, 0, 12.525), (151, True, '1', 'Mrs. Thomas (Edith Wearne) Pears', True, 22.0, 1, 0, 66.6), (152, False, '3', 'Mr. Alfonzo Meo', False, 55.5, 0, 0, 8.05), (153, False, '3', 'Mr. Austin Blyler van Billiard', False, 40.5, 0, 2, 14.5), (154, False, '3', 'Mr. Ole Martin Olsen', False, 27.0, 0, 0, 7.3125), (155, False, '1', 'Mr. Charles Duane Williams', False, 51.0, 0, 1, 61.3792), (156, True, '3', 'Miss. Katherine Gilnagh', True, 16.0, 0, 0, 7.7333), (157, False, '3', 'Mr. Harry Corn', False, 30.0, 0, 0, 8.05), (158, False, '3', 'Mr. Mile Smiljanic', False, 37.0, 0, 0, 8.6625), (159, False, '3', 'Master. Thomas Henry Sage', False, 5.0, 8, 2, 69.55), (160, False, '3', 'Mr. John Hatfield Cribb', False, 44.0, 0, 1, 16.1), (161, True, '2', 'Mrs. James (Elizabeth Inglis Milne) Watt', True, 40.0, 0, 0, 15.75), (162, False, '3', 'Mr. John Viktor Bengtsson', False, 26.0, 0, 0, 7.775), (163, False, '3', 'Mr. Jovo Calic', False, 17.0, 0, 0, 8.6625), (164, False, '3', 'Master. Eino Viljami Panula', False, 1.0, 4, 1, 39.6875), (165, True, '3', 'Master. Frank John William Goldsmith', False, 9.0, 0, 2, 20.525), (166, True, '1', 'Mrs. (Edith Martha Bowerman) Chibnall', True, 48.0, 0, 1, 55.0), (167, False, '3', 'Mrs. William (Anna Bernhardina Karlsson) Skoog', True, 45.0, 1, 4, 27.9), (168, False, '1', 'Mr. John D Baumann', False, 60.0, 0, 0, 25.925), (169, False, '3', 'Mr. Lee Ling', False, 28.0, 0, 0, 56.4958), (170, False, '1', 'Mr. Wyckoff Van der hoef', False, 61.0, 0, 0, 33.5), (171, False, '3', 'Master. Arthur Rice', False, 4.0, 4, 1, 29.125), (172, True, '3', 'Miss. Eleanor Ileen Johnson', True, 1.0, 1, 1, 11.1333), (173, False, '3', 'Mr. Antti Wilhelm Sivola', False, 21.0, 0, 0, 7.925), (174, False, '1', 'Mr. James Clinch Smith', False, 56.0, 0, 0, 30.6958), (175, False, '3', 'Mr. Klas Albin Klasen', False, 18.0, 1, 1, 7.8542), (176, False, '3', 'Master. Henry Forbes Lefebre', False, 5.0, 3, 1, 25.4667), (177, False, '1', 'Miss. Ann Elizabeth Isham', True, 50.0, 0, 0, 28.7125), (178, False, '2', 'Mr. Reginald Hale', False, 30.0, 0, 0, 13.0), (179, False, '3', 'Mr. Lionel Leonard', False, 36.0, 0, 0, 0.0), (180, False, '3', 'Miss. Constance Gladys Sage', True, 8.0, 8, 2, 69.55), (181, False, '2', 'Mr. Rene Pernot', False, 39.0, 0, 0, 15.05), (182, False, '3', 'Master. Clarence Gustaf Hugo Asplund', False, 9.0, 4, 2, 31.3875), (183, True, '2', 'Master. Richard F Becker', False, 1.0, 2, 1, 39.0), (184, True, '3', 'Miss. Luise Gretchen Kink-Heilmann', True, 4.0, 0, 2, 22.025), (185, False, '1', 'Mr. Hugh Roscoe Rood', False, 39.0, 0, 0, 50.0), (186, True, '3', "Mrs. Thomas (Johanna Godfrey) O'Brien", True, 26.0, 1, 0, 15.5), (187, True, '1', 'Mr. Charles Hallace Romaine', False, 45.0, 0, 0, 26.55), (188, False, '3', 'Mr. John Bourke', False, 40.0, 1, 1, 15.5), (189, False, '3', 'Mr. Stjepan Turcin', False, 36.0, 0, 0, 7.8958), (190, True, '2', 'Mrs. (Rosa) Pinsky', True, 32.0, 0, 0, 13.0), (191, False, '2', 'Mr. William Carbines', False, 19.0, 0, 0, 13.0), (192, True, '3', 'Miss. Carla Christine Nielsine Andersen-Jensen', True, 19.0, 1, 0, 7.8542), (193, True, '2', 'Master. Michel M Navratil', False, 3.0, 1, 1, 26.0), (194, True, '1', 'Mrs. James Joseph (Margaret Tobin) Brown', True, 44.0, 0, 0, 27.7208), (195, True, '1', 'Miss. Elise Lurette', True, 58.0, 0, 0, 146.5208), (196, False, '3', 'Mr. Robert Mernagh', False, 28.0, 0, 0, 7.75), (197, False, '3', 'Mr. Karl Siegwart Andreas Olsen', False, 42.0, 0, 1, 8.4042), (198, True, '3', 'Miss. Margaret Madigan', True, 21.0, 0, 0, 7.75), (199, False, '2', 'Miss. Henriette Yrois', True, 24.0, 0, 0, 13.0), (200, False, '3', 'Mr. Nestor Cyriel Vande Walle', False, 28.0, 0, 0, 9.5), (201, False, '3', 'Mr. Frederick Sage', False, 17.0, 8, 2, 69.55), (202, False, '3', 'Mr. Jakob Alfred Johanson', False, 34.0, 0, 0, 6.4958), (203, False, '3', 'Mr. Gerious Youseff', False, 45.5, 0, 0, 7.225), (204, True, '3', 'Mr. Gurshon Cohen', False, 18.0, 0, 0, 8.05), (205, False, '3', 'Miss. Telma Matilda Strom', True, 2.0, 0, 1, 10.4625), (206, False, '3', 'Mr. Karl Alfred Backstrom', False, 32.0, 1, 0, 15.85), (207, True, '3', 'Mr. Nassef Cassem Albimona', False, 26.0, 0, 0, 18.7875), (208, True, '3', 'Miss. Helen Carr', True, 16.0, 0, 0, 7.75), (209, True, '1', 'Mr. Henry Blank', False, 40.0, 0, 0, 31.0), (210, False, '3', 'Mr. Ahmed Ali', False, 24.0, 0, 0, 7.05), (211, True, '2', 'Miss. Clear Annie Cameron', True, 35.0, 0, 0, 21.0), (212, False, '3', 'Mr. John Henry Perkin', False, 22.0, 0, 0, 7.25), (213, False, '2', 'Mr. Hans Kristensen Givard', False, 30.0, 0, 0, 13.0), (214, False, '3', 'Mr. Philip Kiernan', False, 22.0, 1, 0, 7.75), (215, True, '1', 'Miss. Madeleine Newell', True, 31.0, 1, 0, 113.275), (216, True, '3', 'Miss. Eliina Honkanen', True, 27.0, 0, 0, 7.925), (217, False, '2', 'Mr. Sidney Samuel Jacobsohn', False, 42.0, 1, 0, 27.0), (218, True, '1', 'Miss. Albina Bazzani', True, 32.0, 0, 0, 76.2917), (219, False, '2', 'Mr. Walter Harris', False, 30.0, 0, 0, 10.5), (220, True, '3', 'Mr. Victor Francis Sunderland', False, 16.0, 0, 0, 8.05), (221, False, '2', 'Mr. James H Bracken', False, 27.0, 0, 0, 13.0), (222, False, '3', 'Mr. George Henry Green', False, 51.0, 0, 0, 8.05), (223, False, '3', 'Mr. Christo Nenkoff', False, 22.0, 0, 0, 7.8958), (224, True, '1', 'Mr. Frederick Maxfield Hoyt', False, 38.0, 1, 0, 90.0), (225, False, '3', 'Mr. Karl Ivar Sven Berglund', False, 22.0, 0, 0, 9.35), (226, True, '2', 'Mr. William John Mellors', False, 19.0, 0, 0, 10.5), (227, False, '3', 'Mr. John Hall Lovell', False, 20.5, 0, 0, 7.25), (228, False, '2', 'Mr. Arne Jonas Fahlstrom', False, 18.0, 0, 0, 13.0), (229, False, '3', 'Miss. Mathilde Lefebre', True, 12.0, 3, 1, 25.4667), (230, True, '1', 'Mrs. Henry Birkhardt (Irene Wallach) Harris', True, 35.0, 1, 0, 83.475), (231, False, '3', 'Mr. Bengt Edvin Larsson', False, 29.0, 0, 0, 7.775), (232, False, '2', 'Mr. Ernst Adolf Sjostedt', False, 59.0, 0, 0, 13.5), (233, True, '3', 'Miss. Lillian Gertrud Asplund', True, 5.0, 4, 2, 31.3875), (234, False, '2', 'Mr. Robert William Norman Leyson', False, 24.0, 0, 0, 10.5), (235, False, '3', 'Miss. Alice Phoebe Harknett', True, 21.0, 0, 0, 7.55), (236, False, '2', 'Mr. Stephen Hold', False, 44.0, 1, 0, 26.0), (237, True, '2', 'Miss. Marjorie Collyer', True, 8.0, 0, 2, 26.25), (238, False, '2', 'Mr. Frederick William Pengelly', False, 19.0, 0, 0, 10.5), (239, False, '2', 'Mr. George Henry Hunt', False, 33.0, 0, 0, 12.275), (240, False, '3', 'Miss. Thamine Zabour', True, 19.0, 1, 0, 14.4542), (241, True, '3', 'Miss. Katherine Murphy', True, 18.0, 1, 0, 15.5), (242, False, '2', 'Mr. Reginald Charles Coleridge', False, 29.0, 0, 0, 10.5), (243, False, '3', 'Mr. Matti Alexanteri Maenpaa', False, 22.0, 0, 0, 7.125), (244, False, '3', 'Mr. Sleiman Attalah', False, 30.0, 0, 0, 7.225), (245, False, '1', 'Dr. William Edward Minahan', False, 44.0, 2, 0, 90.0), (246, False, '3', 'Miss. Agda Thorilda Viktoria Lindahl', True, 25.0, 0, 0, 7.775), (247, True, '2', 'Mrs. William (Anna) Hamalainen', True, 24.0, 0, 2, 14.5), (248, True, '1', 'Mr. Richard Leonard Beckwith', False, 37.0, 1, 1, 52.5542), (249, False, '2', 'Rev. Ernest Courtenay Carter', False, 54.0, 1, 0, 26.0), (250, False, '3', 'Mr. James George Reed', False, 18.0, 0, 0, 7.25), (251, False, '3', 'Mrs. Wilhelm (Elna Matilda Persson) Strom', True, 29.0, 1, 1, 10.4625), (252, False, '1', 'Mr. William Thomas Stead', False, 62.0, 0, 0, 26.55), (253, False, '3', 'Mr. William Arthur Lobb', False, 30.0, 1, 0, 16.1), (254, False, '3', 'Mrs. Viktor (Helena Wilhelmina) Rosblom', True, 41.0, 0, 2, 20.2125), (255, True, '3', 'Mrs. Darwis (Hanne Youssef Razi) Touma', True, 29.0, 0, 2, 15.2458), (256, True, '1', 'Mrs. Gertrude Maybelle Thorne', True, 38.0, 0, 0, 79.2), (257, True, '1', 'Miss. Gladys Cherry', True, 30.0, 0, 0, 86.5), (258, True, '1', 'Miss. Anna Ward', True, 35.0, 0, 0, 512.3292), (259, True, '2', 'Mrs. (Lutie Davis) Parrish', True, 50.0, 0, 1, 26.0), (260, True, '3', 'Master. Edvin Rojj Felix Asplund', False, 3.0, 4, 2, 31.3875), (261, False, '1', 'Mr. Emil Taussig', False, 52.0, 1, 1, 79.65), (262, False, '1', 'Mr. William Harrison', False, 40.0, 0, 0, 0.0), (263, False, '3', 'Miss. Delia Henry', True, 21.0, 0, 0, 7.75), (264, False, '2', 'Mr. David Reeves', False, 36.0, 0, 0, 10.5), (265, False, '3', 'Mr. Ernesti Arvid Panula', False, 16.0, 4, 1, 39.6875), (266, True, '3', 'Mr. Ernst Ulrik Persson', False, 25.0, 1, 0, 7.775), (267, True, '1', 'Mrs. William Thompson (Edith Junkins) Graham', True, 58.0, 0, 1, 153.4625), (268, True, '1', 'Miss. Amelia Bissette', True, 35.0, 0, 0, 135.6333), (269, False, '1', 'Mr. Alexander Cairns', False, 28.0, 0, 0, 31.0), (270, True, '3', 'Mr. William Henry Tornquist', False, 25.0, 0, 0, 0.0), (271, True, '2', 'Mrs. (Elizabeth Anne Maidment) Mellinger', True, 41.0, 0, 1, 19.5), (272, False, '1', 'Mr. Charles H Natsch', False, 37.0, 0, 1, 29.7), (273, True, '3', 'Miss. Hanora Healy', True, 33.0, 0, 0, 7.75)

In [129]:
import csv

In [137]:
reader = csv.reader('titanic.csv')
for i in next(reader):
    print(i)

t

In [321]:
import csv
with open("titanic.csv", "r", encoding='utf-8') as f:
    reader = csv.reader(f)
    i = next(reader)
    survived, pclass, name, sex, age, s_s, p_c = str(line).split(',')[:-1]
    print(survived, pclass, str(name), sex, age, s_s, p_c)

0 3 Mr. Patrick Dooley male 32 0 0

In [ ]:
import csv
def enum_pclass(file):
    with open(file, "r", encoding='utf-8') as f:
        reader = csv.reader(f)
        i = next(reader)
        lines = f.readlines()
        enums = []
        for line in lines:
            survived, pclass, name, sex, age, s_s, p_c = line.split(',')[:-1]
            fare = line.split(',')[-1].replace('\n','')
            query = '''INSERT INTO titanic (survived, pclass, name, sex, age, s_s, p_c, fare)
                VALUES({}, {},{}, {},{}, {},{}, {})'''.format(survived, pclass, name, sex, age, s_s, p_c, fare)
            cur.execute(query)
    conn.cursor()
    cur.execute('''SELECT * FROM titanic''')
    print(f'Return from query: {curr.fetchall()}\nSuccess!!!')
    return t_enums

In [232]:
enum_pclass("titanic.csv")

('3', '1', '2')

In [198]:
tuple??

In [143]:
next(reader)

ValueError: I/O operation on closed file.

In [144]:
lines = f.readlines()

ValueError: I/O operation on closed file.