In [61]:
import os
from dotenv import load_dotenv
import psycopg2
import pandas 

load_dotenv() #> loads contents of the .env file into the script's environment

DB_NAME = os.getenv("DB_NAME")
DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")
DB_HOST = os.getenv("DB_HOST")

print(DB_NAME, DB_USER, DB_PASSWORD, DB_HOST)

connection = psycopg2.connect(dbname=DB_NAME, user=DB_USER, password=DB_PASSWORD, host=DB_HOST)
print("CONNECTION:", connection)

cursor = connection.cursor()
print("CURSOR:", cursor)

lmvpuzqe lmvpuzqe mY4V-4wY0JxKkXem9ELRV0jMJjmGKKyI otto.db.elephantsql.com
CONNECTION: <connection object at 0x0000018C35472268; dsn: 'user=lmvpuzqe password=xxx dbname=lmvpuzqe host=otto.db.elephantsql.com', closed: 0>
CURSOR: <cursor object at 0x0000018C35442AC8; closed: 0>

In [25]:
sql_whatever = """COPY titanic(survived,pclass,name,sex,age,siblings_spouses,parents_children,fare
) 
FROM 'titanic.csv' with (format csv, header true, DELIMITER ',');"""

In [35]:
new_table =""" CREATE TABLE titanic2
(
  survived INT,
  pclass INT,
  name VARCHAR(50),
  sex VARCHAR(10),
  age INT,
  siblings_spouses INT,
  parents_children INT,
  fare FLOAT
);
"""

In [49]:
new_query = "CREATE TABLE titanic7 (Survived INT, Class INT, Name VARCHAR, Sex CHAR, Age FLOAT, Sibling_Spouse INT, Parent_Child INT, Fare FLOAT);"

In [26]:
cursor.execute(sql_whatever)
connection.commit()

SyntaxError: syntax error at or near "\"
LINE 1: \COPY titanic(survived,pclass,name,sex,age,siblings_spouses,...
        ^

In [44]:
cursor.execute(new_query)
connection.commit()

In [52]:
connection.close()

In [15]:
cursor.execute('SELECT * from titanic3;')
result = cursor.fetchall()
print("RESULT:", type(result))
print(result)

RESULT: <class 'list'>
[]

In [55]:
import csv

cursor = connection.cursor()
print("CURSOR:", cursor)
with open('titanic.csv') as f:
    reader = csv.reader(f)
    next(reader) # Skip the header row.
    cursor.execute(new_query
    )
connection.commit()

CURSOR: <cursor object at 0x0000018C35578E48; closed: 0>

DuplicateTable: relation "titanic7" already exists

In [72]:
import sqlite3
filepath = 'rpg_db.sqlite3'
conn = sqlite3.connect(filepath)
curs = conn.cursor()
query = 'SELECT COUNT(*) FROM armory_weapon;'
curs.execute(query)

curs.execute(query).fetchall()

OperationalError: no such table: armory_weapon