In [15]:
import psycopg2 as pg
import sqlite3

In [16]:
pg.connect

In [17]:
pg

In [18]:
dbname = 
user = 
password = 
host = 
conn = pg.connect(dbname=dbname, user=user, password=password, host=host)
dir(conn)

['DataError',
 'DatabaseError',
 'Error',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'NotSupportedError',
 'OperationalError',
 'ProgrammingError',
 'Warning',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'async',
 'async_',
 'autocommit',
 'binary_types',
 'cancel',
 'close',
 'closed',
 'commit',
 'cursor',
 'cursor_factory',
 'deferrable',
 'dsn',
 'encoding',
 'fileno',
 'get_backend_pid',
 'get_dsn_parameters',
 'get_parameter_status',
 'get_transaction_status',
 'isexecuting',
 'isolation_level',
 'lobject',
 'notices',
 'notifies',
 'poll',
 'protocol_version',
 'readonly',
 'reset',
 'rollback',
 'server_version',
 'set_client_encoding',
 'set_isolation_level',
 'set_session',
 'status',
 'string_types',
 'tpc_begin',
 'tpc_commit',
 'tpc_prepare',
 'tpc_recover',
 'tpc_rollback',
 'xid']

In [19]:
cur = conn.cursor()
cur.execute('SELECT * from test_table;')
cur.fetchall()

[(1, 'A row name', None),
 (2, 'Row with JSON', {'x': [1, 2, 3], 'age': 30, 'name': 'John'})]

In [31]:
import pandas as pd
cur.execute('SELECT * from test_table;')
results = cur.fetchall()
results

[(1, 'A row name', None),
 (2, 'Row with JSON', {'x': [1, 2, 3], 'age': 30, 'name': 'John'})]

In [21]:
results[1][2]

{'x': [1, 2, 3], 'age': 30, 'name': 'John'}

In [22]:
df = pd.DataFrame(results[1][2])
df

   x  age  name
0  1   30  John
1  2   30  John
2  3   30  John

In [23]:
df.to_sql

<bound method NDFrame.to_sql of    x  age  name
0  1   30  John
1  2   30  John
2  3   30  John>

In [24]:
import sqlite3
rpg_db = sqlite3.connect('rpg_db.sqlite3')
conn

In [25]:
pg_cur = conn.cursor()
sl_cur = rpg_db.cursor()
sl_cur.execute('SELECT * FROM charactercreator_character LIMIT 5;')

In [28]:
 """Importing from .csv to PostgreSQL. Example of moving data from rpg_db.sqlite3 to PostgreSQL."""

# Get the data from sqlite3
results = sl_cur.execute('SELECT * FROM charactercreator_character;').fetchall()

In [29]:
# Create table and insert data in PostgreSQL
create_character_table = """CREATE TABLE charactercreator_character (
  character_id SERIAL PRIMARY KEY,
  name varchar(30),
  level int,
  exp int,
  hp int,
  strength int,
  intelligence int,
  dexterity int,
  wisdom int
);"""

def make_and_populate_character_table(results):
    pg_cur.execute(create_character_table)

    for result in results:
        insert_result = """INSERT INTO charactercreator_character
        (name, level, exp, hp, strength, intelligence, dexterity, wisdom)
        VALUES""" + str(result[1:])
        pg_cur.execute(insert_result)

    conn.commit()

In [30]:
pg_cur.execute('SELECT * FROM charactercreator_character LIMIT 5;')
pg_cur.fetchall()

[(1, 'Aliquid iste optio reiciendi', 0, 0, 10, 1, 1, 1, 1),
 (2, 'Optio dolorem ex a', 0, 0, 10, 1, 1, 1, 1),
 (3, 'Minus c', 0, 0, 10, 1, 1, 1, 1),
 (4, 'Sit ut repr', 0, 0, 10, 1, 1, 1, 1),
 (5, 'At id recusandae expl', 0, 0, 10, 1, 1, 1, 1)]