In [1]:
import psycopg2
import pandas as pd
import sqlite3

In [2]:
engine = sqlite3.connect('Titanic.sqlite3')

In [3]:
df = pd.read_csv('titanic.csv')
df.columns = ['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings_Spouses_Aboard', 'Parents_Children_Aboard', 'Fare']
df['Name'] = df['Name'].str.replace("'", "")

In [4]:
df.to_sql('Titanic', con=engine, if_exists='replace')

In [5]:
curs = engine.cursor()
curs.execute('PRAGMA table_info(Titanic);').fetchall()

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'Survived', 'INTEGER', 0, None, 0),
 (2, 'Pclass', 'INTEGER', 0, None, 0),
 (3, 'Name', 'TEXT', 0, None, 0),
 (4, 'Sex', 'TEXT', 0, None, 0),
 (5, 'Age', 'REAL', 0, None, 0),
 (6, 'Siblings_Spouses_Aboard', 'INTEGER', 0, None, 0),
 (7, 'Parents_Children_Aboard', 'INTEGER', 0, None, 0),
 (8, 'Fare', 'REAL', 0, None, 0)]

In [6]:
dbname = 'gtnvnumb'
user = 'gtnvnumb'
password = '2pmgM40HrLJtJGdm1RcBFdezc_j5rrqH'
host = 'salt.db.elephantsql.com'
pg_conn = psycopg2.connect(dbname=dbname, user=user,
                               password=password, host=host)
pg_curs = pg_conn.cursor()

In [7]:
create_titanic_table = '''
CREATE TABLE Titanic (
  index SERIAL PRIMARY KEY,
  Survived INT,
  Pclass INT,
  Name TEXT,
  Sex TEXT,
  Age REAL,
  Siblings_Spouses_Aboard INT,
  Parents_Children_Aboard INT,
  Fare REAL
  );
  '''

In [8]:
pg_curs.execute(create_titanic_table)

In [9]:
peoples = curs.execute('SELECT * FROM Titanic;').fetchall()

In [10]:
example_insert = '''
INSERT INTO Titanic
(Survived, Pclass, Name, Sex, Age, Siblings/Spouses Aboard, Parents/Children Aboard, Fare)
VALUES ''' + str(peoples[0][1:])

In [11]:
print(example_insert)

INSERT INTO Titanic
(Survived, Pclass, Name, Sex, Age, Siblings/Spouses Aboard, Parents/Children Aboard, Fare)
VALUES (0, 3, 'Mr. Owen Harris Braund', 'male', 22.0, 1, 0, 7.25)

In [12]:
for people in peoples:
    insert_person = '''
    INSERT INTO Titanic
    (Survived, Pclass, Name, Sex, Age, Siblings_Spouses_Aboard, Parents_Children_Aboard, Fare)
    VALUES ''' + str(people[1:]) + ';'
#     print(insert_person)
    pg_curs.execute(insert_person)

In [13]:
pg_curs.close()
pg_conn.commit()