In [1]:
# pip install -U pip

Collecting pip
  Downloading https://files.pythonhosted.org/packages/5c/e0/be401c003291b56efc55aeba6a80ab790d3d4cece2778288d65323009420/pip-19.1.1-py2.py3-none-any.whl (1.4MB)
    100% |████████████████████████████████| 1.4MB 2.7MB/s ta 0:00:01    18% |██████                          | 256kB 3.0MB/s eta 0:00:01
Installing collected packages: pip
  Found existing installation: pip 19.0.3
    Uninstalling pip-19.0.3:
      Successfully uninstalled pip-19.0.3
Successfully installed pip-19.1.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
# pip install psycopg2
# didn't work

Collecting psycopg2
  Downloading https://files.pythonhosted.org/packages/5c/1c/6997288da181277a0c29bc39a5f9143ff20b8c99f2a7d059cfb55163e165/psycopg2-2.8.3.tar.gz (377kB)
     |████████████████████████████████| 378kB 1.1MB/s eta 0:00:01
    ERROR: Complete output from command python setup.py egg_info:
    ERROR: running egg_info
    creating pip-egg-info/psycopg2.egg-info
    writing pip-egg-info/psycopg2.egg-info/PKG-INFO
    writing dependency_links to pip-egg-info/psycopg2.egg-info/dependency_links.txt
    writing top-level names to pip-egg-info/psycopg2.egg-info/top_level.txt
    writing manifest file 'pip-egg-info/psycopg2.egg-info/SOURCES.txt'

    Error: pg_config executable not found.

    pg_config is required to build psycopg2 from source.  Please add the directory
    containing pg_config to the $PATH or specify the full executable path with the
    option:

        python setup.py build_ext --pg-config /path/to/pg_config build ...

    or with the pg_config option in 'setup.cfg'.

    If you prefer to avoid building psycopg2 from source, please install the PyPI
    'psycopg2-binary' package instead.

    For further information please check the 'doc/src/install.rst' file (also at
    <http://initd.org/psycopg/docs/install.html>).

    ----------------------------------------
ERROR: Command "python setup.py egg_info" failed with error code 1 in /private/var/folders/5x/1ys8f82d07q7y_jsqntsm_jm0000gn/T/pip-install-lrl_juw6/psycopg2/
Note: you may need to restart the kernel to use updated packages.

In [2]:
# pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading https://files.pythonhosted.org/packages/ee/ed/2772267467ba5c21a73d37149da0b49a4343c6646d501dbb1450b492d40a/psycopg2_binary-2.8.3-cp37-cp37m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (1.5MB)
     |████████████████████████████████| 1.6MB 830kB/s eta 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.3
Note: you may need to restart the kernel to use updated packages.

# early lecture example

use grape;

SELECT * FROM athens;
SELECT temp FROM athens;
SELECT temp FROM athens WHERE temp = 95 limit 100;

SELECT distinct ghi FROM athens;

SELECT humidity, temp FROM athens ORDER BY temp ASC; (or anything or DESC)

In [1]:
import psycopg2

In [10]:
# Connect to Elephant SQL hosted PostreSQL
conn = psycopg2.connect(dbname='ciiiryug', user='ciiiryug',
                       password='K4JaUZIyW0gVjKm2zOh7UvuyEzr2qfzc', host='raja.db.elephantsql.com')

In [22]:
# Cursor structure to iterate over db records to perform queries
cursor = conn.cursor()
cursor.execute('SELECT * FROM test_table;')

In [23]:
cursor.fetchone()

(1, 'A row name', None)

In [24]:
import sqlite3
import pandas as pd

In [25]:
# Soccer SQL database work
# Converting from SQL int pandas dataframe
conn = sqlite3.connect('soccer_database.sqlite')
cursor = conn.cursor()

In [27]:
# sqlite_master = default database in use
# SHOW TABLES; is same function in reqular SQL
for row in cursor.execute("SELECT name FROM sqlite_master WHERE type ='table';"):
                          print(row)

('sqlite_sequence',)
('Player_Attributes',)
('Player',)
('Match',)
('League',)
('Country',)
('Team',)
('Team_Attributes',)

In [28]:
country = pd.read_sql_query('SELECT * FROM Country', conn)
league = pd.read_sql_query('SELECT * FROM League', conn)
player = pd.read_sql_query('SELECT * FROM Player', conn)

In [29]:
type(country)

pandas.core.frame.DataFrame

In [30]:
player.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11060 entries, 0 to 11059
Data columns (total 7 columns):
id                    11060 non-null int64
player_api_id         11060 non-null int64
player_name           11060 non-null object
player_fifa_api_id    11060 non-null int64
birthday              11060 non-null object
height                11060 non-null float64
weight                11060 non-null int64
dtypes: float64(1), int64(4), object(2)
memory usage: 604.9+ KB

In [31]:
player.head()

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154

In [33]:
height_150 = pd.read_sql_query('SELECT * FROM Player WHERE height >= 150', conn)

In [34]:
height_150.head()

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154

In [35]:
height_150.shape

(11060, 7)