In [80]:
import pandas as pd 
from sqlalchemy import create_engine
import psycopg2
import sqlite3

In [81]:
titanic = pd.read_csv('titanic.csv')
titanic.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [82]:
titanic.to_sql('titanic', con=engine)

DB_FILEPATH = 'titanic.sqlite3'
conn = sqlite3.connect(DB_FILEPATH)
curs = conn.cursor()

ValueError: Table 'titanic' already exists.

In [ ]:
%load_ext sql

In [ ]:
%sql sqlite:///titanic.sqlite3

In [ ]:
engine.execute('SELECT * FROM titanic').fetchall()

In [ ]:
query = ''' 
SELECT Count(name)
FROM titanic

'''
curs.execute(query)
results = curs.fetchall()
print(results)

In [ ]:
%%