In [1]:
import sqlite3 as sql
import pandas as pd

In [4]:
# connection
con = sql.connect('database.sqlite')
cursor = con.cursor()

In [13]:
for row in cursor.execute('''SELECT name FROM sqlite_master WHERE type='table';'''):
                          print(row)

('sqlite_sequence',)
('Player_Attributes',)
('Player',)
('Match',)
('League',)
('Country',)
('Team',)
('Team_Attributes',)

In [17]:
country = pd.read_sql_query('SELECT * FROM Country', con)
league = pd.read_sql_query('SELECT * FROM League', con)
player = pd.read_sql_query('SELECT * FROM Player', con)

In [19]:
type(country)

pandas.core.frame.DataFrame

In [20]:
player.info

<bound method DataFrame.info of           id  player_api_id             player_name  player_fifa_api_id  \
0          1         505942      Aaron Appindangoye              218353
1          2         155782         Aaron Cresswell              189615
2          3         162549             Aaron Doran              186170
3          4          30572           Aaron Galindo              140161
4          5          23780            Aaron Hughes               17725
5          6          27316              Aaron Hunt              158138
6          7         564793              Aaron Kuhl              221280
7          8          30895            Aaron Lennon              152747
8          9         528212            Aaron Lennox              206592
9         10         101042           Aaron Meijers              188621
10        11          23889           Aaron Mokoena               47189
11        12         231592              Aaron Mooy              194958
12        13         163222          Aaron Muirhead              213568
13        14          40719            Aaron Niguez              183853
14        15          75489            Aaron Ramsey              186561
15        16         597948           Aaron Splaine              226014
16        17         161644   Aaron Taylor-Sinclair              213569
17        18          23499         Aaron Wilbraham                2335
18        19         120919       Aatif Chahechouhe              187939
19        20          46447               Abasse Ba              156626
20        21         167027       Abdelaziz Barrada              192274
21        22         245653   Abdelfettah Boukhriss              202425
22        23         128456  Abdelhamid El Kaoutari              188145
23        24          42664      Abdelkader Ghezzal              178063
24        25         425950         Abdellah Zoubir              212934
25        26          38423      Abdelmajid Oulmers               52782
26        27           3264      Abdelmalek Cherrad               51868
27        28         467485  Abdelmalek El Hasnaoui              209399
28        29         306735     Abdelouahed Chakhsi              210504
29        30          41659        Abderrazak Jadid              149241
...      ...            ...                     ...                 ...
11030  11046         244155                 Zezinho              212639
11031  11047          19696               Zhi Zheng              158293
11032  11048         290868             Zhi-Gin Lam              206209
11033  11049         169594             Zie Diabate              207780
11034  11050         244953            Ziggy Gordon              223263
11035  11051         200607         Ziguy Badibanga              195862
11036  11052         642618        Zinedine Machach              228821
11037  11053         277772              Zinho Gano              204227
11038  11054         246332             Ziri Hammar              202751
11039  11055         532766                    Zizo              222537
11040  11056          27305       Zlatan Bajramovic               31667
11041  11057          35724      Zlatan Ibrahimovic               41236
11042  11058          12574      Zlatan Ljubijankic              176103
11043  11059          39494            Zlatko Dedic              141111
11044  11060          17233           Zlatko Janjic              188405
11045  11061          42860        Zlatko Junuzovic              173474
11046  11062          37128           Zola Matumona              158142
11047  11063          24737             Zoltan Gera              137089
11048  11064         107281          Zoltan Stieber              179712
11049  11065          39801          Zoltan Szelesi              157283
11050  11066         491794         Zoran Josipovic              219943
11051  11067          56929          Zoran Rendulic              188593
11052  11068          99031             Zoran Tosic              105454
11053  11069         192132      Zouhaier Dhaouadhi              195840
11054  11070         282473          Zouhair Feddal              205705
11055  11071          26357          Zoumana Camara                2488
11056  11072         111182            Zsolt Laczko              164680
11057  11073          36491               Zsolt Low              111191
11058  11074          35506     Zurab Khizanishvili               47058
11059  11075          39902      Zvjezdan Misimovic              102359

                  birthday  height  weight
0      1992-02-29 00:00:00  182.88     187
1      1989-12-15 00:00:00  170.18     146
2      1991-05-13 00:00:00  170.18     163
3      1982-05-08 00:00:00  182.88     198
4      1979-11-08 00:00:00  182.88     154
5      1986-09-04 00:00:00  182.88     161
6      1996-01-30 00:00:00  172.72     146
7      1987-04-16 00:00:00  165.10     139
8      1993-02-19 00:00:00  190.50     181
9      1987-10-28 00:00:00  175.26     170
10     1980-11-25 00:00:00  182.88     181
11     1990-09-15 00:00:00  175.26     150
12     1990-08-30 00:00:00  187.96     168
13     1989-04-26 00:00:00  170.18     143
14     1990-12-26 00:00:00  177.80     154
15     1996-10-13 00:00:00  172.72     163
16     1991-04-08 00:00:00  182.88     176
17     1979-10-21 00:00:00  190.50     159
18     1986-07-02 00:00:00  175.26     150
19     1976-07-12 00:00:00  187.96     185
20     1989-06-19 00:00:00  177.80     161
21     1986-10-22 00:00:00  185.42     161
22     1990-03-17 00:00:00  180.34     161
23     1984-12-05 00:00:00  182.88     172
24     1991-12-05 00:00:00  180.34     161
25     1978-09-12 00:00:00  172.72     143
26     1981-01-14 00:00:00  185.42     165
27     1994-02-09 00:00:00  180.34     159
28     1986-10-01 00:00:00  182.88     170
29     1983-06-01 00:00:00  177.80     157
...                    ...     ...     ...
11030  1992-09-23 00:00:00  175.26     161
11031  1980-08-20 00:00:00  180.34     165
11032  1991-06-04 00:00:00  175.26     146
11033  1989-03-02 00:00:00  177.80     143
11034  1993-04-23 00:00:00  180.34     170
11035  1991-11-26 00:00:00  172.72     154
11036  1996-01-05 00:00:00  185.42     163
11037  1993-10-13 00:00:00  198.12     205
11038  1992-07-25 00:00:00  180.34     163
11039  1996-01-10 00:00:00  175.26     148
11040  1979-08-12 00:00:00  182.88     174
11041  1981-10-03 00:00:00  195.58     209
11042  1983-12-15 00:00:00  185.42     176
11043  1984-10-05 00:00:00  182.88     170
11044  1986-05-07 00:00:00  187.96     183
11045  1987-09-26 00:00:00  172.72     152
11046  1981-11-26 00:00:00  165.10     143
11047  1979-04-22 00:00:00  182.88     165
11048  1988-10-16 00:00:00  175.26     148
11049  1981-11-22 00:00:00  182.88     176
11050  1995-08-25 00:00:00  187.96     165
11051  1984-05-22 00:00:00  190.50     179
11052  1987-04-28 00:00:00  170.18     157
11053  1988-01-01 00:00:00  180.34     159
11054  1989-01-01 00:00:00  190.50     172
11055  1979-04-03 00:00:00  182.88     168
11056  1986-12-18 00:00:00  182.88     176
11057  1979-04-29 00:00:00  180.34     154
11058  1981-10-06 00:00:00  185.42     172
11059  1982-06-05 00:00:00  180.34     176

[11060 rows x 7 columns]>

In [22]:
height_over_150 = pd.read_sql_query('''SELECT * FROM player WHERE height > 150''', con)

In [23]:
height_over_150

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154
5,6,27316,Aaron Hunt,158138,1986-09-04 00:00:00,182.88,161
6,7,564793,Aaron Kuhl,221280,1996-01-30 00:00:00,172.72,146
7,8,30895,Aaron Lennon,152747,1987-04-16 00:00:00,165.10,139
8,9,528212,Aaron Lennox,206592,1993-02-19 00:00:00,190.50,181
9,10,101042,Aaron Meijers,188621,1987-10-28 00:00:00,175.26,170
10,11,23889,Aaron Mokoena,47189,1980-11-25 00:00:00,182.88,181
11,12,231592,Aaron Mooy,194958,1990-09-15 00:00:00,175.26,150
12,13,163222,Aaron Muirhead,213568,1990-08-30 00:00:00,187.96,168
13,14,40719,Aaron Niguez,183853,1989-04-26 00:00:00,170.18,143
14,15,75489,Aaron Ramsey,186561,1990-12-26 00:00:00,177.80,154
15,16,597948,Aaron Splaine,226014,1996-10-13 00:00:00,172.72,163
16,17,161644,Aaron Taylor-Sinclair,213569,1991-04-08 00:00:00,182.88,176
17,18,23499,Aaron Wilbraham,2335,1979-10-21 00:00:00,190.50,159
18,19,120919,Aatif Chahechouhe,187939,1986-07-02 00:00:00,175.26,150
19,20,46447,Abasse Ba,156626,1976-07-12 00:00:00,187.96,185
20,21,167027,Abdelaziz Barrada,192274,1989-06-19 00:00:00,177.80,161
21,22,245653,Abdelfettah Boukhriss,202425,1986-10-22 00:00:00,185.42,161
22,23,128456,Abdelhamid El Kaoutari,188145,1990-03-17 00:00:00,180.34,161
23,24,42664,Abdelkader Ghezzal,178063,1984-12-05 00:00:00,182.88,172
24,25,425950,Abdellah Zoubir,212934,1991-12-05 00:00:00,180.34,161
25,26,38423,Abdelmajid Oulmers,52782,1978-09-12 00:00:00,172.72,143
26,27,3264,Abdelmalek Cherrad,51868,1981-01-14 00:00:00,185.42,165
27,28,467485,Abdelmalek El Hasnaoui,209399,1994-02-09 00:00:00,180.34,159
28,29,306735,Abdelouahed Chakhsi,210504,1986-10-01 00:00:00,182.88,170
29,30,41659,Abderrazak Jadid,149241,1983-06-01 00:00:00,177.80,157
...,...,...,...,...,...,...,...
11030,11046,244155,Zezinho,212639,1992-09-23 00:00:00,175.26,161
11031,11047,19696,Zhi Zheng,158293,1980-08-20 00:00:00,180.34,165
11032,11048,290868,Zhi-Gin Lam,206209,1991-06-04 00:00:00,175.26,146
11033,11049,169594,Zie Diabate,207780,1989-03-02 00:00:00,177.80,143
11034,11050,244953,Ziggy Gordon,223263,1993-04-23 00:00:00,180.34,170
11035,11051,200607,Ziguy Badibanga,195862,1991-11-26 00:00:00,172.72,154
11036,11052,642618,Zinedine Machach,228821,1996-01-05 00:00:00,185.42,163
11037,11053,277772,Zinho Gano,204227,1993-10-13 00:00:00,198.12,205
11038,11054,246332,Ziri Hammar,202751,1992-07-25 00:00:00,180.34,163
11039,11055,532766,Zizo,222537,1996-01-10 00:00:00,175.26,148
11040,11056,27305,Zlatan Bajramovic,31667,1979-08-12 00:00:00,182.88,174
11041,11057,35724,Zlatan Ibrahimovic,41236,1981-10-03 00:00:00,195.58,209
11042,11058,12574,Zlatan Ljubijankic,176103,1983-12-15 00:00:00,185.42,176
11043,11059,39494,Zlatko Dedic,141111,1984-10-05 00:00:00,182.88,170
11044,11060,17233,Zlatko Janjic,188405,1986-05-07 00:00:00,187.96,183
11045,11061,42860,Zlatko Junuzovic,173474,1987-09-26 00:00:00,172.72,152
11046,11062,37128,Zola Matumona,158142,1981-11-26 00:00:00,165.10,143
11047,11063,24737,Zoltan Gera,137089,1979-04-22 00:00:00,182.88,165
11048,11064,107281,Zoltan Stieber,179712,1988-10-16 00:00:00,175.26,148
11049,11065,39801,Zoltan Szelesi,157283,1981-11-22 00:00:00,182.88,176
11050,11066,491794,Zoran Josipovic,219943,1995-08-25 00:00:00,187.96,165
11051,11067,56929,Zoran Rendulic,188593,1984-05-22 00:00:00,190.50,179
11052,11068,99031,Zoran Tosic,105454,1987-04-28 00:00:00,170.18,157
11053,11069,192132,Zouhaier Dhaouadhi,195840,1988-01-01 00:00:00,180.34,159
11054,11070,282473,Zouhair Feddal,205705,1989-01-01 00:00:00,190.50,172
11055,11071,26357,Zoumana Camara,2488,1979-04-03 00:00:00,182.88,168
11056,11072,111182,Zsolt Laczko,164680,1986-12-18 00:00:00,182.88,176
11057,11073,36491,Zsolt Low,111191,1979-04-29 00:00:00,180.34,154
11058,11074,35506,Zurab Khizanishvili,47058,1981-10-06 00:00:00,185.42,172
11059,11075,39902,Zvjezdan Misimovic,102359,1982-06-05 00:00:00,180.34,176