In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('demo_date.sqlite3')
conn

In [3]:
curs = conn.cursor()

In [6]:
query = """CREATE TABLE demo (
    s charvar(1),
    x int, 
    y int
)"""
curs.execute(query)

In [7]:
query = """INSERT INTO demo (s, x, y)
           VALUES ('g', 3, 9)"""
curs.execute(query)

In [8]:
query = """INSERT INTO demo (s, x, y)
           VALUES ('v', 5, 7)"""
curs.execute(query)

In [9]:
query = """INSERT INTO demo (s, x, y)
           VALUES ('f', 8, 7)"""
curs.execute(query)

In [11]:
conn.commit()

In [12]:
curs = conn.cursor()

In [20]:
query = """SELECT COUNT(*) FROM demo;"""

In [21]:
result = curs.execute(query)
result = result.fetchall()[0][0]
print(f'Query 1: The demo table has {result} rows')

Query 1: The demo table has 3 rows

In [22]:
query = """SELECT COUNT(*) 
           FROM demo
           WHERE x >= 5 AND y >= 5"""
result = curs.execute(query)
result = result.fetchall()[0][0]
print(f'Query 2: {result} rows have x and y values greater than or equal to 5')

Query 2: 2 rows have x and y values greater than or equal to 5

In [25]:
query = """SELECT COUNT(DISTINCT(y))
           FROM demo"""
result = curs.execute(query)
result = result.fetchall()[0][0]
print(f'Query 3: Column y has {result} unique values')

Query 3: Column y has 2 unique values